{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>


<nav>
    <div class="breadcrumbs">
    	  <ol role="breadcrumbs">
          <li><a href="#">Your services</a></li>
    	    <li><a href="#">Abstraction licences</a></li>
          <li></li>

          <a href="/v11/signin" class="sign-out2">Sign out</a>
          <a href="/v11/change_password" class="change-password">Change password</a>

</ol>
</nav>
</div>

<div class="grid-row">
  <div class="column-full">
<h1 class="heading-large" style="margin-bottom: 10px">
  Your water abstraction licences
</h1>
  </div>
</div>









</div>

<div class="grid-row">
  <div class="column-full">



    <!-- Results page goes here -->
    <div class="license-results" id="results">

      <div class="license-results-header">
        <div class="license-results-header__column">
          <a href="#" aria-label="Sort by licence serial number">Licence serial number<span class="sort-icon"> &#x25be;</span></a>
        </div>
        <div class="license-results-header__column">
          <a href="#" aria-label="Sort by licence name">Licence name</a>
        </div>
        <div class="license-results-header__column"></div>
      </div>
      <a href="/v11/online_licence?wid=1" class="license-result">
        <h2 class="heading-medium license-result__column">03/28/60/0002</h2>
        <p class="license-result__column license-result__column--description">-</p>
        <div class="license-result__column license-result__column--view" aria-hidden="true">View</div>
      </a>
      <a href="/v11/online_licence?wid=2" class="license-result">
        <h2 class="heading-medium license-result__column">03/28/60/0003</h2>
        <p class="license-result__column license-result__column--description">-</p>
        <div class="license-result__column license-result__column--view" aria-hidden="true">View</div>
      </a>
      <a href="/v11/online_licence?wid=3" class="license-result">
        <h2 class="heading-medium license-result__column">03/28/60/0004</h2>
        <p class="license-result__column license-result__column--description">-</p>
        <div class="license-result__column license-result__column--view" aria-hidden="true">View</div>
      </a>
      <a href="/v11/online_licence?wid=4" class="license-result">
        <h2 class="heading-medium license-result__column">03/28/60/0005</h2>
        <p class="license-result__column license-result__column--description">-</p>
        <div class="license-result__column license-result__column--view" aria-hidden="true">View</div>
      </a>
    </div>

  </div>
</div>

<script src="/public/javascripts/underscore.min.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/license_results.js"></script>

</main>
{% endblock %}
