{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>

<nav>
    <div class="breadcrumbs">
    	  <ol role="breadcrumbs">
          <li><a href="#">Your services</a></li>
    	    <li><a href="#">Abstraction licences</a></li>
          <li></li>

          <a href="/v11/signin" class="sign-out2">Sign out</a>
          <a href="/v11/change_password" class="change-password">Change password</a>

</ol>
</nav>
</div>

<div class="grid-row">
  <div class="column-full">
<h1 class="heading-large" style="margin-bottom: 10px">
  Water abstraction licences
</h1>

  </div>

<div class="column-two-thirds">

                <span class="form-label-bold">
    Search licences
                  </span>

      Search licences by licence name or number.


</div>

  <div class="column-full">


          <div class="licences-search">    <span class="contains">Contains</span>

</div>
<input class="button" type="submit" href="/v11/licence_holder_search_results" value="Search">

</div>

  <div class="column-full">
    <table>
      <thead>
        <tr>
          <th class="name-width"><a href="#">Licence serial number<span class="sort-icon"> &#x25be;</span></a>
          <th class="licence-width"><a href="#">Licence name</a></th>
          <th><a href="#"></a></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>03/28/60/0002</td>
          <td>H2Go Power</td>
          <td><a href="#">View</a></td>
        </tr>
        <tr>
          <td>03/28/60/0003</td>
          <td>-</td>
          <td><a href="#">View</a></td>
        </tr>
        <tr>
          <td>03/28/60/0004</td>
          <td>-</td>
          <td><a href="#">View</a></td>
        </tr>
        <tr>
          <td>03/28/60/0005</td>
          <td>Valley's Water</td>
          <td><a href="#">View</a></td>
        </tr>
        <tr>
          <td>03/28/60/0006</td>
          <td>-</td>
          <td><a href="#">View</a></td>
        </tr>
        <tr>
          <td>03/28/60/0002</td>
          <td>North field</td>
          <td><a href="#">View</a></td>
        </tr>
        <tr>
          <td>03/28/60/0003</td>
          <td>1</td>
          <td><a href="#">View</a></td>
        </tr>
        <tr>
          <td>03/28/60/0004</td>
          <td>A</td>
          <td><a href="#">View</a></td>
        </tr>
        <tr>
          <td>03/28/60/0005</td>
          <td>-</td>
          <td><a href="#">View</a></td>
        </tr>
        <tr>
          <td>03/28/60/0006</td>
          <td>Public 12845</td>
          <td><a href="#">View</a></td>
        </tr>

      </tbody>
    </table>
</div>
</div>
</main>
{% endblock %}
