{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back" onclick="history.go(-1)">Back</a>
      <h1 class="heading-large">
Your mobile phone number       </h1>
            <p>We collected this when you created your account, it will be used for …</p>
            07710 555 153</br>
            <a href="/v12_2/pages/mobile_number">Change number</a></br>
            <a href="/v12_2/pages/remove_mobile_number">Remove number</a>

           </div>
         </div>

</main>

{% endblock %}
