{% extends "../admin.html" %}

{% block page_title %}
  Account options - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../partials/nav_head.html" %}

  <!-- page title -->
  <h1  class="heading-large medium-space">Account options</h1>

  <div id="feature-info" class="grid-row flexy">

    <div class="column-two-thirds medium-space">
      <div class="card">
        <!-- <h2 class="heading-medium">Reports</h2> -->
        <ul class="list list-bullet">
          <li>
            <a href="contact-preferences">
              Choose how we contact you
            </a>
          </li>
          <li>
            <a href="change_password/change_password.html">
              Change your account password
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <script src="/public/javascripts/underscore.min.js"></script>
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/javascripts/license_results.js"></script>

</main>
{% endblock %}
