{% extends "../view.html" %}

<!-- page title -->
{% block page_title %}
  Send a notification - GOV.UK
{% endblock %}

  <script src="/public/javascripts/underscore.min.js"></script>
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/javascripts/license_results.js"></script>

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../partials/nav_admin.html" %}

  <div class="medium-space"></div>

  <a href="#" class="link-back medium-space" onclick="history.go(-1)">Back</a>

  <!-- page title -->
  <div class="grid-row medium-space">
    <div class="column-two-thirds">
      <h1  class="heading-large">
        Send notifications to licence holders
      </h1>
    </div>
  </div>

  <!-- search function -->
  <div class="grid-row">
    <div class="column-one-quarter">
      <ul>
        <li><a href="hof-notice">Send HOF notice</a></li>
        <li>Expiry reminder</li>
      </ul>
    </div>

    <div class="column-two-thirds">

      <h2 class="bold-medium small-space">Send expiry reminders</h2>

      <!-- search for expiring licences -->
      <div class="form-group form-group--horizontal">

            <label class="form-label" for="select-box">Licences that will expire within</label>
            <div class="flexy">
              <select class="form-control column-one-third" id="select-box" name="select-box">
                <option>6 months</option>
                <option selected="selected">12 months</option>
                <option>18 months</option>
                <option>24 months</option>
              </select>
              <div class="column-one-third">
                <input id="searchButton" class="button button button-license-search" type="submit" value="Search">
              </div>
            </div>
      </div> <!-- form group -->

    </div>
  </div>

</main>

{% endblock %}
