{% extends "../view.html" %}

<!-- page title -->
{% block page_title %}
  Send a notification - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../partials/nav_admin.html" %}

  <div class="medium-space"></div>

  <a href="#" class="link-back medium-space" onclick="history.go(-1)">Back</a>

  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1  class="heading-large">
        Sending an expiry notice
      </h1>
    </div>
  </div>

  <!-- search function -->
  <div class="grid-row">
    <div class="column-full">

      <form method="post" action="exp-preview">
        <fieldset class="medium-space">

          <legend class="medium-space">
            <span class="body-text">Licences in <span class="bold-small">Avon, Little Avon</span> that will expire before <span class="bold-small">1 June 2020</span> </span>
          </legend>

          <table>
            <thead>
              <tr>
                <th scope="col">
                  <a href="#">
                    Licence number
                    <span class="sort-icon"> &#x25be;</span>
                  </a>
                </th>
                <!-- <th class="text xsmall" scope="col">
                  <a href="#">
                    Licence name
                  </a>
                </th> -->
                <th class="text xsmall" scope="col">
                  <a href="#">
                    Licence holder
                  </a>
                </th>
                <th class="text xsmall" scope="col">
                  <a href="#">
                    Contact information
                  </a>
                </th>
                <th class="text xsmall" scope="col">
                  <a href="#">
                    Licence expiry
                  </a>
                </th>
                <th class="text xsmall" scope="col">
                  <a href="#">
                    Last contact
                  </a>
                </th>
              </tr>
            </thead>

            <tbody>

              <tr>
                <th scope="row">
                  <div class="multiple-choice">
                    <input checked type="checkbox">
                    <label class="bold-xsmall">018/54/0013</label>
                  </div>
                </th>
                <!-- <td class="text xsmall">Big pump</td> -->
                <td class="text xsmall">James Twitch</td>
                <td class="text xsmall">jombodge.twick@massive-water.com</td>
                <td class="text xsmall">31 May 2019</td>
                <td class="text xsmall">2 weeks ago</td>
              </tr>

              <tr>
                <th scope="row">
                  <div class="multiple-choice">
                    <input checked type="checkbox">
                    <label class="bold-xsmall">022/54/0013</label>
                  </div>
                </th>
                <!-- <td class="text xsmall"></td> -->
                <td class="text xsmall">Shuuma Misov</td>
                <td class="text xsmall">shuuma.misov@live.com</td>
                <td class="text xsmall">31 May 2019</td>
                <td class="text xsmall">2 weeks ago</td>
              </tr>

              <tr>
                <th scope="row">
                  <div class="multiple-choice">
                    <input checked type="checkbox">
                    <label class="bold-xsmall">034/01/0014</label>
                  </div>
                </th>
                <!-- <td class="text xsmall">Small shed</td> -->
                <td class="text xsmall">Dave Briar</td>
                <td class="text xsmall">thepicklewanderer77@gmail.com</td>
                <td class="text xsmall">1 June 2019</td>
                <td class="text xsmall">3 weeks ago</td>
              </tr>

              <tr>
                <th scope="row">
                  <div class="multiple-choice">
                    <input checked type="checkbox">
                    <label class="bold-xsmall">038/*22/0013/r001</label>
                  </div>
                </th>
                <!-- <td class="text xsmall">Boathouse</td> -->
                <td class="text xsmall">Barry Boaforre</td>
                <td class="text xsmall">07724 134 574</td>
                <td class="text xsmall">31 June 2019</td>
                <td class="text xsmall old">Last month</style></td>
              </tr>

              <tr>
                <th scope="row">
                  <div class="multiple-choice">
                    <input checked type="checkbox">
                    <label class="bold-xsmall">044/06/0013</label>
                  </div>
                </th>
                <!-- <td class="text xsmall"></td> -->
                <td class="text xsmall">Shannon Sufans</td>
                <td class="text xsmall">01745 651 422</td>
                <td class="text xsmall">31 June 2019</td>
                <td class="text xsmall oldest">Last year</td>
              </tr>

              <tr>
                <th scope="row">
                  <div class="multiple-choice">
                    <input checked type="checkbox">
                    <label class="bold-xsmall">102/81/0131</label>
                  </div>
                </th>
                <!-- <td class="text xsmall"></td> -->
                <td class="text xsmall">Dana Picklotan</td>
                <td class="text xsmall">hello@abstractioneers.com</td>
                <td class="text xsmall">04 July 2019</td>
                <td class="text xsmall oldest">Last year</td>
              </tr>

            </tbody>
          </table>

        </fieldset>

        <input type="submit" value="Continue" class="button" role="button"/></form>

      </div>
    </div>
  </br>

</main>

{% endblock %}
