{% extends "../view.html" %}

<!-- page title -->
{% block page_title %}
  Send a notification - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../partials/nav_admin.html" %}

  <div class="medium-space"></div>

  <a href="#" class="link-back medium-space" onclick="history.go(-1)">Back</a>

  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1  class="heading-large">
        Sending an expiry notice
      </h1>
    </div>
  </div>

  <!-- search function -->
  <div class="grid-row">
    <div class="column-full">

      <div class="table">

        <div class="table-row table-head">
          <div class="table-cell bold-small">
            Licence number
          </div>
          <div class="table-cell bold-small">
            Licence holder
          </div>
          <div class="table-cell bold-small">
            Contact information
          </div>
          <div class="table-cell bold-small">
            Licence end
          </div>
          <div class="table-cell bold-small">
            Contact
          </div>
        </div>

        <div class="table-row">
          <div class="table-cell">
            <div class="multiple-choice">
              <input checked type="checkbox">
              <label class="bold-small">
                <h2>
                  02/11/021/23/
                <h2>
              </label>
            </div>
          </div>
          <div class="table-cell">
            Mariella Bidbod
          </div>
          <div class="table-cell">
            big-prop@bipular.com
          </div>
          <div class="table-cell">
            31 May 2018
          </div>
          <div class="table-cell">
            2 weeks ago
          </div>
        </div>

        <div class="table-row">
          <div class="table-cell">
            <div class="multiple-choice">
              <input checked type="checkbox">
              <label class="bold-small">
                <h2>
                  08/14/014/81/
                <h2>
              </label>
            </div>
          </div>
          <div class="table-cell">
            Mr David Yumski
          </div>
          <div class="table-cell">
            dyums@gmail.com
          </div>
          <div class="table-cell">
            31 May 2018
          </div>
          <div class="table-cell">
            2 weeks ago
          </div>
        </div>

      </div>

    </div>
  </div>

</main>

{% endblock %}
