{% extends "../view.html" %}

<!-- page title -->
{% block page_title %}
  Send a notification - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../partials/nav_admin.html" %}

  <div class="medium-space"></div>

  <a href="#" class="link-back medium-space" onclick="history.go(-1)">Back</a>

  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large tight">
        Sending a hands off flow notice
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="medium-space">
        <p>
          Sending to <span class="bold-small">6 persons</span> (all licence holders) in the <span class="bold-small">Avon, Little Avon</span> catchment.
        </p>
      </div>


      <div class="medium-space">

        <div class="notice">
          <p class="lede">
            The river at the <span class="bold-medium">Little Spanton</span> gauging station has a flow of <span class="bold-medium">22,213m³/s</span>.
          </p>
          <p class="lede">
            Please refer to the paper copy of your licence to check this flow against your relevant conditions.
          </p>
        </div>
      </div>


    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">

      <div>
        <a href="hof-sent" id="submitButton" class="button button" type="submit">Send this notice</a>
      </div>

    </div>
  </div>

</main>
{% endblock %}
