{% extends "../admin.html" %}

<!-- page title -->
{% block page_title %}
  Send a notification - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../partials/nav_admin.html" %}

  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1  class="heading-large">
        Sending an hands off flow notice
      </h1>
    </div>
  </div>

  <!-- confirmation panel -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h2 class="heading-large tight">
          A hands off flow notice sent
        </h2>
        <p class="font-medium">
          A hands off flow notice was sent to 6 recipients, selected by <span class="bold-medium">Avon, Little Avon</span> catchments<br>
        </p>
      </div>

      <p>
        <a href="notice-batches">
          See report for notices
        </a>
      </p>

    </div>
  </div>

</main>
{% endblock %}
