{% extends "../view.html" %}

<!-- page title -->
{% block page_title %}
  Send a notification - GOV.UK
{% endblock %}

  <script src="/public/javascripts/underscore.min.js"></script>
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/javascripts/license_results.js"></script>

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../partials/nav_admin.html" %}

  <div class="medium-space"></div>

  <a href="#" class="link-back medium-space" onclick="history.go(-1)">Back</a>

  <!-- page title -->
  <div class="grid-row medium-space">
    <div class="column-two-thirds">
      <h1  class="heading-large">
        Add a flow measure to this notice
      </h1>
    </div>
  </div>

  <div class="grid-row medium-space">
    <div class="column-two-thirds">

      <div class="form-group">

        <form>
          <div class="form-group">
            <label class="form-label-bold">Gauging station reading</label>
            <input class="form-control" type="numeric">
          </div>
        </form>

        <!-- <input type="submit" value="Continue" class="button" role="button"/> -->
        <a href="hof-preview">
          <input onclick="" value="Continue" class="button" role="button" type="submit">
        </a>

      </div>

    </div>
  </div>
</main>

{% endblock %}
