{% extends "../view.html" %}

<!-- page title -->
{% block page_title %}
  Send a notification - GOV.UK
{% endblock %}

  <script src="/public/javascripts/underscore.min.js"></script>
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/javascripts/license_results.js"></script>

{% block content %}
<main id="content" role="main">

  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>

  <!-- navigation block -->
  {% include "../partials/nav_admin.html" %}

  <div class="big-space"></div>

  <!-- page title -->
  <div class="grid-row medium-space">
    <div class="column-two-thirds">
      <h1  class="heading-large">
        Send notifications to licence holders
      </h1>
    </div>
  </div>

  <!-- search function -->
  <div class="grid-row">
    <div class="column-one-quarter">
      <ul>
        <li>Send HOF notice</a></li>
        <li><a href="expiring-licences">Expiry reminder</a></li>
      </ul>
    </div>

    <div class="column-two-thirds">

      <h2 class="bold-medium small-space">Send a HOF notice</h2>

      <!-- search for expiring licences -->
      <div class="form-group form-group--horizontal">
        <label class="form-label" for="select-box">Region of effect</label>

        <!-- regions -->
        <select class="form-control" name="region" data-disclose="#catchment" id="select-box" name="select-box">
          <option value="" disabled selected>Select your option</option>
          <option value="1" selected>Avon</option>
          <option value="2">Cumbria and Lancashire</option>
          <option value="3">Devon and Cornwall</option>
          <option value="4">East Anglia</option>
          <option value="5">East Midlands</option>
          <option value="6">Greater Manchester Merseyside and Cheshire</option>
          <option value="7">Hertfordshire and North London</option>
          <option value="8">Kent and South London</option>
          <option value="9">Lincolnshire and Northamptonshire</option>
          <option value="10">Northumberland Durham and Tees</option>
          <option value="11">Solent and South Downs</option>
          <option value="12">Thames</option>
          <option value="13">Wessex</option>
          <option value="14">West Midlands</option>
          <option value="15">Yorkshire</option>
        </select>

      </div> <!-- form group end of region form -->

      <!-- search for expiring licences -->
      <div class="form-group form-group--horizontal" id="catchment">

        <label class="form-label" for="select-box">Select a catchment area</label>

        <div>
          <div class="small-space">
            <select class="form-control" id="select-box" name="select-box">
              <option value="" disabled selected>Select a catchment</option>
              <option>Avon, Dart and Erme</option>
              <option>Bristol Avon</option>
              <option>Bristol Avon, Little Avon, Axe and North Somerset Streams</option>
              <option>Brue and Axe and North Somerset Streams</option>
              <option>Little Avon</option>
              <option>Severn Corridor</option>
              <option>Severn Uplands</option>
              <option>Severn Vale</option>
              <option>Severn Vale East</option>
              <option>Severn Vale West</option>
              <option>Stour</option>
              <option>Worcestershire Middle Severn</option>
              <option>Wye</option>
            </select>
            <p>
              <input id="searchButton" class="button button" type="submit" value="Continue">
            </p>
          </div>
        </div>

      </div>

      <!-- <script>         SHOW / HIDE
        $(function() {
          // Hide initially
          $('[data-disclose]').forEach(function() {
            var selector = $(this).attr('data-disclose');
            $(selector).hide();
          });
          // Toggle on value change
          $('[data-disclose]').on('change', function() {
            var val = $(this).val();
            var selector = $(this).attr('data-disclose');
            if(val) {
              $(selector).show();
            }
            else {
              $(selector).hide();
            }
          });
        })
      </script> -->

      <script>
        $(function() {
          // Hide initially
          $('[data-disclose]').forEach(function() {
            var selector = $(this).attr('data-disclose');
            $(selector).hide();
          });
          // Toggle on value change
          $('[data-disclose]').on('change', function() {
            var selector = $(this).attr('data-disclose');
            $(selector).show();
          });
        })
      </script>

    </div>
  </div>

</main>

{% endblock %}
