{% extends "../view.html" %}

{% block page_title %}
  Manage your licences - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

  <!-- beta banner -->
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>

  <!-- navigation block -->
  {% include "../partials/nav_admin.html" %}

  <div class="big-space"></div>

  <!-- page title -->
  <h1  class="heading-large medium-space">Manage accounts</h1>

  <div id="feature-info" class="grid-row flexy">

    <div class="column-one-third medium-space">
      <div class="card">
        <h2 class="heading-medium">Reports</h2>
        <ul class="list list-bullet">
          <li><a href="notice-batches">Notifcations log</a></li>
          <a href="https://datastudio.google.com/embed/reporting/1on24bMHI1dyJqegI40BF7lFFYTsa6YLx/page/lY4N" target="_blank">Water Resource dashboard (opens in a new window)</a>
        </ul>
      </div>
    </div>

    <div class="column-one-third medium-space">
      <div class="card">
        <h2 class="heading-medium">Send a notification</h2>
        <ul class="list list-bullet">
          <li><a href="hof-notice">Hands off flow warning</a></li>
          <li><a href="hof-notice">Hands off flow stop</a></li>
          <li><a href="hof-notice">Hands off flow resume</a></li>
          <li><a href="exp-notice">Expiry notice</a></li>
        </ul>
      </div>
    </div>

    <div class="column-one-third medium-space">
      <div class="card">
        <h2 class="heading-medium">Water service views</h2>
        <ul class="list list-bullet">
          <li><a href="licences-internal-list">I’m here to do abstraction reform</a></li>
        </ul>
      </div>
    </div>

  </div>

  <script src="/public/javascripts/underscore.min.js"></script>
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/javascripts/license_results.js"></script>

</main>
{% endblock %}
