{% extends "../view.html" %}

{% block page_title %}
  Your water abstraction or impoundment licences - GOV.UK
{% endblock %}

<head>
  <script src="jquery-3.3.1.min.js"></script>
</head>

{% block content %}
<main id="content" role="main">

  <!-- spacer -->
  <div class="grid-row big-space"></div>

  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1  class="heading-large">
        WRLS notifications log
      </h1>
    </div>
  </div>

  <div class="big-space"></div>

  <!-- batches -->
  <div class="grid-row">
    <div class="column-full">

      <table>
        <thead>
          <tr class="clickable">
            <th scope="col">
              <a href="#">
                Type
                <span class="sort-icon"> &#x25be;</span>
              </a>
            </th>
            <th class="text" scope="col">
              <a href="#">
                Sender
                <span class="sort-icon"> &#x25be;</span>
              </a>
            </th>
            <th class="text" scope="col">
              <a href="#">
                Date
                <span class="sort-icon"> &#x25be;</span>
              </a>
            </th>
            <th class="text" scope="col">
              <!-- <a href="#"> -->
                <!-- Time -->
                <!-- <span class="sort-icon"> &#x25be;</span> -->
              <!-- </a> -->
            </th>
            <th class="text text-right" scope="col">
              <a href="#">
                Volume
                <span class="sort-icon"> &#x25be;</span>
              </a>
            </th>
          </tr>
        </thead>

        <tbody>

          <tr class="clickable">
            <th scope="row"><a href="notice-log"><a href="">HOF2</a></a></th>
            <th class="text">tim.teace@defra.gsi.gov.uk</td>
            <td class="text">13 May 2018</td>
            <td class="numeric">10.22am</td>
            <td class="numeric">6</td>
          </tr>

          <tr class="clickable">
            <th scope="row"><a href="notice-log">EXP</a></th>
            <th class="text">mozoile.barrapa@environment-agency.com</td>
            <td class="text">13 May 2018</td>
            <td class="numeric">10.01am</td>
            <td class="numeric">1,245</td>
          </tr>

          <tr class="clickable">
            <th scope="row"><a href="notice-log">EXP</a></th>
            <th class="text">rachael.ways@environment-agency.com</td>
            <td class="text">13 May 2018</td>
            <td class="numeric">09.59am</td>
            <td class="numeric">1</td>
          </tr>

          <tr class="clickable">
            <th scope="row"><a href="notice-log">HOF2</a></th>
            <th class="text">mozoile.barrapa@environment-agency.com</td>
            <td class="text">11 May 2018</td>
            <td class="numeric">11.45am</td>
            <td class="numeric">6</td>
          </tr>

          <tr class="clickable">
            <th scope="row"><a href="notice-log">HOF2</a></th>
            <th class="text">rachael.ways@environment-agency.com</td>
            <td class="text">10 May 2018</td>
            <td class="numeric">10.28am</td>
            <td class="numeric">8</td>
          </tr>

          <tr class="clickable">
            <th scope="row"><a href="notice-log">HOF1</a></th>
            <th class="text">rachael.ways@environment-agency.com</td>
            <td class="text">10 May 2018</td>
            <td class="numeric">4.59pm</td>
            <td class="numeric">108</td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>

  <!-- clickble JS -->
  <!-- to make data table rows stylable -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script>
    // Custom
    $(function () {
      // Click on licence list clicks inner link
      $('tr.clickable').on('click', function (ev) {
        window.location.href = $(this).find('a:first').attr('href');
        ev.preventDefault();
      });
    });
  </script>


</main>
{% endblock %}
