{% extends "../view.html" %}

{% block page_title %}
  Your water abstraction or impoundment licences - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- spacer -->
  <div class="grid-row big-space"></div>

  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="sub-head">
        <a href="notice-batches">WRLS notifications log</a>
      </h2>
      <h1 class="heading-xlarge spaceless">
        HOF2
      </h1>
      <h2 class="heading-small spaceless">
        13 May 2018, 10.01am
      </h2>
    </div>

  </div>

  <div class="big-space"></div>

  <!-- batches -->
  <div class="grid-row">
    <div class="column-full">

      <table>
        <thead>
          <tr>
            <th scope="col">
              <a href="#">
                Sent to
                <span class="sort-icon"> &#x25be;</span>
              </a>
            </th>
            <th class="text" scope="col">
              <!-- <a href="#"> -->
                Licence number
                <!-- <span class="sort-icon"> &#x25be;</span> -->
              <!-- </a> -->
            </th>
            <th class="text" scope="col">
              <a href="#">
                Method
                <span class="sort-icon"> &#x25be;</span>
              </a>
            </th>
            <th class="numeric" scope="col">
              <a href="#">
                Status
                <span class="sort-icon"> &#x25be;</span>
              </a>
            </th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <th class="text">jombodge.twick@massive-water.com</th>
            <td scope="row">034/54/0013/r001</td>
            <td class="text">Email</td>
            <td class="text">
              <strong class="task-completed" id="medical-information-completed">
                Read
              </strong>
            </td>
          </tr>

          <tr>
            <th class="text">shuuma.misov@live.com</th>
            <td scope="row">034/54/0013/r001</td>
            <td class="text">Email</td>
            <td class="text">
              
            </td>
          </tr>

          <tr>
            <th class="text">thepicklewanderer77@gmail.com</th>
            <td scope="row">034/54/0013/r001</td>
            <td class="text">SMS</td>
            <td class="text">
              <strong class="task-completed" id="medical-information-completed">
                Read
              </strong>
            </td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>


</main>
{% endblock %}
