{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>


<nav>
    <div class="breadcrumbs">
    	  <ol role="breadcrumbs">
          <li><a href="#">Your services</a></li>
    	    <li>Abstraction licences</li>
          <li></li>

          <a href="/v11/signin" class="sign-out2">Sign out</a>
          <a href="/v11/change_password" class="change-password">Change password</a>

</ol>
</nav>
</div>

<div class="grid-row">
  <div class="column-full">
    <a href="#" class="link-back" onclick="history.go(-1)">Back</a>
</div>
  <div class="column-two-thirds" style="margin-top:20px;">
<span style="font-size: 36px;font-weight:bold;">
  Invite an account to view your water abstraction licences
</span>
</div>
</div>
</br>
<div class="grid-row">
<div class="column-two-thirds">
<p class="lede">Give us the email address you want to share your licence information with.</p>



</div>
</div>
<div class="grid-row">
<div class="column-one-third">
    <input type="text" class="form-control form-control--block" name="licenseNumber" id="licenseNumber" />


  <a class="button" href="user_access" role="button" style="margin-top:20px;">Add user</a>
</div>
</div>

</main>
{% endblock %}
