{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>


<nav>
    <div class="breadcrumbs">
    	  <ol role="breadcrumbs">
          <li><a href="#">Your services</a></li>
    	    <li>Abstraction licences</li>
          <li></li>

          <a href="/v11/signin" class="sign-out2">Sign out</a>
          <a href="/v11/change_password" class="change-password">Change password</a>

</ol>
</nav>
</div>

<div class="grid-row">
  <div class="column-full">
    <a href="#" class="link-back" onclick="history.go(-1)">Back</a>
</div>
  <div class="column-two-thirds" style="margin-top:20px;">
<span style="font-size: 36px;font-weight:bold;">
  Invite sent to test@testuser.co.uk
</span>
</div>
</div>
</br>
<div class="grid-row">
<div class="column-two-thirds">
<p class="lede">The user will recieve instructions on how to view your water abstraction licences.</p>

<a href="licences">Return to licences</a>
<p></p>
<details class="closeOnOpen">
          <summary><span class="summary">Want to remove permissions?</span></summary>

          <p>If you would like to remove access for a user, you can do this on the <a href="manage_licences_views_wendy">Manage licence permission page.</a></p>

</details>
<p></p>


</div>
</div>


</main>
{% endblock %}
