{% extends "v11/licences_views.html" %}

{% block emailfield %}
{% block geoff_instruct %}
{% block manage_licences_link %}
{% block searchform %}
{% block searchresults %}
{% block results_header %}
{% block page_heading %}
{% block no_licences_new_user %}
{% block no_licences_new_user_tab %}
{% block no_users_new_user %}
{% block manage_licences_wendy %}
{% block add_licences_wendy %}
{% block manage_licences_new_wendy %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
