{% extends "v11/licences_views.html" %}

{% block emailfield %}
{% block geoff_instruct %}
{% block manage_licences_link %}
{% block searchform %}
{% block searchresults %}
{% block results_header %}
{% block page_heading %}
{% block no_licences_new_user %}
{% block no_users_new_user_results %}
{% block manage_licence_permissions %}
{% block manage_licences_wendy %}
{% block share_licences %}
{% block wendy_licenc_list_header %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
