<!-- new GDS navigation pattern -->
<div class="content-width big-space">
  <nav id="nav" class="menu">

    <div class="navbar">

      <ul class="navbar__list-items menu-left">
        <li class="navlink">
          <a href="/v21/ex/licences">View licences</a>
        </li>
        <li class="navlink">
          <a href="/v21/ex/returns/returns-list">View returns</a>
        </li>
        <li class="navlink">
          <a href="/v21/ex/manage">Add licences or share licences</a>
        </li>
      </ul>

    </div>
  </nav>
</div>
