{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">

         <!-- only show this error if incorrectLicenceNo param passed through from route-->

            <!--
               <div id='incorrectLicenceNo' class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
                 <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
                   You must select a contact method, and then give us the contact details
                 </h2>
               </div>
-->


       <form method="post" action="/v12_2/contact_details/confirm">

         <h1 class="heading-large">
             Why we need your contact details
           </h1>

           <p class="lede">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent imperdiet dui mi, a ultricies lacus placerat sit amet.</p>

                <p class="lede">Nullam porttitor ac risus ut vehicula. Maecenas at lacinia felis.</p>


         <div class="form-group">
   <fieldset>
             <div class="multiple-choice" data-target="contact-by-email">
               <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
               <label for="example-contact-by-email">Email</label>
             </div>
             <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
               <label class="form-label" for="contact-email">Email address</label>
               <input class="form-control" name="contact-email" type="text" id="contact-email">
             </div>

             <div class="multiple-choice" data-target="contact-by-phone">
               <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
               <label for="example-contact-by-phone">Phone</label>
             </div>
             <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
               <label class="form-label" for="contact-phone">Phone number</label>
               <input class="form-control" name="contact-phone" type="text" id="contact-phone">
             </div>

             <div class="multiple-choice" data-target="contact-by-text">
               <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
               <label for="example-contact-by-text">Text message</label>
             </div>
             <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
               <label class="form-label" for="contact-text-message">Mobile phone number</label>
               <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
             </div>

           </fieldset>
         </div>

     <input type="submit" value="Continue" class="button" role="button"/>
   </form>
 </div>
</div>

</main>


{% endblock %}
