{% extends "../ar/head-signedin.html" %}

<!-- page title -->
{% block page_title %}
  View licences - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- internal beta banner block -->
  {% include "../partials/feedback-banner.html" %}

  <!-- navigation block -->
  {% include "../partials/nav-ar-view.html" %}

  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1  class="heading-large">
        View licences
      </h1>
    </div>
  </div>

  <!-- licence search component -->
  <div class="grid-row medium-space">
    <div class="column-two-thirds">

        <label class="form-label form-label" for="licenceSearch">Search for a licence</label>
        <span class="form-hint">Search by registered email address or licence number</span>

        <div class="flexy">
          <input type="text" class="form-control form-control--block column-two-thirds flex-no-grow" />
          <div class="column-one-third search-button">
            <a href="licences-list" class="button">Search</a>
          </div>
        </div>

    </div>
  </div>

  <script src="/public/v6/javascripts/underscore.min.js"></script>
  <script src="/public/v6/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/v6/javascripts/license_results.js"></script>

</main>

{% endblock %}
