{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
Abstraction conditions
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>
  {% from "custom_inc/waterdatav3.html" import permits %}

  {% for pNumber, pData in permits %}
  {% if pNumber==chosenPermitID %}

  <nav>
    <div class="breadcrumbs">
      <ol role="breadcrumbs">
        <li><a href="#">Your services</a></li>
        <li><a href="/v12_2/online_licence/licences_list/licences">Abstraction licences</a></li>
        <li><a href="/v12_2/pages/online_licence?wid={{ pNumber }}">Licence serial number: {{ pData.LicenceSerialNo }}</a></li>
        <a href="/v12_2/pages/signin" class="sign-out2">Sign out</a>
        <a href="/v12_2/change_password/new_password.html" class="change-password">Change password</a>

      </ol>
    </nav>
  </div>
  <a href="#" class="link-back" onclick="history.go(-1)">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p><strong class="bold-medium">Conditions for licence number {{ pData.LicenceSerialNo }}</strong><br>
      Starts 1 July 2006 and ends 1 July 2018</p>
      <p></p>


      <div class="notice">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          We may not be able to show a full list of your conditions, because we don’t hold all of your licence information on our system yet. You must refer to the paper copy of your licence to view and comply with all of your conditions.
        </strong>
        <p></p>
      </div>
    </div>

    <p></p>

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>Sorry, we don’t hold any information about your conditions on our system yet.<p></p>
  Please check the paper copy of your licence for this information.</p>
    </div>
  </div>

  {% endif %}
  {% endfor %}

</main>

{% endblock %}
