{% extends "../../head.html" %}

{% block page_title %}
  Returns - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- navigation block -->
  {% include "../../partials/beta-banner.html" %}

  <div class="big-space"></div>

  <div class="grid-row big-space">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge clustered">
        First off a letter
      </h1>

      <p>This view would be a letter in an email</p>

      <a href="2-enter-code" class="button">Next step</a>
    </div>
  </div>



</main>
{% endblock %}
