{% extends "../../head.html" %}

{% block page_title %}
  Returns - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- navigation block -->
  {% include "../../partials/beta-banner.html" %}

  <div class="big-space"></div>

  <div class="grid-row big-space">

    <div class="column-two-thirds">

      <h1 class="heading-large">
         Enter your security code
      </h1>

    </div>

    <div class="column-two-thirds">

    <form>
      <div class="form-group">
        <label for="password">
          <span class="form-hint">This is the code in your letter</span>
          <fieldset>
            <span id="returns-code" data-parsely-id="returns-code" class="error-message hidden">Please check your code is correct.</span>
          </fieldset>
        </label>
        <input type="returns-code" data-parsley-pattern="x45Tn" class="form-control" data-parsely-trigger="keyup change" name="returns-code" id="returns-code" required />
      </div>

      <!-- <input onclick="$('#incorrectLogin').hide()" type="submit" value="Continue" class="button" role="button"/> -->
      <a href="3-pass" class="button">Next step</a>
    </form>

  </div>

</main>
{% endblock %}
