{% extends "../../head.html" %}

{% block page_title %}
  Returns - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- navigation block -->
  {% include "../../partials/beta-banner.html" %}

  <div class="big-space"></div>

  <div class="grid-row big-space">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge clustered">
        Setup an account
      </h1>

      <p>We will link your licences to an email address
        <input type="email-address" class="form-control" name="email-address" id="email-address" required />
      </p>

      <p>
        <a href="2-returns-view" class="button">Next step</a>
      </p>
    </div>
  </div>



</main>
{% endblock %}
