{% extends "../../admin.html" %}

<!-- page title -->
{% block page_title %}
  Send a notification - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../../partials/nav-returns.html" %}

  <h1 class="heading-large">
    Returns due for your licences
  </h1>

  <!-- table with four columns -->
  <div class="table medium-space">                                          <!-- a table -->

    <div class="table-row table-head">                                      <!-- the table head -->
      <div class="table-cell bold-small column-33">
        Licence serial number
      </div>
      <div class="table-cell bold-small">
        Licence name
      </div>
      <div class="table-cell bold-small column-20">
        Data return
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->

      <div class="table-cell">
        <h2 class="sr-only">
          Row 1
        </h2>
        <h3 class="context">
          Licence serial number
        </h3>
        <a href="returns-form">
          03/28/60/0032
        </a>
      </div>
      <div class="table-cell">
        <h3 class="context">
          Licence name
        </h3>
        <!-- Licence name -->
      </div>
      <div class="table-cell">
        <h3 class="context">
          Data return
        </h3>
        <strong class="task-completed badge">
          Completed
        </strong>
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->

      <div class="table-cell">
        <h2 class="sr-only">
          Row 2
        </h2>
        <h3 class="context">
          Licence serial number
        </h3>
        <a href="returns-form">
          03/28/60/0033
        </a>
      </div>
      <div class="table-cell">
        <h3 class="context">
          Licence name
        </h3>
        <!-- Licence name -->
      </div>
      <div class="table-cell">
        <h3 class="context">
          Data return
        </h3>
        <strong class="task-completed open-task badge">
          Return due
        </strong>
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->

      <div class="table-cell">
        <h2 class="sr-only">
          Row 2
        </h2>
        <h3 class="context">
          Licence serial number
        </h3>
        <a href="returns-form">
          03/28/60/0034
        </a>
      </div>
      <div class="table-cell">
        <h3 class="context">
          Licence name
        </h3>
        <!-- Licence name -->
      </div>
      <div class="table-cell">
        <h3 class="context">
          Data return
        </h3>
        <strong class="task-completed open-task badge">
          Return due
        </strong>
      </div>
    </div>

  </div>

</main>

<script src="/public/javascripts/underscore.min.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/license_results.js"></script>

<script>
  $(function() {

    $('a').parents('.table-row').addClass('clickable');

  // Click on licence list clicks inner link
    $('.table-row').on('click', function (ev) {
      window.location.href = $(this).find('a:first').attr('href');
      $(this).addClass('active');
      ev.preventDefault();
    });
  });
</script>

{% endblock %}
