<!-- summary table -->
<div class="small-space">
  <dl>
    <dt class="meta-label">
      Monthlies
    </dt>
    <dd class="meta-description">
      347
    </dd>
    <dt class="meta-label">
      Weeklies
    </dt>
    <dd class="meta-description">
      114
    </dd>
    <dt class="meta-label">
      Dailies
    </dt>
    <dd class="meta-description">
      59
    </dd>
    <br>
    <br>
    <dt class="meta-label">
      Overabstracted
    </dt>
    <dd class="meta-description">
      3
    </dd>
    <dt class="meta-label">
      Compliance issues
    </dt>
    <dd class="meta-description">
      1
    </dd>
  </dl>
</div>




<!-- table with five columns -->
<!-- <div class="table">

  <div class="table-row table-head">
    <div class="table-cell bold-small column-20 numbers">
      Monthlies
    </div>
    <div class="table-cell bold-small column-20 numbers">
      Weeklies
    </div>
    <div class="table-cell bold-small column-20 numbers">
      Dailies
    </div>
    <div class="table-cell bold-small column-20 numbers">
      Overabstracted
    </div>
    <div class="table-cell bold-small column-20 numbers">
      Compliance issues
    </div>
  </div>

  <div class="table-row last-row">
    <div class="table-cell numbers">
      <h3 class="sr-only">
        Row 1
      </h3>
      <h4 class="context">
        Monthlies
      </h4>
      347
    </div>
    <div class="table-cell numbers">
      <h4 class="context">
        Weeklies
      </h4>
      114
    </div>
    <div class="table-cell numbers">
      <h4 class="context">
        Dailies
      </h4>
      59
    </div>
    <div class="table-cell numbers">
      <h4 class="context">
        Overabstracted
      </h4>
      3
    </div>
    <div class="table-cell numbers">
      <h4 class="context">
        Compliance issues
      </h4>
      7
    </div>
  </div>

</div> -->
