<div class="grid-row big-space">
  <div class="column-two-thirds versions">

    <h3 class="heading-medium">
      Versions of this licence
    </h3>

    <p class="version">
      Current licence version<br>
      <a href="online-licence?wid=1">
        Effective since September 2017
      </a>
    </p>

    <div class="panel panel-border-wide version this-version">
      <span class="sr-only">This version</span>

      <a href="online-licence-version?wid=1">
        September 2016 - September 2017
      </a>
    </div>

    <p class="version">
      <a href="online-licence-version?wid=1">
        April 2016 - September 2016
      </a>
    </p>
    <p class="version">
      <a href="online-licence-version?wid=1">
        March 2015 - April 2016
      </a>
    </p>
  </div>
</div>
