{% import './paper-form-macros.html' as macros %}

<!DOCTYPE html>
<html>

  <head>
    <style>
      {% include './includes/reset.css' %}
      {% include './includes/custom.css' %}
    </style>
  </head>

    <body class="paper">

      <!-- cover page -->
      <div class="page" id="cover">

        <div class="content">

          <!-- cover header -->
          <div class="columns">
            <div class="column">
              <div id="logo-container">
                {% include './includes/logo.html' %}
              </div>
            </div>
            <div class="column meta">
              {{ macros.area(notification.personalisation) }}
            </div>
          </div>

          <div id="title-block">
            <h1 class="bold">
              Water abstraction weekly return
            </h1>
          </div>

          <!-- cover block follows -->
          {{ macros.address(notification.personalisation) }}

          <!-- cover block follows -->
          {{ macros.cover(notification.personalisation) }}

        </div>

        <div class="footer">
          <div class="columns">
            <div class="column">
              <p class="smaller">
                WR71 - October 2018
              </p>
            </div>
            <div  class="column">
              <p class="pagination smaller">
                Page 1 of 6
              </p>
            </div>
          </div>
        </div>

      </div>

      <!-- open questions -->
      <div class="page">

        <div class="content">

          <!-- header -->
          {{ macros.header(notification.personalisation) }}

          <!-- openquestions -->
          {{ macros.openquestions(notification.personalisation) }}

        </div>

        <!-- footer -->
        <div class="footer">
          <div class="columns">
            <div class="column">
              <p class="smaller">
                WR71 - October 2018
              </p>
            </div>
            <div  class="column">
              <p class="pagination smaller">
                Page 2 of 6
              </p>
            </div>
          </div>
        </div>

      </div>

    <!-- weekly fields i -->
    <div class="page">

      <div class="content">

        <!-- header -->
        {{ macros.header(notification.personalisation) }}

        <div class="block-head bold">
          8. Meter readings or volumes
        </div>

        <div class="columns">
          <div class="column">

            <div class="block">

              <p class="lede">
                Week ending meter readings or volumes
              </p>
              <p class="week-label">
                7 April 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                14 April 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                21 April 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                28 April 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                05 May 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                12 May 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                19 May 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                26 May 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                02 June 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                09 June 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                16 June 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                23 June 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                30 June 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                7 July 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
            </div>
          </div>

          <div class="column week-right-column-hack">
            <div class="block">

              <p class="week-label">
                14 July 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                21 July 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                28 July 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                4 August 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                4 August 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                11 August 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                18 August 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                25 August 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                1 September 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                8 September 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                15 September 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                22 September 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                29 September 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                6 October 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>

            </div>
          </div>
        </div>
      </div>

      <!-- footer -->
      <div class="footer">
        <div class="columns">
          <div class="column">
            <p class="smaller">
              WR71 - October 2018
            </p>
          </div>
          <div  class="column">
            <p class="pagination smaller">
              Page 3 of 6
            </p>
          </div>
        </div>
      </div>

    </div>

    <!-- weekly fields ii -->
    <div class="page">

      <div class="content">

        <!-- header -->
        {{ macros.header(notification.personalisation) }}

        <div class="columns">
          <div class="column">

            <div class="block">

              <p class="week-label">
                13 October 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                20 October 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                27 October 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                3 November 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                10 November 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                17 November 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                24 November 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                1 December 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                8 December 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                14 December 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                22 December 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                29 December 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                5 January 2019
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                12 January 2019
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                19 January 2019
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
            </div>

          </div>

          <div class="column">
            <div class="block">
              <p class="week-label">
                26 January 2019
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                2 February 2019
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                9 February 2019
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                16 February 2019
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                23 February 2019
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                2 March 2019
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                9 March 2019
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                16 March 2019
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                23 March 2019
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                30 March 2019
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="week-label">
                31 March 2019
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
            </div>
          </div>

        </div>
      </div>

      <!-- footer -->
      <div class="footer">
        <div class="columns">
          <div class="column">
            <p class="smaller">
              WR71 - October 2018
            </p>
          </div>
          <div  class="column">
            <p class="pagination smaller">
              Page 4 of 6
            </p>
          </div>
        </div>
      </div>

    </div>

    <!-- declaration page -->
    <div class="page">

      <div class="content">

        <!-- header -->
        {{ macros.header(notification.personalisation) }}

        {{ macros.declaration(notification.personalisation) }}

      </div>

      <!-- footer -->
      <div class="footer">
        <div class="columns">
          <div class="column">
            <p class="smaller">
              WR71 - October 2018
            </p>
          </div>
          <div  class="column">
            <p class="pagination smaller">
              Page 5 of 6
            </p>
          </div>
        </div>
      </div>

    </div>

    <!-- privacy statement -->
    <div class="page">

      <div class="content">

        <!-- header -->
        {{ macros.header(notification.personalisation) }}

        <!-- privacy statement -->
        {{ macros.privacy(notification.personalisation) }}

      </div>

      <!-- footer -->
      <div class="footer">
        <div class="columns">
          <div class="column">
            <p class="smaller">
              WR71 - October 2018
            </p>
          </div>
          <div  class="column">
            <p class="pagination smaller">
              Page 6 of 6
            </p>
          </div>
        </div>
      </div>

    </div>

  </body>

</html>
