{% import './paper-form-macros.html' as macros %}

<!DOCTYPE html>
<html>

  <head>
    <style>
      {% include './includes/reset.css' %}
      {% include './includes/custom.css' %}
    </style>
  </head>

  <body class="paper">

    <!-- cover page -->
    <div class="page" id="cover">

      <div class="content">

        <!-- cover header -->
        <div class="columns">
          <div class="column">
            <div id="logo-container">
              {% include './includes/logo.html' %}
            </div>
          </div>
          <div class="column meta">
            {{ macros.area(notification.personalisation) }}
          </div>
        </div>

        <div id="title-block">
          <h1 class="bold">
            Water abstraction monthly return
          </h1>
        </div>

        <!-- cover block follows -->
        {{ macros.address(notification.personalisation) }}

        <!-- cover block follows -->
        {{ macros.cover(notification.personalisation) }}

      </div>

      <div class="footer">
        <div class="columns">
          <div class="column">
            <p class="smaller">
              WR71 - October 2018
            </p>
          </div>
          <div  class="column">
            <p class="pagination smaller">
              Page 1 of 5
            </p>
          </div>
        </div>
      </div>

    </div>

    <!-- open questions -->
    <div class="page">

      <div class="content">

        <!-- header -->
        {{ macros.header(notification.personalisation) }}

        <!-- openquestions -->
        {{ macros.openquestions(notification.personalisation) }}

      </div>

      <!-- footer -->
      <div class="footer">
        <div class="columns">
          <div class="column">
            <p class="smaller">
              WR71 - October 2018
            </p>
          </div>
          <div  class="column">
            <p class="pagination smaller">
              Page 2 of 5
            </p>
          </div>
        </div>
      </div>

    </div>

    <!-- monthly fields -->
    <div class="page">

      <div class="content">

        <!-- header -->
        {{ macros.header(notification.personalisation) }}

        <div class="block-head bold">
          8. Meter readings or volumes
        </div>

        <div class="columns">
          <div class="column">

            <div class="block">
              <p class="lede">
                Month ending meter readings or volumes
              </p>
              <p class="month-label">
                30 April 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="month-label">
                31 May 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="month-label">
                30 June 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="month-label">
                31 July 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="month-label">
                31 August 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="month-label">
                30 September 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="month-label">
                31 October 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="month-label">
                30 November 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="month-label">
                31 December 2018
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="month-label">
                31 January 2019
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="month-label">
                28 February 2019
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
              <p class="month-label">
                31 March 2019
                <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
              </p>
            </div>

          </div>
        </div>

      </div>

      <!-- footer -->
      <div class="footer">
        <div class="columns">
          <div class="column">
            <p class="smaller">
              WR71 - October 2018
            </p>
          </div>
          <div  class="column">
            <p class="pagination smaller">
              Page 3 of 5
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- declaration page -->
    <div class="page">

      <div class="content">

        <!-- header -->
        {{ macros.header(notification.personalisation) }}

        {{ macros.declaration(notification.personalisation) }}

      </div>

      <!-- footer -->
      <div class="footer">
        <div class="columns">
          <div class="column">
            <p class="smaller">
              WR71 - October 2018
            </p>
          </div>
          <div  class="column">
            <p class="pagination smaller">
              Page 4 of 5
            </p>
          </div>
        </div>
      </div>

    </div>

    <!-- privacy statement -->
    <div class="page">

      <div class="content">

        <!-- header -->
        {{ macros.header(notification.personalisation) }}

        <!-- privacy statement -->
        {{ macros.privacy(notification.personalisation) }}

      </div>

      <!-- footer -->
      <div class="footer">
        <div class="columns">
          <div class="column">
            <p class="smaller">
              WR71 - October 2018
            </p>
          </div>
          <div  class="column">
            <p class="pagination smaller">
              Page 5 of 5
            </p>
          </div>
        </div>
      </div>

    </div>

  </body>

</html>
