{% extends "./../head-signedin.html" %}

{% block page_title %}
  Create an account - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <div class="big-space"></div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Create an account to manage your water abstraction or impoundment licence online</h1>

      <p>You need to create an online account and confirm your identity to access your licence information.</p>

      <div class="notice small-space">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          We’ll need to send you a security code by post to complete this process. This should take around 5 working days.
        </strong>
      </div>

      <p>
        You’ll be able to view all of your water abstraction or impoundment licences using this account.
      </p>

      <h2 class="heading-medium">
        Before you start
      </h2>

      <p>
        You’ll need:
      </p>

      <ul class="list list-bullet">
        <li>
          your licence number(s)
        </li>
        <li>
          your email address
        </li>
      </ul>

      <!-- Primary button -->
      <a class="button button-start" href="../../signup/give-email">Create account</a>

    </div>
  </div>
</main>


{% endblock %}
