{% extends "../../head.html" %}

{% block page_title %}
  Enter the code we sent you - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- navigation block -->
  {% include "../../partials/beta-banner.html" %}

  <div class="big-space"></div>

  <!-- page title -->
  <h1  class="heading-large medium-space">
    Enter the code we sent you
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>If you have more than one security code pick one to add now.</p>

      <form class="medium-space">
        <div class="form-group">
          <label for="password">
            <span class="form-hint">Add a security code</span>
            <fieldset>
              <span id="enterPassword" data-parsely-id="password" class="error-message hidden">Check your code is correct.</span>
            </fieldset>
          </label>
          <input type="text" data-parsley-pattern="x45Tn" class="form-control" data-parsely-trigger="keyup change" name="password" id="password" required />
        </div>

        <!-- <input onclick="$('#incorrectLogin').hide()" type="submit" value="Continue" class="button" role="button"/> -->
        <a href="added-licences" class="button">Continue</a>
      </form>

    </div>
  </div>

</main>

{% endblock %}
