{% set permits =

{
   "1":
      {
         "LicenceSerialNo": "03/28/60/0003",
         "LicenceName": "",
         "EffectiveDateStart": "15 September 1979",
         "EffectiveDateEnd": "15 September 2022",
         "HolderFirstName": "Barry",
         "HolderSurname": "Johner",
         "Source": "Inland water lake known as Featherall Lake at SJ3185632865",
         "PeriodofAbstraction": "All year",
         "Point1": "At National Grid Reference SK 496332",
         "Point2": "At National Grid Reference SK 496308",
         "Purpose1": "Irrigation",
         "Condition1": "General conditions",
         "Condition2": "Flow cessation condition",
         "Condition3": "Hands-off flow condition",
         "Amount1": "900 cubic meters per hour",
         "Amount2": "1,250 cubic meters per day",
         "Amount3": "1,250,000 cubic meters per year",

         "HolderTel": "44 7724 546 121",
         "HolderEmail": "bazjohner@bjorn-bad.com",
         "HolderAddressline1": "111 Abbey House",
         "HolderAddressline2": "Abingdon-on-Thames",
         "HolderCounty": "Oxfordshire",
         "HolderPostcode": "RE1 1GA",

         "SiteContactFirstName": "Darlene",
         "SiteContactSurname": "Johner",
         "SiteContactTel": "07724454554",
         "SiteContactEmail": "djohner@bjorn-bad.com",
         "SiteContactAddressline1": "111 Abbey House",
         "SiteContactAddressline2": "Abingdon-on-Thames",
         "SiteContactCounty": "Oxfordshire",
         "SiteContactPostcode": "RE1 1GA",

         "BillingFirstName": "Jack",
         "BillingSurname": "Johner",
         "BillingTel": "07724454518",
         "BillingEmail": "jackjohner@bjorn-bad.com",
         "BillingAddressline1": "111 Abbey House",
         "BillingAddressline2": "Abingdon-on-Thames",
         "BillingCounty": "Oxfordshire",
         "BillingPostcode": "RE1 1GA",

         "ReturnsFirstName": "Julie",
         "ReturnsSurname": "Johner",
         "ReturnsTel": "07724455464",
         "ReturnsEmail": "julesjohner@bjorn-bad.com",
         "ReturnsAddressline1": "111 Abbey House",
         "ReturnsAddressline2": "Abingdon-on-Thames",
         "ReturnsCounty": "Oxfordshire",
         "ReturnsPostcode": "RE1 1GA"
      },

   "2":
      {

        "LicenceSerialNo": "03/28/60/0003",
        "LicenceName": "",
        "EffectiveDateStart": "1 June 1985",
        "EffectiveDateEnd": "30 September 2025",
        "HolderFirstName": "James",
        "HolderSurname": "Caan",

        "Source": "Underground strata comprising of Mercia Mudstone at Anarea, Atown.",
        "PeriodofAbstraction": "All year",

        "Point1": "At National Grid Reference SK 496308",
        "Purpose1": "Irrigation",
        "Condition1": "General conditions",
        "Amount1": "300 cubic meters per hour",
        "Amount2": "1,900 cubic meters per day",
        "Amount3": "1,000,000 cubic meters per year",

        "HolderTel": "08847546123",
        "HolderEmail": "thebigjc@irriwet.co.uk",
        "HolderAddressline1": "1 Hill House",
        "HolderAddressline2": "Abingdon-on-Thames",
        "HolderCounty": "Oxfordshire",
        "HolderPostcode": "RE1 1TG"
      },

   "3":
    {
     "LicenceSerialNo": "03/28/60/0032",
     "LicenceName": "Bridge Farm",
     "EffectiveDateStart": "1 April 2006",
     "EffectiveDateEnd": "30 April 2021",
     "HolderFirstName": "Miranda",
     "HolderSurname": "Backes",

     "Source": "Underground strata comprising of Mercia Mudstone at Anarea, Atown.",
     "PeriodofAbstraction": "All year",

     "Point1": "At National Grid Reference SK 496308",
     "Purpose1": "Irrigation",
     "Condition1": "General conditions",
     "Amount1": "300 cubic meters per hour",
     "Amount2": "1,900 cubic meters per day",
     "Amount3": "1,000,000 cubic meters per year",

     "HolderTel": "01282634541",
     "HolderEmail": "m-backes@gmail.com",
     "HolderAddressline1": "11 Becker Lane East",
     "HolderAddressline2": "Accrington",
     "HolderCounty": "Lancashire",
     "HolderPostcode": "BB5 2DG",

     "BillingFirstName": "Miranda",
     "BillingSurname": "Backes",
     "BillingTel": "01282634541",
     "BillingEmail": "m-backes@gmail.com",
     "BillingAddressline1": "11 Becker Lane East",
     "BillingAddressline2": "Accrington",
     "BillingCounty": "Lancashire",
     "BillingPostcode": "BB5 2DG"
   },

   "4":
    {
     "LicenceSerialNo": "01/04/12/0047",
     "LicenceName": "",
     "EffectiveDateStart": "2 September 2011",
     "EffectiveDateEnd": "1 September 2031",
     "HolderFirstName": "J",
     "HolderSurname": "Bladger",

     "Source": "Inland Lake at Anarea, Atown.",
     "PeriodofAbstraction": "June to September",

     "Point1": "At National Grid Reference SK 814602",
     "Purpose1": "Irrigation",
     "Condition1": "Hands-off flow condition",
     "Amount1": "600 cubic meters per hour",
     "Amount2": "9,000 cubic meters per day",
     "Amount3": "1,250,000 cubic meters per year",

     "HolderTel": "01282634541",
     "HolderEmail": "itsjennybladger@gmail.com",
     "HolderAddressline1": "Trinmore",
     "HolderAddressline2": "Tidmarsh Lane",
     "HolderCounty": "Oxfordshire",
     "HolderPostcode": "OX1 1NS",

     "SiteContactFirstName": "Dave",
     "SiteContactSurname": "Cousins",
     "SiteContactTel": "08451 295900",
     "SiteContactEmail": "dc-hemmings@hotmail.com",
     "SiteContactAddressline1": "42 Pippins Avenue",
     "SiteContactAddressline2": "Headington",
     "SiteContactCounty": "Oxfordshire",
     "SiteContactPostcode": "OX3 7LD"
   },

   "5":
    {
     "LicenceSerialNo": "01/04/12/0047",
     "LicenceName": "",
     "EffectiveDateStart": "2 March 2002",
     "EffectiveDateEnd": "1 March 2027",
     "HolderFirstName": "S B",
     "HolderSurname": "Murphy",

     "Source": "The Avon",
     "PeriodofAbstraction": "June to September",

     "Point1": "At National Grid Reference SB 542134",
     "Purpose1": "Cress-growing",
     "Condition1": "Hands-off cessation condition",
     "Amount1": "500 cubic meters per hour",
     "Amount2": "6,400 cubic meters per day",
     "Amount3": "1,200,000 cubic meters per year",

     "HolderTel": "07766136467",
     "HolderEmail": "murfious@live.com",
     "HolderAddressline1": "Aubrey House",
     "HolderAddressline2": "Aubrey Road",
     "HolderCounty": "Bristol",
     "HolderPostcode": "BS3 3EX",

     "SiteContactFirstName": "Hector",
     "SiteContactSurname": "Murphy",
     "SiteContactTel": "07766156467",
     "SiteContactEmail": "hector.murphy@water-people.com",
     "SiteContactAddressline1": "Aubrey House",
     "SiteContactAddressline2": "Aubrey Road",
     "SiteContactCounty": "Bristol",
     "SiteContactPostcode": "BS3 3EX"
   }
}






 -%}
