{% set permits =

  {
     "1": {
        "title": "West Somerset Bute",
        "volume": "10,000",
        "description": "Your package treatment plant must discharge between 5 and 20 cubic metres of domestic treated sewage to surface water daily (for example, your plant treats sewage from a small hotel or bed and breakfast, not a single household). ",
        "map": "https://www.google.co.uk/maps/@52.2737901,-2.186366,9z"
     },
     "2": {
        "title": "North Yelland Tom",
        "volume": "14,000",
        "description": "Your water discharge or groundwater activity may meet the conditions for an exemption from environmental permitting or a standard rules permit.",
        "map": "https://www.google.co.uk/maps/@52.2737901,-2.186366,9z"
     },
     "3": {
        "title": "East Haptree",
        "volume": "19,000",
        "description": "If you have, or are considering, a small sewage effluent discharge (5 m3/d or less to surface water or 2 m3/d or less to ground), you may qualify for an exemption from the\nneed to have a permit, in which case you may not need to read this technical guidance note.",
        "map": "https://www.google.co.uk/maps/@52.2737901,-2.186366,9z"
     },
     "4": {
        "title": "St John Trapcheck",
        "volume": "6,000",
        "description": "Infiltration System - A series of infiltration pipes, placed in either single trenches or one large bed, used to discharge effluent in such a way that it percolates into the disposal area. ",
        "map": "https://www.google.co.uk/maps/@52.2737901,-2.186366,9z"
     },
     "5": {
        "title": "Bolivar Rupe",
        "volume": "27,500",
        "description": "Domestic sewage effluent – we have recently revised our interpretation of ‘domestic sewage’ as that arising from normal domestic activities, wherever carried out. See Annex 6.",
        "map": "https://www.google.co.uk/maps/@52.2737901,-2.186366,9z"
     },
     "6": {
        "title": "North Collard River",
        "volume": "18,900",
        "description": "This revision in interpretation will enable small businesses the opportunity, if they qualify, to benefit from exemptions and Standard Permits under the Environmental Permitting\nRegulations 2010, in line with our duties and Government and Environment Agency policy. ",
        "map": "https://www.google.co.uk/maps/@52.2737901,-2.186366,9z"
     }
  }

 -%}
