{
   "1": {
      "Licence Serial No:": "03/28/60/0002",
      "First Name": "Morgana",
      "Surname": "Govett",
      "Address line 1": "111 Abbey House",
      "Address line 3": "Abingdon-on-Thames",
      "County": "Oxfordshire",
      "Postcode": "RE1 1GA",
      "Effective Date Start": "Thursday, September 24, 2015",
      "Effective Date end": "Thursday, February 22, 2018",
      "Source of Supply": "The River Trent.",
      "Point of abstraction": "At National Grid Reference SK 496308",
      "Means of abstraction": "A river intake and 3 no. Pumps having a capacity of 90.92 cubic metres per minute each.",
      "Purpose of abstraction": "Electricity generation.",
      "Period of Abstraction": "From 1 April to 31 March",
      "Maximum Quantity of water to be abstracted": "11,069.51             cubic metres per hour\n217,398.80          cubic metres per day\n61,234,620.00     cubic metres per year"
   },
   "2": {
      "Licence Serial No:": "03/28/60/0004",
      "First Name": "Morgana",
      "Surname": "Govett",
      "Address line 1": "111 Abbey House",
      "Address line 3": "Abingdon-on-Thames",
      "County": "Oxfordshire",
      "Postcode": "RE1 1GA",
      "Effective Date Start": "Friday, August 03, 1984",
      "Effective Date end": "No end date",
      "Source of Supply": "Underground strata comprising of Mercia Mudstone at Anarea, Atown.",
      "Point of abstraction": "Within the area marked hatched on the map and not outside the boundary formed by straight lines running between the following National Grid References:-SK 496333, SK 4963444, SK 496309555, SK 496366",
      "Means of abstraction": "Up to 40 jet wells not exceeding approximately 6 meters in depth and 51 millimetres in diameter. ",
      "Purpose of abstraction": "Agricultural- fish farming",
      "Period of Abstraction": "During the months March to November inclusive each year.",
      "Maximum Quantity of water to be abstracted": "Per day - 1,820 cubic metres\nPer Year - 633,200 cubic metres "
   },
   "3": {
      "Licence Serial No:": "03/28/60/0003",
      "First Name": " Myranda",
      "Surname": " Backes",
      "Address line 1": "11 Becker Alley, ",
      "Address line 3": "Accrington,",
      "County": "Lancashire,",
      "Postcode": "RE2 2GA",
      "Effective Date Start": "Saturday, September 15, 1979",
      "Effective Date end": "Thursday, September 15, 2022",
      "Source of Supply": "Underground strata comprising of Chalk at Accrington, Lancashire.",
      "Point of abstraction": "At National Grid Reference SK 496309",
      "Means of abstraction": "A pump.",
      "Purpose of abstraction": "Public water supply.",
      "Period of Abstraction": "All Year\n\n",
      "Maximum Quantity of water to be abstracted": "14.4 cubic metres per hour\n200 cubic metres per day\n10,000 cubic metres per year\nAt an instantaneous rate not exceeding 4 litres per second.\n\nNote: An hour means any period of 60 consecutive minutes, a day means any period of 24 consecutive hours and a year means the 12 month period beginning on 1 April and ending on 31 March.\n"
   },
   "4": {
      "Licence Serial No:": "",
      "First Name": "Morgana",
      "Surname": "Govett",
      "Address line 1": "6",
      "Address line 3": " Johnson Road ",
      "County": "Norfolk",
      "Postcode": "RE6 6GA",
      "Effective Date Start": "",
      "Effective Date end": "",
      "Source of Supply": "",
      "Point of abstraction": "",
      "Means of abstraction": "",
      "Purpose of abstraction": "",
      "Period of Abstraction": "",
      "Maximum Quantity of water to be abstracted": ""
   },
   "wid": {
      "Licence Serial No:": "Licence Serial No: ",
      "First Name": "First Name",
      "Surname": "Surname ",
      "Address line 1": "Address line 1",
      "Address line 3": "Address line 3",
      "County": "County ",
      "Postcode": "Postcode",
      "Effective Date Start": "Effective Date Start",
      "Effective Date end": "Effective Date end",
      "Source of Supply": "1. Source of Supply",
      "Point of abstraction": "2. Point of abstraction",
      "Means of abstraction": "3. Means of abstraction",
      "Purpose of abstraction": "4. Purpose of abstraction",
      "Period of Abstraction": "5. Period of Abstraction",
      "Maximum Quantity of water to be abstracted": "6. Maximum Quantity of water to be abstracted"
   }
}
