{% extends "v8/layoutv8.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

    <div class="phase-banner-alpha">
      <p>
      <strong class="phase-tag">ALPHA</strong>
    <span>This is an Alpha prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
          	</div>

<nav>
    <div class="breadcrumbs">
    	  <ol role="breadcrumbs">
          <li><a href="#">Your services</a></li>
    	    <li><a href="#">Abstraction licences</a></li>
          <li></li>

<a href="/v8/signin" class="sign-out2">Sign out</a>
</ol>
</nav>
</div>

<h1 class="heading-large" style="margin-bottom: 30px">
  Your water abstraction licence(s)
  </h1>
  <a href="/v8/online_licence?wid=1" style="font-weight: bold; margin-top: 10px">Licence Serial No: 03/28/60/0002</a>
  <p>H2Go Power</p>

  <div class="greyline" style="border-bottom: 1px solid #bfc1c3; margin-bottom: 10px"></div>
  <a href="/v8/online_licence?wid=2" style="font-weight: bold">Licence Serial No: 03/28/60/0003</a>
  <p>Bridge Farm</p>

  <div class="greyline" style="border-bottom: 1px solid #bfc1c3; margin-bottom: 10px"></div>
  <a href="/v8/online_licence?wid=3" style="font-weight: bold">Licence Serial No: 03/28/60/0004</a>
  <p>West Power</p>

  <div class="greyline" style="border-bottom: 1px solid #bfc1c3; margin-bottom: 10px"></div>
  <a href="/v8/online_licence?wid=4" style="font-weight: bold">Licence Serial No: 03/28/60/0005</a>
  <p>Valley's Water</p>

  <div class="greyline" style="border-bottom: 1px solid #bfc1c3; margin-bottom: 10px"></div>
  <a href="/v8/online_licence?wid=5" style="font-weight: bold">Licence Serial No: 03/28/60/0006</a>
  <p>Grange Farm</p>


</main>
{% endblock %}
