{% extends "v18/head.html" %}

{% block page_title %}
  Licences added to your account - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <div class="big-space"></div>

  <!-- main -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Licences added to your account
      </h1>

      <div class="small-space">

        <h2 class="heading-medium">
          We found 7 licences
        </h2>

        <p>
          These have been added to your account.
        </p>

        <h2 class="heading-medium">
          We were not able to link you with these licence numbers:
        </h2>

        <ul class="list list-bullet text">
          <li>
            01/12/14/0062
          </li>
          <li>
            01/14/11/0001/r01
          </li>
          <li>
            11/28/00/0014
          </li>
        </ul>

        <p>
          If you have entered any of the numbers wrong <a href="#" onclick="history.go(-1)">try adding them again</a>.
        </p>

        <!-- contact us block -->
        {% include "../../partials/contact-us.html" %}

      </div>

      <!-- continue button -->
      <a href="../returns/returns-list" class="button medium-space">
        View returns
      </a>

    </div>
  </div>
</main>

{% endblock %}
