{% extends "v18/head.html" %}

{% block page_title %}
  Add your licences - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <div class="big-space"></div>

  <!-- main -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Add your licences
      </h1>

      <div class="medium-space">

        <p lede="heading-medium">
          You are now ready to start adding your licences to the service.
        </p>

        <p>
          The security codes we send you match you to those licences. If you have another code you can <a href="use-code">add it now</a>.
        </p>

      </div>

      <!-- continue button -->
      <a href="add-licences" class="button medium-space">
        Continue
      </a>

    </div>
  </div>
</main>

{% endblock %}
