{% extends "../layout.html" %}
{% block content %}

<main id="content" role="main">

  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>

  <nav id="navigate">
    <!-- breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
      <ol role="breadcrumbs">
        <li><a href="">Your licences</a></li>
          <!-- {{ pData.LicenceSerialNo }}</a></li> -->
      </ol>
    </div>

    <!-- manage controls -->
    <div class="manage" id="manage">
      <div class="right">
        <a href="/v12_2/change_password/new_password.html" class="change-password">Change&nbsp;password</a>
        <a href="/v12_2/pages/signin" class="sign-out">Sign&nbsp;out</a>
      </div>
    </div>
  </nav>

  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">
      <!-- page notification -->
      <div class="panel panel-border-wide alert-default medium-space">
        Some of these licences will expire in the next
        <strong class="bold-small">6 months</strong>.<br>
        <a href="expiring-licences">
          See these licences
        </a>
      </div>
    </div>
  </div>

  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1  class="heading-large">
        Your licences
      </h1>
    </div>
  </div>

  <!-- licence list -->
  <div class="grid-row">
    <div class="column-full">

    <!-- Results page goes here -->
    <div class="license-results" id="results">

      <div class="license-results-header">
        <div class="license-results-header__column">
          <a href="#" aria-label="Sort by licence serial number">
            Licence serial number
            <span class="sort-icon"> &#x25be;</span>
          </a>
        </div>
        <div class="license-results-header__column">
          <a href="#" aria-label="Sort by licence name">
            Licence name
            <span class="sort-icon"> &#x25be;</span>
          </a>
        </div>
        <div class="license-results-header__column">
          <a href="#" aria-label="Sort by licence name">
            Licence ends
            <span class="sort-icon"> &#x25be;</span>
          </a>
        </div>
      </div>

      <!-- find way to pull data in here -->

      <a href="/v15/pages/online_licence?wid=1" class="license-result">
        <h2 class="heading-medium license-result__column">{{ 03/28/60/0002 }}</h2>
        <p class="license-result__column license-result__column--description"></p>
        <div class="license-result__column" aria-hidden="true">Ends 2 Feb 2019</div>
      </a>

      <a href="/v15/pages/online_licence?wid=2" class="license-result">
        <h2 class="heading-medium license-result__column">03/28/01/0142</h2>
        <p class="license-result__column license-result__column--description"></p>
        <div class="license-result__column" aria-hidden="true">Ends 2 May 2019</div>
      </a>

      <a href="/v15/pages/online_licence?wid=3" class="license-result">
        <h2 class="heading-medium license-result__column">03/28/01/0145</h2>
        <p class="license-result__column license-result__column--description"></p>
        <div class="license-result__column" aria-hidden="true">Ends 30 April 2020</div>
      </a>

      <a href="/v15/pages/online_licence?wid=4" class="license-result">
        <h2 class="heading-medium license-result__column">03/28/01/0145</h2>
        <p class="license-result__column license-result__column--description"></p>
        <div class="license-result__column" aria-hidden="true">Ends 30 June 2021</div>
      </a>

      <a href="/v15/pages/online_licence?wid=5" class="license-result">
        <h2 class="heading-medium license-result__column">03/28/01/0145</h2>
        <p class="license-result__column license-result__column--description"></p>
        <div class="license-result__column" aria-hidden="true">Ends 31 May 2023</div>
      </a>

      <a href="/v15/pages/online_licence?wid=6" class="license-result">
        <h2 class="heading-medium license-result__column">03/28/01/0145</h2>
        <p class="license-result__column license-result__column--description"></p>
        <div class="license-result__column" aria-hidden="true">Ends 30 April 2030</div>
      </a>

    </div>
  </div>
</div>
  <script src="/public/javascripts/underscore.min.js"></script>
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/javascripts/license_results.js"></script>

</main>

{% endblock %}
