{% extends "../layout.html" %}
{% block content %}

<main id="content" role="main">

  <div class="phase-banner-beta big-space">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>

  <div class="column-two-thirds">

    <!-- page notification -->
    <div class="grid-row">
      <div class="panel panel-border-wide alert-default medium-space">
        These are new licences. Please make sure you are aware of any changes to your abstraction conditions.
      </div>
    </div>
  </div>

  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1  class="heading-large clustered">New licences (in the last 6 months)</h1>
    </div>
  </div>

  <!-- licence list -->
  <div class="grid-row">
    <div class="column-full">
    <!-- Results page goes here -->
    <div class="license-results" id="results">

      <div class="license-results-header">
        <div class="license-results-header__column">
          <a href="#" aria-label="Sort by licence serial number">Licence serial number<span class="sort-icon"> &#x25be;</span></a>
        </div>
        <div class="license-results-header__column">
          <a href="#" aria-label="Sort by licence name">Licence name</a>
        </div>
        <div class="license-results-header__column"></div>
      </div>
      <a href="/v14/pages/online_licence-a?wid=1" class="license-result">
        <h2 class="heading-medium license-result__column">03/28/60/0002</h2>
        <p class="license-result__column license-result__column--description">-</p>
        <div class="license-result__column license-result__column--view" aria-hidden="true">View</div>
      </a>
      <a href="/v14/pages/online_licence-b?wid=2" class="license-result">
        <h2 class="heading-medium license-result__column">03/28/60/0003</h2>
        <p class="license-result__column license-result__column--description">-</p>
        <div class="license-result__column license-result__column--view" aria-hidden="true">View</div>
      </a>

  </div>
</div>

<script src="/public/javascripts/underscore.min.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/license_results.js"></script>

</main>
{% endblock %}
