{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
{{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>
  {% from "custom_inc/waterdata-severn.html" import permits %}

  {% for pNumber, pData in permits %}
  {% if pNumber==chosenPermitID %}

  <!-- breadcrumbs -->
  <nav>
    <div class="breadcrumbs">
      <ol role="breadcrumbs">
        <li><a href="/v13/pages/licences?wid={{ pNumber }}">Your licences</a></li>
        <li><a href="/v13/pages/online_licence?wid={{ pNumber }}">Licence number: {{ pData.LicenceSerialNo }}</a></li>

        <a href="/v12_2/pages/signin" class="sign-out2">Sign out</a>
        <a href="/v12_2/change_password/new_password.html" class="change-password">Change password</a>
      </ol>
    </div>
  </nav>

  <!-- back -->
  <a href="#" class="link-back" onclick="history.go(-1)">Back</a>

  <!-- page title -->
  <h1  class="heading-large clustered">Licence number {{ pData.LicenceSerialNo }}</h1>
  <p>Starts 1 July 2006 and ends 1 July 2018</p>
  <p></p>
  <p></p>

  <div class="panel panel-border-wide">
    <p><strong class="bold-small">This is a variation on your existing licence terms</strong><br>
    Your licence will revert back to it’s original terms on 1 July 2018<br>
    <a href="/v12_2/pages/online_licence?wid=1" target="_blank">See your original licence</a><br>
    <a href="/v13/pages/variation_summary?wid=1">See a summary of variation terms</a></p>
  </div>

  <p></p>

  <div class="datatable">
    <label>Licence name</label>
    <div class="licenceData">
      <!-- <span>No name chosen</span></br>  -->
      <a href="/v12_2/online_licence/rename/online_licence_rename?wid=1">Name this licence</a></div>
    </div>
  <div class="datatable">
    <label>Licence holder</label>
    <div class="licenceData">
      {{ pData.FirstName }} {{ pData.Surname }}</br>
      <a href="/v12_2/pages/contact_details?wid={{ pNumber }}">View licence contact details</a></div>
    </div>
    <div class="datatable">
      <div class="sourceofsupplyqv7">Source of supply</div>
      <div class="licenceData">Inland water lake known as Featherall Lake at SJ3185632865</div>
    </div>
    <div class="datatable">
      <div class="sourceofsupplyqv7">Period of abstraction</div> <div class="licenceData">June to Sept</div>
    </div>

    <div class="datatable">
      <label>Point of abstraction</label> <div class="licenceData">{{ pData.Pointofabstraction | replace( "following National Grid References:", "following National Grid References:<p></p>")|safe }}</br><a href="/v12_2/pages/map_of_abstraction_point?wid={{ pNumber }}">View map</a></div>
    </div>

    <div class="datatable">
      <label>Purpose of abstraction
      </label>
      <div class="licenceData">Public water supply</div>
    </div>

    <div class="datatable">
      <div class="sourceofsupplyqv7">Abstraction conditions</div> <div class="licenceData">
      <a href="/v12_2/conditions/1_con?wid=1">View abstraction conditions</a>
      </br>
    </div>
  </div>

  <div class="datatable">
    <label>Abstraction amounts</label>
    <div class="licenceData">
      900m/hour<br>
      2,500m/day<br>
      1,250,000m/annum<br>
      <a href="/v13/pages/points_purposes/tabbed_points?wid=1">View abstraction amounts by point or purpose</a>
  </div>

  <br>
  <br>

{% endif %}
{% endfor %}

</main>
{% endblock %}
