{% extends "../head.html" %}
{% block content %}

<main id="content" role="main">

  <!-- beta banner -->
  <div class="phase-banner-beta big-space">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>

  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Create an account to manage your water abstraction or impoundment licence online</h1>

      <p>You need to create an online account and confirm your identity to access your licence information.</p>

      <div class="panel panel-border-wide">
        <p>
          We’ll need to send you a security code by post to complete this process. This should take around 5 working days.
        </p>
      </div>

      <p>
        You’ll be able to view all of your water abstraction or impoundment licences using this account.
      </p>

      <h2 class="heading-medium">
        Before you start
      </h2>

      <p>
        You’ll need:
      </p>

      <ul class="list list-bullet">
        <li>
          your licence number(s)
        </li>
        <li>
          your email address
        </li>
      </ul>

      <!-- Primary button -->
      <a class="button" href="/v15/pages/register/give_email">Create account</a>

    </div>
  </div>
</main>


{% endblock %}
