{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
  Water abstraction licence
{% endblock %}
{% block content %}

{% from "custom_inc/waterdatav3.html" import permits %}
  {% for pNumber, pData in permits %}
    {% if pNumber==chosenPermitID %}

<main id="content" role="main">
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>


    <nav>
    <div class="breadcrumbs">
        <ol role="breadcrumbs">
          <li><a href="#">Your services</a></li>
          <li><a href="/v11/online_licence/licences_list/licences">Abstraction licences</a></li>
          <li><a href="/v11/pages/online_licence?wid={{ pNumber }}">Licence serial number: {{ pData.LicenceSerialNo }}</a></li>

          <a href="/v11/pages/signin" class="sign-out2">Sign out</a>
          <a href="/v11/change_password/new_password.html" class="change-password">Change password</a>
</ol>
</nav>
</div>
<a href="#" class="link-back" onclick="history.go(-1)">Back</a>

<h1 class="heading-large">{{ pData.LicenceName }} water abstraction licence</h1>




  <p></p></br>
          <h2 class="heading-medium">
            Registered licence holder details
          </h2>

          <div class="datatable">
        <div class="licenceLabelv7">Name</div><div class="licenceAnswer">{{ pData.FirstName }} {{ pData.Surname }}</div>
        </div>
        <div class="datatable">
          <div class="licenceLabelv7">Address</div><div class="licenceAnswer">{{ pData.Addressline1}}</br>{{ pData.Addressline3}}</br>{{ pData.County}}</br>{{ pData.Postcode}}</div>
          </div>
        <div class="datatable">
          <div class="licenceLabelv7">Telephone</div><div class="licenceAnswer">{{ pData.tel}}</div>
          </div>
          <div class="datatablebottom">
          <div class="licenceLabelv7">Email</div><div class="licenceAnswer">{{ pData.Email}}</div>
        </div>

          <p></p></br>
                  <h2 class="heading-medium">
                Site contact details
              </h2>

              <div class="datatable">
            <div class="licenceLabelv7">Name</div><div class="licenceAnswer">{{ pData.FirstName }} {{ pData.Surname }}</div>
            </div>
            <div class="datatable">
              <div class="licenceLabelv7">Address</div><div class="licenceAnswer">{{ pData.Addressline1}}</br>{{ pData.Addressline3}}</br>{{ pData.County}}</br>{{ pData.Postcode}}</div>
              </div>
            <div class="datatable">
              <div class="licenceLabelv7">Telephone</div><div class="licenceAnswer">{{ pData.tel}}</div>
              </div>
              <div class="datatablebottom">
              <div class="licenceLabelv7">Email</div><div class="licenceAnswer">{{ pData.Email}}</div>
            </div>

  <p></p></br>
          <h2 class="heading-medium">
            Billing contact details
          </h2>

          <div class="datatable">
        <div class="licenceLabelv7">Name</div><div class="licenceAnswer">{{ pData.FirstName }} {{ pData.Surname }}</div>
        </div>
        <div class="datatable">
          <div class="licenceLabelv7">Address</div><div class="licenceAnswer">{{ pData.Addressline1}}</br>{{ pData.Addressline3}}</br>{{ pData.County}}</br>{{ pData.Postcode}}</div>
          </div>
        <div class="datatable">
          <div class="licenceLabelv7">Telephone</div><div class="licenceAnswer">{{ pData.tel}}</div>
          </div>
          <div class="datatablebottom">
          <div class="licenceLabelv7">Email</div><div class="licenceAnswer">{{ pData.Email}}</div>
        </div>

  <p></p></br>
          <h2 class="heading-medium">
            Abstraction return contact details
          </h2>

          <div class="datatable">
        <div class="licenceLabelv7">Name</div><div class="licenceAnswer">{{ pData.FirstName }} {{ pData.Surname }}</div>
        </div>
        <div class="datatable">
          <div class="licenceLabelv7">Address</div><div class="licenceAnswer">{{ pData.Addressline1}}</br>{{ pData.Addressline3}}</br>{{ pData.County}}</br>{{ pData.Postcode}}</div>
        </div>
        <div class="datatable">
          <div class="licenceLabelv7">Telephone</div><div class="licenceAnswer">{{ pData.tel}}</div>
          </div>
          <div class="datatablebottom">
          <div class="licenceLabelv7">Email</div><div class="licenceAnswer">{{ pData.Email}}</div>
        </div>
</br><p></p>

</main>
      {% endif %}
      {% endfor %}


{% endblock %}
