{% include "includes/phase_banner_alpha.html" %}
{% extends "layout.html" %}
{% block page_title %}
  Water abstraction licences
{% endblock %}
{% block content %}
<main id="content" role="main">
    <div class="phase-banner-alpha">
      <p>
      <strong class="phase-tag">ALPHA</strong>
    <span>This is an Alpha prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
          	</div>
                <p><a href="/v3/a/int/signin" class="sign-out">Sign out</a></p></div>
<nav>
    <div class="breadcrumbs">
    	  <ol role="breadcrumbs">
          <li><a href="#">Your services</a></li>
    	    <li><a href="#">Abstraction licences</a></li>
    	  </ol>
</nav>
</div>
<h1 class="heading-large">
  Your water abstraction licences
  </h1>
  <div class="greyline" style="border-bottom: 1px solid #bfc1c3;"></div>
<a href="/v3/a/int/online_licence?wid=1"> <div class="menubox">Bridge farm - licence number: 03/28/60/0002</div></a>

<a href="/v3/a/int/online_licence?wid=2"> <div class="menubox">West Power - licence number: 03/28/60/0004</div></a>
</div>

  <a href="/v3/a/int/online_licence?wid=3"> <div class="menubox">Valley's water - licence number: 03/28/60/0003</div></a>
</div>

</div></div>

</main>
{% endblock %}
