{% extends "layout.html" %}

{% set title = "Water test" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner-alpha">
      <p>
      <strong class="phase-tag">ALPHA</strong>
    <span>This is an Alpha prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
            </div>
                <p><a href="/v3/a/int/signin" class="sign-out">Sign out</a></p></div>
    <nav>
    <div class="breadcrumbs">
        <ol role="breadcrumbs">
          <li><a href="#">Your Services</a></li>
          <li><a href="#">Abstraction Licences</a></li>
        </ol>
    </nav>
    </div>


    <h1 class="heading-large">
    Your water abstraction licence
    </h1>
    <p></p>



      {% from "custom_inc/water_permits.html" import permits %}



        {% for pNumber, pData in permits %}
          {% if pNumber==chosenPermitID %}



							<p>Licence no: {{ pData.LicenceSerialNo }}</p>

							<div class="sourceofsupplyq">Licence holder: {{ pData.FirstName }} {{ pData.Surname }}</div>
              <a href="/v3/a/int/online_licence/contact_details?wid={{ pNumber }}" class="sourceofsupplya" >Licence contact details</a>
              <p></p>
							<div class="sourceofsupplyq">Abstraction point:</div> <div class="sourceofsupplya">{{ pData.Addressline1}}, {{ pData.Addressline3}}, {{ pData.County}}, {{ pData.Postcode}}. <p></p>{{ pData.Pointofabstraction}}</div>
              <p></p>
              <div class="sourceofsupplyq">Licence effective:</div> <div class="sourceofsupplya">{{ pData.EffectiveDateStart }} - {{ pData.EffectiveDateend }}</div>
              <p></p>
              <div class="sourceofsupplyq">Source of supply:</div> <div class="sourceofsupplya">{{ pData.SourceofSupply }}</div>
              <p></p>
              <div class="sourceofsupplyq">Period of abstraction:</div> <div class="sourceofsupplya">{{ pData.PeriodofAbstraction }}</div>
              <p></p>
              <div class="sourceofsupplyq">Maximum quantities:</div> <div class="sourceofsupplya">{{ pData.MaximumQuantityofwatertobeabstracted }}</div>
              <p></p>




              <p><a href="/v3/a/int/online_licence/terms?wid={{ pNumber }}">Read your full licence terms of use</a></p>

              <a href="/v3/a/int/licences"><p></p>< Back to previous</a>

              {% endif %}

          {% endfor %}



    </div>
  </div>

</main>

{% endblock %}
