{% extends "../head.html" %}

{% block page_title %}
  Choose an option to view your licences - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner -->
  <div class="phase-banner-beta big-space">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
      </p>
    </div>
  </div>

  <!-- page title -->
  <div class="grid-row small-space">
    <div class="column-two-thirds">
      <h1  class="heading-large">
        Choose an option to view your licences
      </h1>
    </div>
  </div>

  <!-- create account -->
  <div class="grid-row">
    <div class="column-one-half">
      <h2 class="heading-medium medium-space">Create an account</h2>
      <p>Choose this option if you haven’t used the service before.</p>
      <a href="start">
        <input onclick="" value="Create account" class="button" role="button" type="submit">
      </a>
    </div>

    <!-- sign in to account -->
    <div class="column-one-half">
      <h2 class="heading-medium medium-space">Sign in</h2>
      <p>Choose this option if you’ve already created an account for this service.</p>
      <a href="signin">
        <input onclick="" value="Sign in" class="button" role="button" type="submit">
      </a>
    </div>
  </div>

</div>
</main>

{% endblock %}
