{% extends "../head.html" %}

{% block page_title %}
  Choose an option to view your licences - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner -->
  <div class="phase-banner-beta">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
      </p>
    </div>
  </div>

  <div class="big-space"></div>

  <form>
    <div class="form-group grid-row small-space">
      <fieldset class="column-two-thirds">

        <div class="big-space">
          <h1 class="heading-large">
            Choose an option to view your licences
          </h1>
        </div>

        <div class="multiple-choice">
          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
          <label for="radio-1" class="heading-medium">Create an account</label>
          <p>Choose this option if you haven’t used the service before.</p>
        </div>

        <div class="multiple-choice">
          <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
          <label for="radio-2" class="heading-medium">Sign in</label>
          <p>Choose this option if you’ve already created an account for this service.</p>
        </div>

        <!-- <a href="start">
          <input onclick="" value="Continue" class="button" role="button" type="submit">
        </a> -->

      </fieldset>

    </div>
  </form>

  <a href="start">
    <input onclick="" value="Continue" class="button" role="button" type="submit">
  </a>


</div>
</main>

{% endblock %}
