{% extends "layout.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}


<main id="content" role="main">

  {% from "custom_inc/water_permits.html" import permits %}



    {% for pNumber, pData in permits %}
      {% if pNumber==chosenPermitID %}

      <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W64QRBS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="phase-banner-alpha">
      <p>
      <strong class="phase-tag">ALPHA</strong>
    <span>This is an Alpha prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
            </div>
    <nav>
    <div class="breadcrumbs">
        <ol role="breadcrumbs">
          <li><a href="#">Your services</a></li>
          <li><a href="/v6/licences">Abstraction licences</a></li>
          <li><a href="/v6/online_licence?wid={{ pNumber }}">Licence number: {{ pData.LicenceSerialNo }}</a></li>
        </ol>
    </nav>
 </div>
 <a href="/v6/signin" class="sign-out2">Sign out</a>

    <h1 class="heading-large">{{ pData.LicenceName }} water abstraction licence</h1>
    <p></p>

  <p></p>
							<div class="sourceofsupplyq">Licence holder:</div> <div class="licenceAnswer">{{ pData.FirstName }} {{ pData.Surname }}</br>
              <a href="/v6/online_licence/contact_details?wid={{ pNumber }}">Licence contact details</a></div>
              <p></p>
              <div class="sourceofsupplyq">Point of abstraction:</div><div class="licenceAnswer">This licence has multiple abstraction points.

              <details>



              <summary><span class="summary">See details of all licence abstraction points</span></summary>

              <div class="maxquantlist">

            Abstraction point 1</br>
                          {{ pData.Pointofabstraction}}</br><a href="/v6/online_licence/map_of_abstraction_point?wid={{ pNumber }}">View map for point 1</a>



            <p></p>
      Abstraction point 2</br>{{ pData.Pointofabstraction}}</br><a href="/v6/online_licence/map_of_abstraction_point?wid={{ pNumber }}">View map for point 2</a>
    </br>
          <p></p>Abstraction point 3</br>{{ pData.Pointofabstraction}}</br><a href="/v6/online_licence/map_of_abstraction_point?wid={{ pNumber }}">View map for point 3</a>
        <p></p>
        Abstraction point 4</br>{{ pData.Pointofabstraction}}</br><a href="/v6/online_licence/map_of_abstraction_point?wid={{ pNumber }}">View map for point 4</a>
      <p></p>

  </details></div></div><p></p>

              <div class="sourceofsupplyq">Licence effective from:</div> <div class="licenceAnswer">{{ pData.EffectiveDateStart }}</div>
              <p></p>
              <div class="sourceofsupplyq">Licensed until:</div> <div class="licenceAnswer">{{ pData.EffectiveDateend }}</div>
              <p></p>
              <div class="sourceofsupplyq">Source of supply:</div> <div class="licenceAnswer">{{ pData.SourceofSupply }}</div>
              <p></p>
              <div class="sourceofsupplyq">Period of abstraction:</div> <div class="licenceAnswer">{{ pData.PeriodofAbstraction }}</div>
              <p></p>
              <div class="sourceofsupplyq">Flow condition:</div><div class="licenceAnswer">This licence has {{ pData.handsOffFlow }}

                <details>



  <summary><span class="summary">{{ pData.handsOffFlowHelp }}</span></summary>

  <div class="panel panel-border-narrow">


      <h3 class="heading-small">What is a flow condition?</h3>

      <p>A licence condition which applies to some water abstraction licences, to protect our water levels in times of low surface water supply.</p> <p>A flow condition will affect the licensed maximum amount you can abstract.</p>
      <a href="/v6/online_licence/terms?wid={{ pNumber }}#abstractionconditions">{{ pData.handsOffFlowLink| replace( "link", "Read your licence flow condition" ) | safe }}</a>

  </div></div>

</details>

  <p></p>
  <div class="sourceofsupplyq">Linked licence conditions:</div><div class="licenceAnswer">Maximum quantities for this licence can be affected by conditions in other licences

  <details>



  <summary><span class="summary">See details of licences with shared conditions</span></summary>

  <div class="maxquantlist">

  Bridge farm - licence number: 03/28/60/0002</br><a href="/v6/online_licence/terms?wid={{ pNumber }}#flowconditions">View condition for 03/28/60/0002</a>
  <p></p>
  West Power - licence number: 03/28/60/0004</br><a href="/v6/online_licence/terms?wid={{ pNumber }}#flowconditions">View condition for 03/28/60/0004</a>
  <p></p>
  Valley's water - licence number: 03/28/60/0003</br><a href="/v6/online_licence/terms?wid={{ pNumber }}#flowconditions">View condition for 03/28/60/0003</a>
  <p></p>

  </details></div></div>
</br>
  </br>
  <div class="sourceofsupplyq">Maximum quantities before conditions:</div><div class="licenceAnswer">
    <details>
      <p></p>
<summary><span class="summary">Maximum quantities for each abstraction point</span></summary>
<div class="maxquant">
<details>

<summary><span class="summary">At National Grid Reference SK 496308</span></summary>

<div class="maxquantlist">
{{ pData.MaximumQuantityofwatertobeabstracted | replace( "per hour", "per hour</br>") | replace( "per day", "per day</br>") | replace( "per year", "per year<p></p>") | replace( "Note", "<p></p>Note") | replace( "Per Hour", "per hour</br>") | replace( "Per Day", "per day</br>") | replace( "Per Year", "per year<p></p>") |safe }}

</div>
</details>

<details><summary><span class="summary">At National Grid Reference SK 496308</span></summary>

<div class="maxquantlist">
{{ pData.MaximumQuantityofwatertobeabstracted | replace( "per hour", "per hour</br>") | replace( "per day", "per day</br>") | replace( "per year", "per year<p></p>") | replace( "Note", "<p></p>Note") | replace( "Per Hour", "per hour</br>") | replace( "Per Day", "per day</br>") | replace( "Per Year", "per year<p></p>") |safe }}

</div>
</details>

<details><summary><span class="summary">At National Grid Reference SK 496308</span></summary>

<div class="maxquantlist">
{{ pData.MaximumQuantityofwatertobeabstracted | replace( "per hour", "per hour</br>") | replace( "per day", "per day</br>") | replace( "per year", "per year<p></p>") | replace( "Note", "<p></p>Note") | replace( "Per Hour", "per hour</br>") | replace( "Per Day", "per day</br>") | replace( "Per Year", "per year<p></p>") |safe }}

</div>
</details>
<p></p>
</div>
</details>

<details>
<summary><span class="summary">Total maximum quantities across abstraction points</span></summary>

<div class="maxquantlist">
{{ pData.MaximumQuantityofwatertobeabstracted | replace( "per hour", "per hour</br>") | replace( "per day", "per day</br>") | replace( "per year", "per year<p></p>") | replace( "Note", "<p></p>Note") | replace( "Per Hour", "per hour</br>") | replace( "Per Day", "per day</br>") | replace( "Per Year", "per year<p></p>") |safe }}

</div>
</details>
</div>
</br></br>

              <p><a href="/v6/online_licence/terms?wid={{ pNumber }}">Read your full licence terms of use</a></p>

              <a href="/v6/licences"><p></p>< Back to previous</a>

              {% endif %}

          {% endfor %}





</main>

{% endblock %}
