{% extends "../head.html" %}

{% block page_title %}
  Choose how we contact you - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <div class="big-space"></div>

  <!-- back -->
  <div class="small-space">
    <a href="#" class="link-back" onclick="history.go(-1)">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

        <legend>
          <h1 class="heading-large">
            How would you prefer us to contact you about your licence?
          </h1>
        </legend>

        <p>
          We will use this method to send you notifications if possible. We are in the process of updating our IT systems, so you may still receive communication by other methods too.
        </p>

        <div class="panel panel-border-wide medium-space">
          <p>
            Sunnybrooke Farm, Jammingford<br>
            Birmingham,<br>
            B37 6RY<br>
          </p>
        </div>

        <a href="licences-contact-letter" class="button">
          Use my postal address
        </a>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="contact-preference-letters">If there are multiple postal addresses</a>


    </div>
  </div>
</main>

{% endblock %}
