{% extends "layout.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <form action="/docs/tutorials-and-examples" method="post" class="form">

    <div class="form-group">
      <details>
        <summary><span class="summary">Help with date of birth</span></summary>
        <div class="panel panel-border-narrow">
          <p>
            If you don’t know your exact date of birth, use the one you put on official documents (for example, your passport or driving licence).
          </p>
          <p>
            If you can’t provide your date of birth you’ll have to send copies of identity documents through the post.
          </p>
        </div>
      </details>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main>
{% endblock %}
