{% extends "v18/head.html" %}

{% block page_title %}
  We're sending you a letter - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <!-- back -->
  <a href="#" class="link-back" onclick="history.go(-1)">Back</a>

  <!-- main -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        We're sending you a letter
      </h1>

      <p>
        Your letter containing a security code and instructions will be sent by 2nd Class mail to:
      </p>

      <p>
        111 Abbey House, Abingdon-on-Thames, Oxfordshire, RE1 1GA
      </p>

      <p>
        You should receive it within 5 working days.
      </p>

      <p class="medium-space">
        <a href="/v14/pages/licences.html">Back to licences</a><br>
      </p>

      <a href="/v14/pages/manage-auth.html">Use a security code</a>

    </div>
  </div>
</main>

{% endblock %}
