{% extends "../layout.html" %}
{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>

  {% from "custom_inc/waterdata-severn.html" import permits %}

  {% for pNumber, pData in permits %}
  {% if pNumber==chosenPermitID %}

  <!-- breadcrumbs -->
  <nav>
    <div class="breadcrumbs">
      <ol role="breadcrumbs">
        <li><a href="/v14/pages/licences">Your licences</a></li>
        <li><a href="">Licence number: 03/28/01/0142</a></li>
          <!-- {{ pData.LicenceSerialNo }}</a></li> -->

        <a href="/v12_2/pages/signin" class="sign-out2">Sign out</a>
        <a href="/v12_2/change_password/new_password.html" class="change-password">Change password</a>
      </ol>
    </div>
  </nav>

  <!-- back -->
  <a href="#" class="link-back" onclick="history.go(-1)">Back</a>

  <!-- page title -->
  <!-- <h1  class="heading-large clustered">Licence number 29/38/01/0041</h1> -->
  <h1  class="heading-large clustered">Licence number 03/28/01/0142</h1>
  <!-- <h1  class="heading-large clustered">Licence number {{ pData.LicenceSerialNo }}</h1> -->
  <p class="medium-space">Starts 9 June 2015</p>

  <div class="datatable datahead">
    <label>Licence name </label>
    <div class="licenceAnswerv7">
      <a href="/v12_2/online_licence/rename/online_licence_rename?wid=1">Name this licence</a>
    </div>
  </div>

  <div class="datatable">
    <label>Licence holder</label>
    <div class="licenceAnswerv7">
      Severn Trent Water Limited</br>
      <a href="/v12_2/pages/contact_details?wid={{ pNumber }}">View licence contact details</a></div>
    </div>
    <div class="datatable">
      <div class="sourceofsupplyqv7">Source of supply</div>
      <div class="licenceAnswerv7">Underground strata comprising of Sandstone at Swynnerton, Sandyford, Staffordshire.</div>
    </div>
    <div class="datatable">
      <div class="sourceofsupplyqv7">Period of abstraction</div>
      <div class="licenceAnswerv7">All year</div>
    </div>

    <div class="datatable">
      <label>Points of abstraction</label>
      <div class="licenceAnswerv7">
        Point A - Boreholes at SJ 864 359<br>
        Point B - Boreholes at SJ 868 355<br>
        Point C - Boreholes at SJ 869 360<br>
        <a href="/v14/pages/point/points-a?wid=1">View details of points</a>
      </div>
    </div>

    <div class="datatable">
      <label>Purposes of abstraction</label>
      <div class="licenceAnswerv7">
        Public Water Supply<br>
        <a href="/v14/pages/purpose/purposes-a?wid=1">View details of purpose</a>
      </div>
    </div>

    <div class="datatable">
      <div class="sourceofsupplyqv7">Abstraction conditions</div>
        <div  class="licenceAnswerv7">
          General conditions<br>
          <a href="/v14/pages/conditions/1_condition?wid=1">View details of condition</a>
        </div>
      </div>
    </div>

    <div class="datatable">
      <label>Abstraction amounts</label>
      <div class="licenceAnswerv7">
        <strong class="bold-small">There are aggregate amount conditions for this licence</strong><br>
        66 litres per second
        10,227m cubic metres per day<br>
        3,107,000m cubic metres perannum<br>
        <a href="/v14/pages/amounts/point-a?wid=1">View details of amounts</a>
      </div>
    </div>

{% endif %}
{% endfor %}

</main>
{% endblock %}
