{% extends "layout.html" %}

{% set title = "Water test" %}

{% block page_title %}
  Water abstraction licence
{% endblock %}
{% block content %}
<main id="content" role="main">
    <div class="phase-banner-alpha">
      <p>
      <strong class="phase-tag">ALPHA</strong>
    <span>This is an Alpha prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
            </div>
                <p><a href="/v3/a/int/signin" class="sign-out">Sign out</a></p></div>
    <nav>
    <div class="breadcrumbs">
        <ol role="breadcrumbs">
          <li><a href="#">Your Services</a></li>
          <li><a href="#">Abstraction Licences</a></li>
        </ol>
    </nav>
    </div>


{% from "custom_inc/water_permits.html" import permits %}


  <h1 class="heading-large">
    Your water abstraction licence
    </h1>

  <h2 class="heading-medium">
    Check your licence details are up to date
  </h2>
  {% for pNumber, pData in permits %}
    {% if pNumber==chosenPermitID %}
<p>Licence no: {{ pData.LicenceSerialNo }}</p>
  <div class='grid-row'>
  <div class='column-two-thirds'>
<div class="grey_line">
  <button class="accordion">Source of supply</button>
<div class="white_panel">
  <p>{{ pData.SourceofSupply }}</p>
</div></div>

<div class="grey_line">
<button class="accordion">Point of abstraction</button>
<div class="white_panel">
  <p>{{ pData.Pointofabstraction }}</p>
</div></div>

<div class="grey_line">
<button class="accordion">Purpose of abstraction</button>
<div class="white_panel">
  <p>{{ pData.Purposeofabstraction }}</p></div></div>

<div class="grey_line">
<button class="accordion">Means of abstraction</button>
<div class="white_panel">
  <p>{{ pData.Meansofabstraction }}</p></div></div>

<div class="grey_line">
<button class="accordion">Means of measurement</button>
<div class="white_panel">
  <p>{{ pData.Meansofmeasurement| replace( ".", ".</p><p>") | safe }}</p></div></div>


<div class="grey_line">
<button class="accordion">Records</button>
<div class="white_panel">
  <p>{{ pData.records| replace( ".", ".</p><p>" ) | safe }}</p></div></div>


<div class="grey_line_bottom">
<button class="accordion">Maps</button>
<div class="white_panel">
<a href="/v3/a/int/online_licence/map_of_abstraction_point">Map of abstraction point</a></p>
</div></div></div></div>
<p></p>
<a href="/v3/a/int/online_licence?wid={{ pNumber }}" >< Back to previous</a>

{% endif %}

{% endfor %}
</main>
{% endblock %}
