{% extends "v11/online_licence/content_inc/licences_views.html" %}
{% block searchresults %}
{% block manage_licences_link %}
{% block manage_licence_permissions %}
{% block share_licences %}
{% block page_heading_in_tabs %}
{% block no_licences_new_user %}
{% endblock %}
{% block no_users_new_user %}
{% block manage_licences_wendy %}
{% block add_licences_wendy %}
{% block no_licences_wendy_new %}
{% block manage_licences_new_wendy %}
{% block no_results_header %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
