{% extends "../ex/head-signedin.html" %}

{% block page_title %}
  Choose how we contact you - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <div class="big-space"></div>

  <!-- back -->
  <div class="small-space">
    <a href="#" class="link-back" onclick="history.go(-1)">Back</a>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

        <legend>
          <h1 class="heading-large">
            How would you prefer us to contact you about your licence?
          </h1>
        </legend>

        <p>
          We will send notifications to the registered address for each of your licences.
        </p>

        <p>
          You can view the address in the contact details section of your licence.
        </p>

        <a href="licences" class="button">
          Confirm
        </a>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="contact-preference-letter">If there is just one postal address</a>


    </div>
  </div>
</main>

{% endblock %}
