{% extends "../../view.html" %}

<!-- page title -->
{% block page_title %}
  Your abstraction returns - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../../partials/nav-returns.html" %}

  <h1 class="heading-large medium-space">
    Your returns
  </h1>

  <div class="big-space">
    <a href="returns-xml">
      Upload XML for your returns</a>
  </div>

  <h2 class="bold-medium small-space">
    2018
  </h2>

  <!-- table with four columns -->
  <div class="table big-space">                                          <!-- a table -->

    <div class="table-row table-head">                                      <!-- the table head -->
      <div class="table-cell bold-small column-33">
        Licence number
      </div>
      <div class="table-cell bold-small">
        Licence name
      </div>
      <div class="table-cell bold-small">
        Purpose
      </div>
      <div class="table-cell bold-small column-15">
        Status
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->
      <div class="table-cell">
        <h3 class="sr-only">
          Row 1
        </h3>
        <h4 class="context">
          Licence number
        </h4>
        <a href="returns-report?wid=32">
          03/28/60/0032
        </a>
      </div>
      <div class="table-cell">
        <h4 class="context">
          Licence name
        </h4>
        Scrifford Pike
      </div>
      <div class="table-cell">
        <h4 class="context">
          Purpose
        </h4>
        Spray irrigation
      </div>
      <div class="table-cell">
        <h4 class="context">
          Status
        </h4>
        <!-- <strong class="task-completed open-task badge">
          Return due
        </strong> -->
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->
      <div class="table-cell">
        <h3 class="sr-only">
          Row 1
        </h3>
        <h4 class="context">
          Licence number
        </h4>
        <a href="returns-route-return?wid=42">
          03/28/60/0032
        </a>
      </div>
      <div class="table-cell">
        <h4 class="context">
          Licence name
        </h4>
        Scrifford Pike
      </div>
      <div class="table-cell">
        <h4 class="context">
          Purpose
        </h4>
        Trickle irrigation
      </div>
      <div class="table-cell">
        <h4 class="context">
          Status
        </h4>
        <strong class="task-completed open-task badge">
          Return due
        </strong>
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->

      <div class="table-cell">
        <h3 class="sr-only">
          Row 2
        </h3>
        <h4 class="context">
          Licence number
        </h4>
        <a href="returns-route-return?wid=33">
          03/28/60/0033
        </a>
      </div>
      <div class="table-cell">
        <h4 class="context">
          Licence name
        </h4>
        Honeydew Crescent
      </div>
      <div class="table-cell">
        <h4 class="context">
          Purpose
        </h4>
        Machine washing
      </div>
      <div class="table-cell">
        <h4 class="context">
          Status
        </h4>
        <strong class="task-completed open-task badge">
          Return due
        </strong>
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->

      <div class="table-cell">
        <h3 class="sr-only">
          Row 2
        </h3>
        <h4 class="context">
          Licence number
        </h4>
        <a href="returns-route-return?wid=34">
          03/28/60/0034/r002
        </a>
      </div>
      <div class="table-cell">
        <h4 class="context">
          Licence name
        </h4>
        Bridge Farm
      </div>
      <div class="table-cell">
        <h4 class="context">
          Purpose
        </h4>
        Trickle irrigation
      </div>
      <div class="table-cell">
        <h4 class="context">
          Status
        </h4>
        <strong class="task-completed open-task badge">
          Return due
        </strong>
      </div>
    </div>

  </div>

  <h2 class="bold-medium small-space">
    2017
  </h2>

  <!-- table with four columns -->
  <div class="table big-space">                                          <!-- a table -->

    <div class="table-row table-head">                                      <!-- the table head -->
      <div class="table-cell bold-small column-33">
        Licence number
      </div>
      <div class="table-cell bold-small">
        Licence name
      </div>
      <div class="table-cell bold-small">
        Purpose
      </div>
      <div class="table-cell bold-small column-15">
        Status
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->
      <div class="table-cell">
        <h3 class="sr-only">
          Row 1
        </h3>
        <h4 class="context">
          Licence number
        </h4>
        <a href="returns-report-edited?wid=32">
          03/28/60/0032
        </a>
      </div>
      <div class="table-cell">
        <h4 class="context">
          Licence name
        </h4>
        <!-- Licence name -->
      </div>
      <div class="table-cell">
        <h4 class="context">
          Purpose
        </h4>
        Spray irrigation
      </div>
      <div class="table-cell">
        <h4 class="context">
          Status
        </h4>
        <!-- <strong class="task-completed open-task badge">
          Return due
        </strong> -->
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->
      <div class="table-cell">
        <h3 class="sr-only">
          Row 1
        </h3>
        <h4 class="context">
          Licence number
        </h4>
        <a href="returns-report-edited?wid=32">
          03/28/60/0032
        </a>
      </div>
      <div class="table-cell">
        <h4 class="context">
          Licence name
        </h4>
        <!-- Licence name -->
      </div>
      <div class="table-cell">
        <h4 class="context">
          Purpose
        </h4>
        Trickle irrigation
      </div>
      <div class="table-cell">
        <h4 class="context">
          Status
        </h4>
        <!-- <strong class="task-completed open-task badge">
          Return due
        </strong> -->
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->

      <div class="table-cell">
        <h3 class="sr-only">
          Row 2
        </h3>
        <h4 class="context">
          Licence number
        </h4>
        <a href="returns-report-edited?wid=33">
          03/28/60/0033
        </a>
      </div>
      <div class="table-cell">
        <h4 class="context">
          Licence name
        </h4>
        <!-- Licence name -->
      </div>
      <div class="table-cell">
        <h4 class="context">
          Purpose
        </h4>
        Machine washing
      </div>
      <div class="table-cell">
        <h4 class="context">
          Status
        </h4>
        <!-- <strong class="task-completed open-task badge">
          Return due
        </strong> -->
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->

      <div class="table-cell">
        <h3 class="sr-only">
          Row 2
        </h3>
        <h4 class="context">
          Licence number
        </h4>
        <a href="returns-report?wid=34">
          03/28/60/0034/r002
        </a>
      </div>
      <div class="table-cell">
        <h4 class="context">
          Licence name
        </h4>
        <!-- Bridge Farm -->
      </div>
      <div class="table-cell">
        <h4 class="context">
          Purpose
        </h4>
        Trickle irrigation
      </div>
      <div class="table-cell">
        <h4 class="context">
          Status
        </h4>
        <!-- <strong class="task-completed open-task badge">
          Return due
        </strong> -->
      </div>
    </div>

  </div>

  <h2 class="bold-medium small-space">
    2016
  </h2>

  <!-- table with four columns -->
  <div class="table big-space">                                          <!-- a table -->

    <div class="table-row table-head">                                      <!-- the table head -->
      <div class="table-cell bold-small column-33">
        Licence number
      </div>
      <div class="table-cell bold-small">
        Licence name
      </div>
      <div class="table-cell bold-small">
        Purpose
      </div>
      <div class="table-cell bold-small column-15">
        Status
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->
      <div class="table-cell">
        <h3 class="sr-only">
          Row 1
        </h3>
        <h4 class="context">
          Licence number
        </h4>
        <a href="returns-report?wid=32">
          03/28/60/0032
        </a>
      </div>
      <div class="table-cell">
        <h4 class="context">
          Licence name
        </h4>
        <!-- Licence name -->
      </div>
      <div class="table-cell">
        <h4 class="context">
          Purpose
        </h4>
        Spray irrigation
      </div>
      <div class="table-cell">
        <h4 class="context">
          Status
        </h4>
        <!-- <strong class="task-completed open-task badge">
          Return due
        </strong> -->
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->

      <div class="table-cell">
        <h3 class="sr-only">
          Row 2
        </h3>
        <h4 class="context">
          Licence number
        </h4>
        <a href="returns-report?wid=33">
          03/28/60/0033
        </a>
      </div>
      <div class="table-cell">
        <h4 class="context">
          Licence name
        </h4>
        <!-- Licence name -->
      </div>
      <div class="table-cell">
        <h4 class="context">
          Purpose
        </h4>
        Machine washing
      </div>
      <div class="table-cell">
        <h4 class="context">
          Status
        </h4>
        <!-- <strong class="task-completed open-task badge">
          Return due
        </strong> -->
      </div>
    </div>

  </div>

  <h2 class="bold-medium small-space">
    2015
  </h2>

  <!-- table with four columns -->
  <div class="table big-space">                                          <!-- a table -->

    <div class="table-row table-head">                                      <!-- the table head -->
      <div class="table-cell bold-small column-33">
        Licence number
      </div>
      <div class="table-cell bold-small">
        Licence name
      </div>
      <div class="table-cell bold-small">
        Purpose
      </div>
      <div class="table-cell bold-small column-15">
        Status
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->
      <div class="table-cell">
        <h3 class="sr-only">
          Row 1
        </h3>
        <h4 class="context">
          Licence number
        </h4>
        <a href="returns-report?wid=32">
          03/28/60/0032
        </a>
      </div>
      <div class="table-cell">
        <h4 class="context">
          Licence name
        </h4>
        <!-- Licence name -->
      </div>
      <div class="table-cell">
        <h4 class="context">
          Purpose
        </h4>
        Spray irrigation
      </div>
      <div class="table-cell">
        <h4 class="context">
          Status
        </h4>
        <!-- <strong class="task-completed open-task badge">
          Return due
        </strong> -->
      </div>
    </div>

  </div>


</main>

<script src="/public/v6/javascripts/underscore.min.js"></script>
<script src="/public/v6/javascripts/jquery-1.11.3.js"></script>
<script src="/public/v6/javascripts/license_results.js"></script>

<script>
  $(function() {

    var ctrlKey = false;

    $(window).keydown(function(ev){
      if(ev.ctrlKey || ev.keyCode === 224 || ev.keyCode === 17 || ev.keyCode === 91 || ev.keyCode === 93) {
        ctrlKey = true;
      }
    });

    $(window).keyup(function(){
      ctrlKey = false;
    });

    $('a').parents('.table-row').addClass('clickable');

    // Click on licence list clicks inner link
    $('.table-row').on('click', function (ev) {
      var href = $(this).find('a:first').attr('href');
      console.log(ctrlKey);
      ctrlKey ? window.open.blur(href) : window.location.href = href;
      window.focus();
      // window.location.href = $(this).find('a:first').attr('href');
      $(this).addClass('active');
      ev.preventDefault();
    });
  });
</script>

{% endblock %}
