{% include "includes/phase_banner_alpha.html" %}
{% extends "layout.html" %}
{% block page_title %}
  Water abstraction licence
{% endblock %}
{% block content %}

<main id="content" role="main">
    <div class="phase-banner-alpha">
      <p>
      <strong class="phase-tag">ALPHA</strong>
    <span>This is an Alpha prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
          	</div>
                <p><a href="/v3/a/ext/signin" class="sign-out">Sign out</a></p></div>
<nav>
    <div class="breadcrumbs">
    	  <ol role="breadcrumbs">
          <li><a href="#">Your services</a></li>
    	    <li><a href="/v3/a/ext/licences">Abstraction licences</a></li>
          <li><a href="#">Licence number: 123456</a></li>
    	  </ol>
</nav>
</div>


  <h1 class="heading-large">
    Your water abstraction licence
  </h1>

    <p class="licenceno">Licence number: 123456</p>
    <div class='grid-row'>
    <div class='column-one-third'>
<p class="licenceholder">Licence holder: Joe Blogs</p></div>
<div class='column-one-third'>
<p><a href="/v3/a/ext/online_licence/contact_details" class="licenceholder">Licence contact details</a></p></div></div>
<p class="abstractionpoint">Abstraction point address: 4 Fake Street, Bristol, BS4 8LD</p>
<p class="abstractionpoint">Abstraction point grid reference: TL 1794 2809</p>
<p class="abstractionpoint">Licence effective dates: 11 July 2016 - 11 July 2017</p>
<div class="sourceofsupplyq">Source of supply: </div><div class="sourceofsupplya"> Underground strata comprising of chalk at Bath Spring Well, Charlton,
  Hitchin, Hertfordshire.</div>
<div class='grid-row'></div>
<p class="abstractionperiod">Period of abstraction: All year</p></div>
<div class='grid-row'>
<div class='column-third'>
<p>You are licensed to abstract:</p></div>
<div class='column-half'>
  <p>11,000m³ / hour*</p>
<p>11,000m³ / day*</p>
  <p></p>
<p>14,000,000m³ / year*</p>
      </div></div>
<div class='grid-row'>
  <p><div class='column-two-thirds'><p>*At an instantaneous rate not exceeding 19 litres per second.</p></div>
</div>
<div class='grid-row'>
  <div class='column-full'>

<p><a href="/v3/a/ext/online_licence/terms">Read your full licence terms of use</a></p>

<a href="/v3/a/ext/licences"><p></p>< Back to previous</a>
</div></div>
</main>

{% endblock %}
