{% extends "v18/head.html" %}

{% block page_title %}
  Where should we send your security code? - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <div class="big-space"></div>

  <div class="grid-row">
    <div class="column-two-thirds">
      {% if data.noneselected == "1" %}
      <!-- only show this error if incorrectLicenceNo param passed through from route-->
        <div id='incorrectLicenceNo' class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
          <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
            You must select a contact method, and then give us the contact details
          </h2>
        </div>
      {% endif %}

      <h1 class="heading-large">
        Where should we send your security code?
      </h1>

      {% block wendy_next_page %}
        <!-- <form method="post" action="/v14/ex/add_licence/post_confirm.html"> -->
        <form action="fao">
      {% endblock %}

      {% block new_wendy_next_page %}
        <form method="post" action="fao/">
      {% endblock %}

      <div class="form-group">
        <fieldset>
          <legend>
            <p class="lede">Choose one of your licence addresses:</p>
          </legend>

          <div class="form-group">
            <fieldset>
              <div class="multiple-choice">
                <input name="contact" id="111-Abbey-House" type="radio"  value="by-phone">
                <label for="111-Abbey-House">111 Abbey House, Abingdon-on-Thames, Oxfordshire, RE1 1GA</label>
              </div>
              <div class="multiple-choice">
                <input name="contact"  id="112-Abbey-House" type="radio" value="by-post">
                <label for="112-Abbey-House">112 Abbey House, Abingdon-on-Thames, Oxfordshire, RE1 1GA</label>
              </div>
              <div class="multiple-choice">
                <input name="contact"  id="113-Abbey-House" type="radio" value="by-post2">
                <label for="113-Abbey-House">113 Abbey House, Abingdon-on-Thames, Oxfordshire, RE1 1GA</label>
              </div>
            </fieldset>
          </div>

          <input type="submit" value="Continue" class="button" role="button"/>
        </form>

        <p></p>

      </div>
    </div>
  </main>

{% endblock %}
