{% extends "v18/head.html" %}

{% block page_title %}
  We're sending you a letter - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <div class="big-space"></div>

  <!-- main -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        We are sending you a letter
      </h1>

      <p>
        Your letter containing a security code and instructions will be sent by 2nd Class mail to:
      </p>

      <div class="panel panel-border-wide">
        <p>
          Michelle Sopp, Account team,<br>
          111 Abbey House,<br>
          Abingdon-on-Thames,<br>
          Oxfordshire,<br>
          RE1 1GA<br>
        </p>
      </div>

      <p>
        You should receive it within 5 working days.
      </p>

    </div>
  </div>
</main>

{% endblock %}
