{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>
  <a href="#" class="link-back" onclick="history.go(-1)">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">
      <!-- always use method='post' for forms --->
{% block wendy_next_page %}
<form action="/v11/online_licence/wendy_reg/3_select_licences" method="post" class="form" id="password_reset" data-parsley-validate data-parsley-errors-messages-disabled>
{% endblock %}
{% block new_wendy_next_page %}
<form action="/v11/online_licence/new_wendy_reg/select_licences" method="post" class="form" id="password_reset" data-parsley-validate data-parsley-errors-messages-disabled>
{% endblock %}
{% block john_next_page %}
<form action="/v11/online_licence/john_reg/3_select_licences" method="post" class="form" id="password_reset" data-parsley-validate data-parsley-errors-messages-disabled>
{% endblock %}
{% if data.incorrectLicenceNo == "1" %}
  <!-- only show this error if incorrectLicenceNo param passed through from route-->
        <div id='incorrectLicenceNo' class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
          <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
            Some information doesn’t match our records
          </h2>
          <ul class="error-summary-list">
            <li data-parsely-id="licence_no"><a href="#licence_no">Check your licence number(s)</a></li>
          </ul>
        </div>
{% endif %}
{% if data.nodata == "1" %}
  <!-- only show this error if incorrectLicenceNo param passed through from route-->
        <div id='incorrectLicenceNo' class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
          <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
            Some information doesn’t match our records
          </h2>
          <ul class="error-summary-list">
            <li data-parsely-id="licence_no"><a href="#licence_no">Check your licence number</a></li>
          </ul>
        </div>
{% endif %}

<!-- only show this error based on Parsley validation -->
<div class="error-summary hidden" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
  <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
    We need more information
  </h2>
  <ul class="error-summary-list">
    <li data-parsely-id="licence_no"><a href="#licence_no">Enter your licence number</a></li>
  </ul>
</div>

            <h1 class="heading-large">
              Which licences do you want to be able to view?</h1>

        <!-- User id -->
        <div class="form-group">
          <label for="licence_no">
{% block john_licence_no_label %}
              <fieldset>
                <span class="form-label-bold">Your licence number</span>
                <span class="form-hint">
                  If you have more than one licence, choose any of your numbers.
                </span>

                <span id="enterLicenceNo" data-parsely-id="licence_no" class="error-message hidden">Enter your licence number.</span>
              </fieldset>
  {% endblock %}

  {% block wendy_licence_no_label %}
                <fieldset>
                  <span class="form-label-bold">Enter your licence number(s)</span>
                  <span class="form-hint">
You can separate your licence numbers using spaces, commas, or by entering them on different lines.
                  </span>

                  <span id="enterLicenceNo" data-parsely-id="licence_no" class="error-message hidden">Enter your licence number.</span>
                </fieldset>
    {% endblock %}

          </label>

          {% block wendy_licence_no_input %}

          <textarea class="form-control form-control-3-4" name="licence_no" id="licence_no" rows="5" value="{{data.licence_no}}" required ></textarea>
          </div>

          {% endblock %}


          {% block john_licence_no_input %}

          <input type="licence_no" class="form-control" name="licence_no" id="licence_no" value="{{data.licence_no}}" required />
        </div>
        {% endblock %}
        <!-- Password -->
        {% block john_postcode %}
        <div class="form-group">
          <label for="postcode">

              <fieldset>
                <span class="form-label-bold">Your postcode</span>
                <span class="form-hint">
                  This is the postcode you registered as the licence holder.
                </span>
                <span id="enterPassword" data-parsely-id="postcode" class="error-message hidden">Enter your postcode.</span>
              </fieldset>

          </label>

          <input   type="text" class="form-control" name="postcode" id="postcode"  value="{{data.postcode}}" required/>
        </div>
{% endblock %}
          <input onclick="$('#incorrectLicenceNo').hide()" type="submit" value="Continue" class="button" role="button"/>


      </form>
      <p></p>
      <details class="closeOnOpen">
                <summary><span class="summary">Don't have this information?</span></summary>

                <p>Call our team for help:</p>

                <ul class="list list-bullet">
                  <li>phone - <a href="tel:03708506506">03708 506 506</a> (UK)</li>
                  <li>minicom if you are deaf or hard of hearing - 03702 422 549</li>
                </ul>

                <p>Phone lines are open Monday to Friday, 8am to 6pm.
              </br>Call charges can be found on <a href="http://www.gov.uk">GOV.UK</a></p>

      </details>


      <script>

{% if data.incorrectLicenceNo == "1" %}

document.getElementById("enterLicenceNo").className = "error-message"
// document.getElementById("enterPassword").className = "error-message"

{% endif %}

      </script>

    </div>
  </div>
</main>

{% endblock %}
