{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>

<a href="#" class="link-back" onclick="history.go(-1)">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">
      {% if data.noneselected == "1" %}
      <!-- only show this error if incorrectLicenceNo param passed through from route-->
            <div id='incorrectLicenceNo' class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
              <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
                You must select a contact method, and then give us the contact details
              </h2>
            </div>
      {% endif %}
            <h1 class="heading-large">
              Where should we send your security code?
            </h1>

{% block wendy_next_page %}
            <form method="post" action="/v11/online_licence/wendy_reg/7-2-2_by_post_confirm">
{% endblock %}
{% block new_wendy_next_page %}
            <form method="post" action="/v11/online_licence/new_wendy_reg/post_confirm">
{% endblock %}


              <div class="form-group">
                <fieldset>
                  <legend>
                    <details class="closeOnOpen">
                              <summary><span class="summary">Why do we need to post you a code?</span></summary>

                              <p>We post a security code to a registered address to make sure you’re the licence holder or an official representative.</p>


                    </details>
            
<p class="lede"> Choose one of your licence addresses:</p>
      </legend>
  <div class="form-group">
    <fieldset>

      <div class="multiple-choice">
        <input name="contact" id="radio-1" type="radio"  value="by-phone">
        <label for="radio-1">111 Abbey House, Abingdon-on-Thames, Oxfordshire, RE1 1GA</br><div style="font-size:0.85em;">Licence number 03/28/60/0002</div></label>
      </div>
      <div class="multiple-choice">
        <input name="contact"  id="radio-2" type="radio" value="by-post">
        <label for="radio-2">112 Abbey House, Abingdon-on-Thames, Oxfordshire, RE1 1GA</br><div style="font-size:0.85em;">Licence number 03/28/60/0003</div></label>
      </div>
      <div class="multiple-choice">
        <input name="contact"  id="radio-2" type="radio" value="by-post2">
        <label for="radio-2">113 Abbey House, Abingdon-on-Thames, Oxfordshire, RE1 1GA</br><div style="font-size:0.85em;">Licence number 03/28/60/0004</div></label>
      </div>

    </fieldset>
  </div>

<input type="submit" value="Continue" class="button" role="button"/>
</form>
<p></p>

    </div>
  </div>
</main>

{% endblock %}
