{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      {% block john_next_page %}
      <!-- always use method='post' for forms --->
      <form action="/v11/licences" method="get" class="form" id="password_reset" data-parsley-validate data-parsley-errors-messages-disabled>
        {% endblock %}

        {% block wendy_next_page %}
        <!-- always use method='post' for forms --->
        <form action="/v11/licence_holder_wendy" method="get" class="form" id="password_reset" data-parsley-validate data-parsley-errors-messages-disabled>
          {% endblock %}


{% if incorrectLogin == "1" %}
  <!-- only show this error if incorrectLogin param passed through from route-->
        <div id='incorrectLogin' class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
          <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
            Your code is incorrect
          </h2>
          <ul class="error-summary-list">
           <li data-parsely-id="password"><a href="#password">Re-enter your code</a></li>
          </ul>
        </div>
{% endif %}
    <div class="error-summary hidden" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
      <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
        You need to enter the code we sent you
      </h2>
      <ul class="error-summary-list">
        <li data-parsely-id="password"><a href="#password">Re-enter your confirmation code</a></li>
      </ul>
    </div>

</br>


            <h1 class="heading-large">
              Enter your security code
            </h1>
<!-- <p class="lede">This is the code we sent you by post or email.</p> -->
        <!-- Code -->
        <div class="form-group">
          <label for="password">
            <span class="form-hint">
              We sent this by post to the registered address you chose.
            </span>
              <fieldset>
                <span id="enterPassword" data-parsely-id="password" class="error-message hidden">Please check your code is correct.</span>
              </fieldset>

          </label>

          <input type="password" data-parsley-pattern="x45Tn" class="form-control" data-parsely-trigger="keyup change" name="password" id="password" required />
        </div>

          <input onclick="$('#incorrectLogin').hide()" type="submit" value="Continue" class="button" role="button"/>


      </form>
<p></p>
<details class="closeOnOpen">
          <summary><span class="summary">Haven’t received your code?</span></summary>

          <p>Please allow up to 5 working days to receive your code by post.</p>
          <p>If it hasn’t arrived after that time, please email <a href="mailto:water_abstractiondigital@environment-agency.gov.uk">water_abstractiondigital@environment-agency.gov.uk</a> to request a new code.</p>


</details>
</div>

<div class="column-full">
  <p></p>

<div class="license-results" id="results">

  <div class="license-results-header">
    <div class="license-results-header__column">
      <a href="#" aria-label="Sort by licence serial number">Licences you’ve requested to view<span class="sort-icon"> &#x25be;</span></a>
    </div>
    <div class="license-results-header__column">
      <a href="#" aria-label="Sort by licence name">Status</a>
    </div>
    <div class="license-results-header__column">
  </div>
  </div>

  <div class="license-result">
  <h2 class="heading-medium license-result__column">03/28/60/0002</h2>
  <p class="license-result__column license-result__column--description">Awaiting code</p>
    <a href="remove_access?user_id=long_email_address@test.co.uk" class="license-result__column license-result__column--description" aria-hidden="true">Enter code</a>
  </div>
<div class="license-result">
  <h2 class="heading-medium license-result__column">03/28/60/0003</h2>
  <p class="license-result__column license-result__column--description">Awaiting code</p>
  <a href="remove_access?user_id=long_email_address@test.co.uk" class="license-result__column license-result__column--description" aria-hidden="true"></a>
</div>
<div class="license-result">
  <h2 class="heading-medium license-result__column">03/28/60/0004</h2>
  <p class="license-result__column license-result__column--description">Awaiting code</p>
  <a href="remove_access?user_id=long_email_address@test.co.uk" class="license-result__column license-result__column--description" aria-hidden="true"></a>
</div>
<div class="license-result">
  <h2 class="heading-medium license-result__column">03/28/60/0005</h2>
  <p class="license-result__column license-result__column--description">Awaiting code</p>
  <a href="remove_access?user_id=long_email_address@test.co.uk" class="license-result__column license-result__column--description" aria-hidden="true"></a>
</div>
</div>
          </div>
      <script>
      // the following code overrides the default link click behaviour and adds the
        document.getElementById('password_reset_link').onclick=function(e){
          e.preventDefault();
          var user_id=document.getElementById('user-id').value
          window.location='/v11/password_reset?user_id='+user_id; //redirect to password reset screen
        }


{% if incorrectLogin == "1" %}
document.getElementById("enterPassword").className = "error-message"

{% endif %}

      </script>

    </div>
  </div>
</main>

{% endblock %}
