{% macro header(personalisation) %}
<div class="columns">
  <div class="column">

    <!-- licence number -->
    <div class="licence">
      <p class="smaller">
        Return reference <span class="bold">10042736</span>
      </p>
      <p class="smaller">
        Licence number <span class="bold">AN/033/0012/007</span>
      </p>
    </div>

  </div>

  <div class="column meta">

    <!-- header -->
    <div class="header">
      <p class="smaller">
        Midlands / Central</span>
      </p>
    </div>

  </div>
</div>
{% endmacro %}

{% macro area(personalisation) %}
<div class="column meta">

  <!-- header -->
  <div class="header">
    <p class="smaller">
      Midlands / Central</span>
    </p>
  </div>

</div>
{% endmacro %}

{% macro address(personalisation) %}
<div id="address-container">
  <div class="address-block">
    FAO: Edward Power<br>
    Water Resource Licensing team<br>
    Horizon House,<br>
    Deanery Road,<br>
    Near College Green<br>
    Bristol<br>
    BS1 5AH
  </div>
</div>
{% endmacro %}

{% macro cover(personalisation) %}
<div id="cover-content">
  <div class="columns">

    <!-- left column -->
    <div class="column">

      <div class="block">

        <div class="item">
          <p>
            Send us your return by <span class="bold">28 November 2018</span>.
          </p>
        </div>

        <div class="item">
          <p>
            You must complete an abstraction return even if you have not abstracted any water (nil return).<br>
            If your licence has expired or been revoked complete the return up to the end date<br>
            of the licence.
          </p>
        </div>

        <div class="item">
          <p>
            Before sending it make sure you:
            <ul>
              <li>
                have filled in all the relevant sections
              </li>
              <li>
                ticked the ‘nil return’ box if no water<br>
                has been abstracted
              </li>
              <li>
                signed the declaration
              </li>
            </ul>
          </p>
        </div>

        <div class="item">
          <p>
            If you are required to carry out monitoring<br>
            as a condition of you abstracting water you need to continue sending this information<br>
            to your local area office.
          </p>
        </div>

        <div class="item">
          <p class="bold">
            Return the completed form to:
          </p>
          <p>
            Waste and Industry Regulatory Services<br>
            Environment Agency<br>
            Quadrant 2, 99 Parkway Avenue<br>
            Sheffield, S9 4WF
          </p>
        </div>

      </div>

    </div>

    <!-- right column -->
    <div class="column" id="cover-layout">

      <div class="item">
        <p class="label">
          Licence number
        </p>
        <p class="bold">
          AN/033/0012/007
        </p>
      </div>

      <div class="item">
        <p class="label">
          Return reference
        </p>
        <p class="bold">
          10042736
        </p>
      </div>

      <div class="item">
        <p class="label">
          Site
        </p>
        <p class="bold">
          Great Ouse at Bedford College
        </p>
      </div>

      <div class="item">
        <p class="label">
          Purpose
        </p>
        <p class="bold">
          Heat pump cooling water
        </p>
      </div>

      <div class="item">
        <p class="label">
          Return period
        </p>
        <p>
          <span class="bold">1 April 2018</span> to <span class="bold">31 October 2018</span>
        </p>
      </div>

      <div class="item">
        <p class="label">
          Two-part tariff
        </p>
        <p class="bold">
          Yes
        </p>
      </div>

      <div class="item">

        <!-- <div class="item"> -->
          <!-- <div class="warning"> -->
            <!-- <div class="icon">
              <svg width="5mm" height="5mm" viewBox="0 0 68 68" version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>alert icon</title>
                <desc>Important</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M34,68 C15.2223185,68 0,52.7776815 0,34 C0,15.2223185 15.2223185,0 34,0 C52.7776815,0 68,15.2223185 68,34 C68,52.7776815 52.7776815,68 34,68 Z M34,53 C36.7614237,53 39,50.7614237 39,48 C39,45.2385763 36.7614237,43 34,43 C31.2385763,43 29,45.2385763 29,48 C29,50.7614237 31.2385763,53 34,53 Z M31,37.8926621 L37,37.8926621 L37.5,14 L30.5,14 L31,37.8926621 Z" id="alert-icon" fill="#000000" fill-rule="nonzero"></path>
                </g>

              </svg>
            </div> -->
            <p class="bold">
              If you do not send your return in time<br>
              we may take enforcement action.
            </p>
          <!-- </div> -->
        <!-- </div> -->

      </div>

    </div>

  </div>
</div>
{% endmacro %}


{% macro declaration(personalisation) %}
<div class="columns">
  <div class="column">

    <div class="block">
      <div class="block-head bold">
        10. Total volume of water abstracted
      </div>
      <p class="label">
        Amount abstracted
        <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
      </p>
    </div>

    <div class="block">
      <div class="block-head bold">
        11. Reporting without a meter
      </div>
      <p class="label">
        What are the abstraction volumes based on, for example, pump capacity by hours run?

        <div class="input">
          <div class="input-mask"></div>
        </div>
        <div class="input">
          <div class="input-mask"></div>
        </div>
        <div class="input">
          <div class="input-mask"></div>
        </div>
      </p>
    </div>

    <div class="block">
      <div class="block-head bold">
        12. Further information
      </div>
      <div class="item">
        <p class="label">
          If you need to explain an entry or give more information send this on a separate sheet. Write the return reference <span class="bold">10042736</span> and your licence number <span class="bold">AN/033/0012/007</span> on each sheet.
        </p>
      </div>
      <div class="item">
        <p class="key-data">
          <span class="checkbox"></span>
          I am sending further information
        </p>
      </div>
    </div>


  </div>
  <div class="column">
    <div class="block">
      <div class="block-head bold">
        13. Declaration
      </div>
      <p>
        I confirm that the information I have provided is correct, to the best of my knowledge
      </p>
      <br>
      <p class="label">
        Signed
      </p>
      <div class="input">
        <div class="input-mask"></div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}


{% macro openquestions(personalisation) %}
<div class="columns">

  <div class="column">

    <!-- contact information -->
    <div class="block">

      <div class="block-head bold">
        1. Who is the contact for this return?
      </div>

      <p>
        Write in CAPITAL LETTERS
      </p>

      <br>

      <div class="item">
        <p class="label">
          First name<br>
          <div class="input">
            <div class="input-mask">
              <p class="bold">

              </p>
            </div>
          </div>
        </p>
      </div>

      <div class="item">
        <p class="label">
          Last name<br>
          <div class="input">
            <div class="input-mask">
            </div>
          </div>
        </p>
      </div>

      <div class="item">
        <p class="label">
          Telephone<br>
          <div class="input">
            <div class="input-mask">
            </div>
          </div>
        </p>
      </div>

      <div class="item">
        <p class="label">
          Email<br>
          <div class="input">
            <div class="input-mask">
            </div>
          </div>
        </p>
      </div>

    </div>

    <!-- return -->
    <div class="block">
      <div class="block-head bold">
        2. Did you abstract water?
      </div>

      <div class="item">
        <p class="key-data">
          <span class="checkbox"></span>
          Yes
        </p>
        <p class="key-data">
          <span class="checkbox"></span>
          No (nil return)
        </p>
        <p class="guide">
          If no, go to section 13
        </p>
      </div>
    </div>

    <!-- units -->
    <div class="block">
      <div class="block-head bold">
        3. Unit of measurement
      </div>
      <div class="item">
        <p class="key-data">
          <span class="checkbox"></span>
          Cubic metres
        </p>
        <p class="key-data">
          <span class="checkbox"></span>
          Litres
        </p>
        <p class="key-data">
          <span class="checkbox"></span>
          Megalitres
        </p>
        <p class="key-data">
          <span class="checkbox"></span>
          Gallons
        </p>
      </div>
    </div>

    <!-- units -->
    <div class="block">
      <div class="block-head bold">
        4. Did you use a meter?
      </div>
      <div class="item">
        <p class="key-data">
          <span class="checkbox"></span>
          Yes
        </p>
        <p class="key-data">
          <span class="checkbox"></span>
          No
        </p>
      </div>
      <p class="guide">
        If no, go to section 9
      </p>
    </div>

  </div>

  <!-- right column -->
  <div class="column">

    <!-- your meter -->
    <div class="block">
      <div class="block-head bold">
        5. Meter details
      </div>
      <div class="item special-row">
        <div class="special-input">
        </div>
        <div class="elastic">
          <p>
            How many meters?
          </p>
        </div>
      </div>

      <div class="item">
        <p class="label">
          Manufacturer<br>
          <div class="input">
            <div class="input-mask">
            </div>
          </div>
        </p>
      </div>

      <div class="item">
        <p class="label">
          Serial number<br>
          <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
        </p>
      </div>

      <div class="item">
        <p>
          Some meters are marked with ×10. If yours is, send us the actual number on the display. You do not need to multiply it by 10.
        </p>

        <!-- <p>
          Some meters are marked with ×10. You should enter the actual figure that you see on the display. You do not need to multiply the volume by 10.
        </p> -->

        <p class="key-data">
          <span class="checkbox"></span>
          My meter has a ×10 display
        </p>
      </div>

    </div>

    <!-- start reading -->
    <div class="block">
      <div class="block-head bold">
        6. Start meter reading
      </div>
      <div class="item">
        <div class="number-group">
          <div class="number-input"></div><div class="number-input last-digit"></div>
        </div>
        <div class="number-group">
          <div class="number-input"></div><div class="number-input last-digit"></div>
        </div>
        <div class="number-group">
          <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
        </div>
      </div>
      <div class="item">
        <p class="label">
          Reading<br>
          <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
        </p>
      </div>
    </div>

    <!-- end reading -->
    <div class="block">
      <div class="block-head bold">
        7. End meter reading
      </div>
      <div class="item">
        <div class="number-group">
          <div class="number-input"></div><div class="number-input last-digit"></div>
        </div>
        <div class="number-group">
          <div class="number-input"></div><div class="number-input last-digit"></div>
        </div>
        <div class="number-group">
          <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
        </div>
      </div>
      <div class="item">
        <p class="label">
          Reading<br>
          <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
        </p>
      </div>
    </div>

    <!-- numbers block -->
    <div class="block">

      <div class="block-head bold">
        8. How are you reporting your return?
      </div>

      <div class="item">
        <p class="key-data">
          <span class="checkbox"></span>
          `Meter` readings
        </p>
        <p class="key-data">
          <span class="checkbox"></span>
          Abstraction volumes
        </p>
      </div>
    </div>

  </div>

</div>
{% endmacro %}


{% macro privacy(personalisation) %}
<div class="columns">
  <div class="column">

    <div class="text-block">

      <h2>
        The Data Protection Act 1998
      </h2>

      <p>
        We, the Environment Agency, will process the information you provide so that we can deal with your abstraction return, make sure you keep to the conditions of the licence, permit or registration, and process renewals.
      </p>

      <p>
        We may also process or release the information to:
      </p>

      <ul>
        <li>
          offer you documents or services relating to environmental matters
        </li>
        <li>
          consult the public, public organisations and other organisations (for example, the Health & Safety Executive, local authorities, the emergency services, the Department for Environment, Food and Rural Affairs) on environmental issues
        </li>
        <li>
          carry out research and development work on environmental issues, or allow others to do so
        </li>
        <li>
          manage and assess present and likely future demand for water, or allow others to do so
        </li>
        <li>
          prevent anyone from breaking environmental law, investigate cases where environmental law may have been broken, and take any action that is needed
        </li>
        <li>
          assess whether customers are satisfied with our service, and to improve our service, and
        </li>
        <li>
          respond to requests for information under the Freedom of information Act 2000 and the Environmental Information Regulations 2004 (if the Data Protection Act allows).
        </li>
      </ul>

      <p>
        We may pass the information on to our agents or representatives to do these things for us.
      </p>

    </div> <!-- end text block -->


  </div> <!-- end column 1 -->
  <div class="column">

    <div class="text-block">

      <div class="item">

        <h3 class="buffed">
          Contacting us
        </h3>
        <p>
          You can email us about your data:
          <br><span class="bold">dataprotection@environment-agency.gov.uk</span>
        </p>
        <p>
          Or write to:<br>
          <span class="bold">Data Protection Team, Environment Agency, Horizon House, Deanery Road, Bristol BS1 5AH</span>
        </p>
        <p>
          Find out about your rights or complain on the Information Commissioner’s Office:<br>
          <span class="bold">www.ico.org.uk</span>
        </p>

      </div>

      <div class="item">
        <p>
          To claim commercial in confidence for this return, contact the Waste and Industry Regulatory Services on <span class="bold">national-operator-returns@environment-agency.gov.uk</span>, or <span class="bold">03708 506 506</span>.
        </p>
      </div>
      <div>
        <p>
          Lines are open Monday to Friday,<br>
          8am to 6pm (GMT).
        </p>
      </div>

    </div>

  </div>
</div>
{% endmacro %}


{% macro guide(personalisation, phase) %}
<div class="columns">
  <div class="column">

    <div class="text-block">

      <div class="item">
        <h2>
          Guidance
        </h2>
        <p>
          Refer to this guidance when filling out the form.
        </p>
      </div>

      <div class="item">

        <h3>
          Return details
        </h3>

        <p>
          The return shows your licence number, return reference and site description. If you need to modify the site description call us on <span class="bold">03708 506 506</span>. The combination of the licence number and return reference make a return unique.
        </p>

      </div>

      <div class="item">
        <h3>
          1. Who is the contact for this return?
        </h3>
        <p>
          Enter the details for the person who should be contacted if we have any queries about this return.
        </p>
      </div>

      <div class="item">
        <h3>
          2. Did you abstract water?
        </h3>
        <p>
          Even if you did not abstract any water you must still report that to us. This is known as ‘submitting a nil return’.
        </p>
      </div>

      <div class="item">
        <h3>
          3. Unit of measurement
        </h3>
        <p>
          Tell us what units have been used to measure your abstraction.
        </p>
      </div>

      <div class="item">
        <h3>
          4 and 5. Meter details
        </h3>
        <p>
          If you have used multiple meters tell us how many. You only need the manufacturer and  serial number for one of them.
        </p>
      </div>

      <div class="item">
        <p>
          If your meter is marked with a x10 use the number on the display. You do not need to add an extra ‘0’ to the reading.
        </p>
      </div>

      <div class="item">
        <h3>
          6 and 7. Start and end meter readings
        </h3>
        <p>
          If you are reporting continuous run meter readings you need to enter ‘start’ and ‘end’ meter readings. You also need to add the individual entries.
        </p>
      </div>

      <div class="item">
        <p>
          The <span class="bold">start reading</span> is taken immediately before the start of the period of abstraction but within the reporting period.
        </p>
      </div>

    </div> <!-- end text block -->

  </div>

  <div class="column">

    <div class="text-block buffed">

      <div class="item">
        <p>
          The <span class="bold">end reading</span> is taken at the end of the abstraction period. We treat all readings in between the start and end dates as if they were taken at the end of each {{phase}}.
        </p>
      </div>

      <div class="item">
        <h3>
          8 and 9: How are you reporting your return?
        </h3>
        <p>
          If you used more than one meter you need to enter your abstracted quantities as volumes not meter readings.
        </p>
      </div>

      <div class="item">
        <p>
          Enter either:
        </p>
        <ul>
          <li>
            continuous meter readings
          </li>
          <li>
            the actual quantity on the {{phase}}s you abstracted water and ‘0’ when you did not
          </li>
        </ul>
      </div>

      <div class="item">
        <p>
          A decimal point should only be used to indicate a fraction of a whole unit. For example, 0.5 will be taken to mean half a gallon.
        </p>
      </div>

      <div class="item">
        <h3>
          10. Total water abtracted
        </h3>
        <p>
          This is the total volume of water abstracted in the return period.
        </p>
      </div>

      <div class="item">
        <h3>
          11. Reporting without a meter
        </h3>
        <p>
          Complete this section if you are not required to use a water meter to measure your abstracted quantities. For example, you may have used pump rate capacity multiplied by hours pumped.
        </p>
      </div>
      <div class="item">
        <h3>
          13. Declaration
        </h3>
        <p>
          You must sign the declaration before sending your return to us, even if it is a ‘nil’ return.
        </p>
      </div>

    </div>

  </div>
</div>
{% endmacro %}
