{% macro header(personalisation) %}
<div class="columns">
  <div class="column">

    <!-- licence number -->
    <div class="licence">
      <p class="smaller">
        Return reference <span class="bold">10042736</span>
      </p>
      <p class="smaller">
        Licence number <span class="bold">AN/033/0012/007</span>
      </p>
    </div>

  </div>

  <div class="column meta">

    <!-- header -->
    <div class="header">
      <p class="smaller">
        Midlands / Central area</span>
      </p>
    </div>

  </div>
</div>
{% endmacro %}

{% macro area(personalisation) %}
<div class="column meta">

  <!-- header -->
  <div class="header">
    <p class="smaller">
      Midlands / Central area</span>
    </p>
  </div>

</div>
{% endmacro %}

{% macro address(personalisation) %}
<div id="address-container">
  <div class="address-block">
    FAO: Edward Power<br>
    Water Resource Licensing team<br>
    Horizon House,<br>
    Deanery Road,<br>
    Near College Green<br>
    Bristol<br>
    BS1 5AH
  </div>
</div>
{% endmacro %}

{% macro cover(personalisation) %}
<div id="cover-content">
  <div class="columns">

    <!-- left column -->
    <div class="column">

      <div class="block">

        <div class="item">
          <p>
            Send us your return by <span class="bold">28 November 2019</span>.
          </p>
        </div>

        <div class="item">
          <p>
            You must submit a return even if you have not abstracted any water (nil return).<br>
            If your licence has expired or been revoked complete the return up to the end date<br>
            of the licence.
          </p>
        </div>

        <div class="item">
          <p>
            Before sending it make sure you:
            <ul>
              <li>
                have filled in all the relevant sections
              </li>
              <li>
                ticked the ‘nil return’ box if no water<br>
                has been abstracted
              </li>
              <li>
                signed the declaration
              </li>
            </ul>
          </p>
        </div>

        <div class="item">
          <p>
            If you are required to carry out monitoring<br>
            as a condition of you abstracting water you need to continue sending this information<br>
            to your local area office.
          </p>
        </div>

        <div class="item">
          <p class="bold">
            Return the completed form to:
          </p>
          <p>
            Waste and Industry Regulatory Services<br>
            Environment Agency<br>
            Quadrant 2, 99 Parkway Avenue<br>
            Sheffield, S9 4WF
          </p>
        </div>

        <div class="item">

          <p>
            To claim commercial in confidence for this return, for help completing the form, or to find your local area office, contact us on <span class="bold">03708 506 506</span>.
          </p>
        </div>

        <div class="item">
          <p>
            Lines are open Monday to Friday,<br>
            8am to 6pm (GMT).
          </p>

        </div>

      </div>

    </div>

    <!-- right column -->
    <div class="column" id="cover-layout">

      <div class="item">
        <p class="label">
          Licence number
        </p>
        <p class="bold">
          AN/033/0012/007
        </p>
      </div>

      <div class="item">
        <p class="label">
          Return reference
        </p>
        <p class="bold">
          10042736
        </p>
      </div>

      <div class="item">
        <p class="label">
          Site
        </p>
        <p class="bold">
          Great Ouse at Bedford College
        </p>
      </div>

      <div class="item">
        <p class="label">
          Purpose
        </p>
        <p class="bold">
          Heat pump cooling water
        </p>
      </div>

      <div class="item">
        <p class="label">
          Return period
        </p>
        <p>
          <span class="bold">1 April 2018</span> to <span class="bold">31 March 2019</span>
        </p>
      </div>

      <div class="item">
        <p class="label">
          Two-part tariff
        </p>
        <p class="bold">
          Yes
        </p>
      </div>

      <div class="item">

        <!-- <div class="item"> -->
          <!-- <div class="warning"> -->
            <!-- <div class="icon">
              <svg width="5mm" height="5mm" viewBox="0 0 68 68" version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>alert icon</title>
                <desc>Important</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M34,68 C15.2223185,68 0,52.7776815 0,34 C0,15.2223185 15.2223185,0 34,0 C52.7776815,0 68,15.2223185 68,34 C68,52.7776815 52.7776815,68 34,68 Z M34,53 C36.7614237,53 39,50.7614237 39,48 C39,45.2385763 36.7614237,43 34,43 C31.2385763,43 29,45.2385763 29,48 C29,50.7614237 31.2385763,53 34,53 Z M31,37.8926621 L37,37.8926621 L37.5,14 L30.5,14 L31,37.8926621 Z" id="alert-icon" fill="#000000" fill-rule="nonzero"></path>
                </g>

              </svg>
            </div> -->
            <p class="bold">
              If you do not send your return in time<br>
              we may take enforcement action.
            </p>
          <!-- </div> -->
        <!-- </div> -->

      </div>

    </div>

  </div>
</div>
{% endmacro %}


{% macro declaration(personalisation) %}
<div class="columns">
  <div class="column">

    <div class="block">
      <div class="block-head bold">
        10. Total volume of water abstracted
      </div>
      <p class="label">
        Amount abstracted
        <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
      </p>
    </div>

    <div class="block">
      <div class="block-head bold">
        11. Reporting without a meter
      </div>
      <p class="label">
        What are the abstraction volumes based on, for example, pump capacity by hours run?

        <div class="input">
          <div class="input-mask"></div>
        </div>
        <div class="input">
          <div class="input-mask"></div>
        </div>
        <div class="input">
          <div class="input-mask"></div>
        </div>
      </p>
    </div>

    <div class="block">
      <div class="block-head bold">
        12. Further information
      </div>
      <div class="item">
        <p class="label">
          If you need to explain an entry or give more information send this on a separate sheet. Write the return reference <span class="bold">10042736</span> and your licence number <span class="bold">AN/033/0012/007</span> on each sheet.
        </p>
      </div>
      <div class="item">
        <p class="key-data">
          <span class="checkbox"></span>
          I am sending further information
        </p>
      </div>
    </div>


  </div>
  <div class="column">
    <div class="block">
      <div class="block-head bold">
        13. Declaration
      </div>
      <p>
        I confirm that the information I have provided is correct, to the best of my knowledge
      </p>
      <br>
      <p class="label">
        Signed
      </p>
      <div class="input">
        <div class="input-mask"></div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}


{% macro openquestions(personalisation) %}
<div class="columns">

  <div class="column">

    <!-- contact information -->
    <div class="block">

      <div class="block-head bold">
        1. Who is the contact for this return?
      </div>

      <p>
        Write in CAPITAL LETTERS
      </p>

      <br>

      <div class="item">
        <p class="label">
          First name<br>
          <div class="input">
            <div class="input-mask">
              <p class="bold">

              </p>
            </div>
          </div>
        </p>
      </div>

      <div class="item">
        <p class="label">
          Last name<br>
          <div class="input">
            <div class="input-mask">
            </div>
          </div>
        </p>
      </div>

      <div class="item">
        <p class="label">
          Telephone<br>
          <div class="input">
            <div class="input-mask">
            </div>
          </div>
        </p>
      </div>

      <div class="item">
        <p class="label">
          Email<br>
          <div class="input">
            <div class="input-mask">
            </div>
          </div>
        </p>
      </div>

    </div>

    <!-- return -->
    <div class="block">
      <div class="block-head bold">
        2. Did you abstract water?
      </div>

      <div class="item">
        <p class="key-data">
          <span class="checkbox"></span>
          Yes
        </p>
        <p class="key-data">
          <span class="checkbox"></span>
          No (nil return)
        </p>
        <p class="guide">
          If no, go to section 13
        </p>
      </div>
    </div>

    <!-- units -->
    <div class="block">
      <div class="block-head bold">
        3. Unit of measurement
      </div>

      <div class="item">
        <p class="key-data">
          <span class="checkbox"></span>
          Cubic metres
        </p>
        <p class="key-data">
          <span class="checkbox"></span>
          Litres
        </p>
        <p class="key-data">
          <span class="checkbox"></span>
          Megalitres
        </p>
        <p class="key-data">
          <span class="checkbox"></span>
          Gallons
        </p>
      </div>
    </div>

    <!-- units -->
    <div class="block">
      <div class="block-head bold">
        4. Did you use a meter?
      </div>
      <div class="item">
        <p>
          If you used more than one meter you must report your return in abstraction volumes.
        </p>
      </div>
      <div class="item">
        <p class="key-data">
          <span class="checkbox"></span>
          Yes
        </p>
        <p class="key-data">
          <span class="checkbox"></span>
          No
        </p>
      </div>
      <p class="guide">
        If no, go to section 9
      </p>
    </div>

  </div>

  <!-- right column -->
  <div class="column">

    <!-- your meter -->
    <div class="block">
      <div class="block-head bold">
        5. Meter details
      </div>
      <div class="item">
        <p>
          If you used more than one meter you only need to tell us about one of them.
        </p>
      </div>
      <div class="item">
        <p class="label">
          Manufacturer<br>
          <div class="input">
            <div class="input-mask">
            </div>
          </div>
        </p>
      </div>
      <div class="item">
        <p class="label">
          Serial number<br>
          <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
        </p>
      </div>

      <div class="item">
        <p>
          Some meters are marked with ×10. If yours is, send us the actual number on the display. You do not need to multiply it by 10.
        </p>

        <!-- <p>
          Some meters are marked with ×10. You should enter the actual figure that you see on the display. You do not need to multiply the volume by 10.
        </p> -->

        <p class="key-data">
          <span class="checkbox"></span>
          My meter has a ×10 display
        </p>
      </div>

    </div>

    <!-- start reading -->
    <div class="block">
      <div class="block-head bold">
        6. Start meter reading
      </div>
      <div class="item">
        <p class="label">
          The date when abstraction starts,<br> for example 19 03 2019
        <div class="number-group">
          <div class="number-input"></div><div class="number-input last-digit"></div>
        </div>
        <div class="number-group">
          <div class="number-input"></div><div class="number-input last-digit"></div>
        </div>
        <div class="number-group">
          <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
        </div>
      </div>
      <div class="item">
        <p class="label">
          Reading<br>
          <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
        </p>
      </div>
    </div>

    <!-- end reading -->
    <div class="block">
      <div class="block-head bold">
        7. End meter reading
      </div>
      <div class="item">
        <p class="label">
          The date when abstraction ends
        </p>
        <div class="number-group">
          <div class="number-input"></div><div class="number-input last-digit"></div>
        </div>
        <div class="number-group">
          <div class="number-input"></div><div class="number-input last-digit"></div>
        </div>
        <div class="number-group">
          <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
        </div>
      </div>
      <div class="item">
        <p class="label">
          Reading<br>
          <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
        </p>
      </div>
    </div>

    <!-- numbers block -->
    <div class="block">

      <div class="block-head bold">
        8. How are you reporting your return?
      </div>

      <div class="item">
        <p class="key-data">
          <span class="checkbox"></span>
          Meter readings
        </p>
        <p class="key-data">
          <span class="checkbox"></span>
          Abstraction volumes
        </p>
      </div>
    </div>

  </div>

</div>
{% endmacro %}


{% macro privacy(personalisation) %}
<div class="columns">
  <div class="column">

    <div class="text-block">

      <h2>
        How we use your personal data - privacy notice
      </h2>

      <p>
        The data controller is the Environment Agency. A data controller determines how and why personal data is processed.
      </p>
      <h3>
        The data we need
      </h3>
      <p>
        This data includes your name, contact details and any records of water use.
      </p>
      <h3>
        Why we need it
      </h3>
      <p>
        We collect the data to:
      </p>
      <ul>
        <li>
          process your water use records
        </li>
        <li>
          keep public registers up to date
        </li>
        <li>
          contact you about your licence
        </li>
        <li>
          register you to use our online water resources service
        </li>
        <li>
          process your licence applications
        </li>
        <li>
          amend or renew your existing licence
        </li>
        <li>
          advertise your application for a new licence, if required
        </li>
      </ul>

      <p>
        We need to do this to manage water resources in England. This is in the public interest and the data controller has official authority vested in it to do this.
      </p>

      <h3>
        Sharing and transferring personal data
      </h3>
      <p>
        We will not share your data with anyone outside of the Environment Agency without your consent unless we are allowed to do so by law. But we may pass your data on to our agents or representatives to process it for us.
      </p>
      <p>
        We will not transfer your data outside the European Economic Area.
      </p>

    </div> <!-- end text block -->


  </div> <!-- end column 1 -->
  <div class="column">

    <div class="text-block">

      <h3>
        How long we hold personal data
      </h3>
      <p>
        We will keep your personal data required to access the Manage your water abstraction or impoundment licence service and for as long as you require access to the service.
      </p>
      <p>
        We will keep other personal data for 7 years once the abstraction or impoundment licence ceases to have effect. After 7 years we will review retention in line with our standard information retention policy.
      </p>

      <h3>
        Automated decision-making and profiling
      </h3>
      <p>
        We will not use the information you provide:
      </p>
      <ul>
        <li>
          to make a decision by automated means without any human involvement
        </li>
        <li>
          for automated processing of personal data to check certain things about someone
        </li>
        <li>
          For general information about how we treat your personal data, see our Personal Information Charter: <span class="bold">www.gov.uk/government/<br>organisations/environmentagency/<br>about/personalinformationcharter</span>
        </li>
      </ul>
      <h3>
        Contacting us
      </h3>
      <p>
        You can email us about your data:
        <br><span class="bold">dataprotection@environment-agency.gov.uk</span>
      </p>
      <p>
        Or write to:<br>
        <span class="bold">Data Protection Team, Environment Agency, Horizon House, Deanery Road, Bristol BS1 5AH</span>
      </p>
      <p>
        Find out about your rights or complain on the Information Commissioner’s Office:<br>
        <span class="bold">www.ico.org.uk</span>
      </p>


    </div>

  </div>
</div>
{% endmacro %}
