{% macro header(personalisation) %}
<div class="columns">
  <div class="column">

    <!-- licence number -->
    <div class="licence">

      <div class="qr-container">
        <div class="qr-code">&nbsp;</div>
        <div class="return-id">
          <p class="smaller">
            Return reference <span class="bold">10042736</span>
          </p>
          <p class="smaller">
            Licence number <span class="bold">AN/033/0012/007</span>
          </p>
        </div>
      </div>

    </div>

  </div>

  <div class="column meta">
    <!-- header -->
    <div class="header">
      <p class="smaller">
        Thames / South West
      </p>
      <p class="smaller">
        Two-part tariff
      </p>
    </div>

  </div>
</div>
{% endmacro %}

{% macro area(personalisation) %}
<div class="column meta">

  <!-- header -->
  <div class="header">
    <p class="smaller">
      Midlands / Central
    </p>
    <p class="smaller">
      Two-part tariff
    </p>
  </div>

</div>
{% endmacro %}

{% macro address(personalisation) %}
<div id="address-container">
  <div class="address-block">
    Lucy Packer<br>
    Front desk<br>
    Temple Quay House,<br>
    1 Friary<br>
    Bristol<br>
    BS1 6EA
  </div>
</div>
{% endmacro %}

{% macro letter(personalisation) %}
<div id="letter-content">
  <div class="columns">

    <!-- left column -->
    <div class="column letter-column">

      <div class="block bigger-text">

        <div class="item">
          <p>
            Dear licence holder
          </p>
        </div>

        <div class="item">
          <p>
            Your abstraction return for 1 April 2018 to 31 March 2019 is now overdue. You still have time to submit it online. Even if you did not abstract water you must complete a return.
          </p>
        </div>

        <div class="item">
          <h2>
            You can be fined if you do not submit a return
          </h2>
        </div>

        <div class="item">
          <p>
            Visit GOV.UK and search for ‘Manage your water abstraction or impoundment licence online’ to register with the service.
          </p>
        </div>

        <div class="item">
          <p>
            We will send you a security code in the post within 5 days. You will then be able to submit your return.
          </p>
        </div>

        <div class="item">
          <h2>
            If you are not the licence holder
          </h2>
        </div>

        <div class="item">
          <p>
            If you usually submit returns on behalf of a licence holder you need to ask them to register with the service.
          </p>
        </div>

        <div class="item">
          <p>
            They can then give you access to their account and permission to manage their returns.
          </p>
        </div>

        <div class="item">
          <p>
            Alternatively, fill out the attached form and send it back straightaway.
          </p>
        </div>

        <div class="item">
          <p>
            Yours faithfully
          </p>
          <p>
            Water Resource Licensing Service
          </p>
        </div>

      </div>

    </div>

  </div>
</div>
{% endmacro %}

{% macro cover(personalisation) %}
<div id="cover-content">
  <div class="columns">

    <!-- left column -->
    <div class="column">

      <div class="block">

        <div class="item">
          <p>
            Send us your return by <span class="bold">28 November 2018</span>.
          </p>
        </div>

        <div class="item">
          <p>
            You must submit a return form even if you have not abstracted any water.
          </p>
        </div>

        <div class="item">
          <p>
            If your licence has expired or been cancelled,<br>
            complete the return up to the end date of<br>
            the licence.
          </p>
        </div>

        <div class="item">
          <p>
            Two-part tariff holders may want to send<br>
            the form by recorded delivery.
          </p>
        </div>

        <div class="item">
          <p>
            Before sending it make sure you:
            <ul>
              <li>
                fill in all the relevant sections
              </li>
              <li>
                tick the ‘nil return’ box if no water has<br>been abstracted
              </li>
              <li>
                sign the declaration
              </li>
              <li>
                include this page with your form
              </li>
            </ul>
          </p>
        </div>

        <div class="item">
          <p>
            If you are required to carry out monitoring<br>
            as a condition of your licence you need to continue sending this information to your local area office.
          </p>
        </div>

      </div>

    </div>

    <!-- right column -->
    <div class="column" id="cover-layout">

      <div class="item">
        <p class="label">
          Licence number
        </p>
        <p class="bold">
          AN/033/0012/007
        </p>
      </div>

      <div class="item">
        <p class="label">
          Return reference
        </p>
        <p class="bold">
          10042736
        </p>
      </div>

      <div class="item">
        <p class="label">
          Site description
        </p>
        <p class="bold">
          Great Ouse at Bedford College
        </p>
      </div>

      <div class="item">
        <p class="label">
          Purpose
        </p>
        <p class="bold">
          Heat pump cooling water
        </p>
      </div>

      <div class="item">
        <p class="label">
          Return period
        </p>
        <p>
          <span class="bold">1 April 2018</span> to <span class="bold">31 March 2019</span>
        </p>
      </div>

      <div class="boxed">
        <div class="item">
          <p class="bold">
            Send this page with your completed form to:
          </p>
        </div>
        <div class="item">
          <p>
            Waste and Industry Regulatory Services<br>
            Environment Agency<br>
            Quadrant 2, 99 Parkway Avenue<br>
            Sheffield, S9 4WF
          </p>
        </div>
      </div>

      <div class="item">

        <p class="bold">
          If you do not send your return in time<br>
          we may take enforcement action.
        </p>

      </div>

    </div>

  </div>
</div>
{% endmacro %}


{% macro declaration(personalisation) %}
<div class="columns">
  <div class="column">

    <div class="block">
      <div class="block-head bold">
        10. Total volume of water abstracted in this return period
      </div>
      <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
    </div>

    <div class="block">
      <div class="block-head bold">
        11. Reporting without a meter
      </div>
      <p class="label">
        What are the abstraction volumes based on? For example, pump capacity multiplied by hours run.
        <div class="input">
          <div class="input-mask"></div>
        </div>
        <!-- <div class="input">
          <div class="input-mask"></div>
        </div> -->
      </p>
    </div>

    <div class="block">
      <div class="block-head bold">
        12. Further information
      </div>
      <div class="item">
        <p class="label">
          If you need to explain an entry or give<br>
          more information send this on a separate sheet. Write the return reference <span class="bold">10042736</span> and your licence number <span class="bold">AN/033/0012/007</span><br>
          on each sheet.
        </p>
      </div>

      <!-- <div class="checkbox-and-text">
        <div>
          <div class="checkbox"></div>
        </div>
        <div>
          <p>Tick this box if you are sending<br>
            further information</p>
        </div>
      </div> -->

    </div>

    <div class="block pull-up">
      <div class="block-head bold">
        13. Declaration
      </div>
      <p>
        I confirm that the details in this return are correct to the best of my knowledge.
      </p>
      <br>
      <p class="label">
        Signed
      </p>
      <div class="input">
        <div class="input-mask"></div>
      </div>
    </div>

    <div class="block">
      <div class="block-head bold">
        Contact us
      </div>

      <!-- contact us -->
      <div class="item">
        <p>
          If you need any help please call us<br>
          or email us on <span class="bold">enquiries@environment-agency.gov.uk</span>.
        </p>
      </div>

      <!-- contact us -->
      <div class="item">
        <p>
          To claim commercial in confidence for<br>
          this return, please call us or email us on <span class="bold">abstractions.returns@environment-agency.gov.uk</span>.
        </p>
      </div>
      <div>
        <p>
          <span class="bold">
            National Customer Contact Centre
          <br>
          Call on 03708 506 506</span> Lines are open Monday to Friday, 8am to 6pm.
        </p>
      </div>
<!--
      <div>
        <p>
          [minicom details]
        </p>
      </div> -->

    </div>

  </div>
  <div class="column">

    <!-- privacy statement -->

      <div class="text-block">

        <h2>
          The Data Protection Act 1998
        </h2>

        <p>
          We, the Environment Agency, will process the information you provide so that we can deal with your abstraction return, make sure you keep to the conditions of the licence, permit or registration, and process renewals.
        </p>

        <br>

        <p>
          We may also process or release the information to:
        </p>

        <br>

        <p>
          <ul>
            <li>
              offer you documents or services relating<br>
              to environmental matters
            </li>
            <li>
              consult the public, public organisations and other organisations (for example,<br>
              the Health & Safety Executive, local authorities, the emergency services, the Department for Environment, Food and Rural Affairs) on environmental issues
            </li>
            <li>
              carry out research and development work on environmental issues, or allow others to do so
            </li>
            <li>
              manage and assess present and likely future demand for water, or allow others<br>
              to do so
            </li>
            <li>
              prevent anyone from breaking environmental law, investigate cases where environmental law may have been broken and take any action that is needed
            </li>
            <li>
              assess whether customers are satisfied with our service and improve our service
            </li>
            <li>
              respond to requests for Information under the Freedom of Information Act 2000 and the Environmental Information Regulations 2004 (if the Data Protection Act allows).
            </li>
          </ul>
        </p>
        <br>
        <p>
          We may pass the information on to our agents or representatives to do these things for us.
        </p>

      </div>


  </div>
</div>
{% endmacro %}


{% macro openquestions(personalisation) %}
<div class="columns">

  <div class="column">

    <!-- contact information -->
    <div class="block">

      <div class="block-head bold">
        1. Who is the contact for this return?
      </div>

      <p>
        Write in CAPITAL LETTERS
      </p>

      <br>

      <div class="item">
        <p class="label">
          First name<br>
          <div class="input">
            <div class="input-mask">
              <p class="bold">

              </p>
            </div>
          </div>
        </p>
      </div>

      <div class="item">
        <p class="label">
          Last name<br>
          <div class="input">
            <div class="input-mask">
            </div>
          </div>
        </p>
      </div>

      <div class="item">
        <p class="label">
          Telephone<br>
          <div class="input">
            <div class="input-mask">
            </div>
          </div>
        </p>
      </div>

      <div class="item">
        <p class="label">
          Email<br>
          <div class="input">
            <div class="input-mask">
            </div>
          </div>
        </p>
      </div>

    </div>

    <!-- return -->
    <div class="block">
      <div class="block-head bold">
        2. Did you abstract water?
      </div>

      <div class="item">
        <p class="key-data">
          <span class="checkbox"></span>
          Yes
        </p>
        <p class="key-data">
          <span class="checkbox"></span>
          No (nil return)
        </p>
        <p class="guide">
          If no, go to section 13
        </p>
      </div>
    </div>

    <!-- numbers block -->
    <div class="block">

      <div class="block-head bold">
        3. How are you reporting your return?
      </div>

      <div class="item">
        <p class="key-data">
          <span class="checkbox"></span>
          Meter readings
        </p>
        <p class="key-data">
          <span class="checkbox"></span>
          Abstraction volumes
        </p>
      </div>
    </div>

    <!-- units -->
    <div class="block">
      <div class="block-head bold">
        4. Unit of measurement
      </div>
      <div class="item">
        <p class="key-data">
          <span class="checkbox"></span>
          Cubic metres
        </p>
        <p class="key-data">
          <span class="checkbox"></span>
          Litres
        </p>
        <p class="key-data">
          <span class="checkbox"></span>
          Megalitres
        </p>
        <p class="key-data">
          <span class="checkbox"></span>
          Gallons
        </p>
      </div>
    </div>

  </div>

  <!-- right column -->
  <div class="column">

    <!-- meter -->
    <div class="block">
      <div class="block-head bold">
        5. Did you use a meter?
      </div>
      <div class="item">
        <p class="key-data">
          <span class="checkbox"></span>
          Yes
        </p>
        <p class="key-data">
          <span class="checkbox"></span>
          No
        </p>
      </div>
      <p class="guide">
        If no, go to section 9
      </p>
    </div>

    <!-- your meter -->
    <div class="block">
      <div class="block-head bold">
        6. Meter details
      </div>
      <!-- <div class="item special-row">
        <div class="special-input">
        </div>
        <div class="elastic">
          <p>
            How many meters were used?
          </p>
        </div>
      </div> -->

      <div class="item">
        <p class="label">
          Make<br>
          <div class="input">
            <div class="input-mask">
            </div>
          </div>
        </p>
      </div>

      <div class="item">
        <p class="label">
          Serial number<br>
          <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
        </p>
      </div>

      <div class="item">
        <p>
          You do not need to multiply meter<br>
          readings by 10.
        </p>
      </div>

      <div class="item">
        <div class="checkbox-and-text">
          <div>
            <div class="checkbox"></div>
          </div>
          <div class="checkbox-and-text__text">
            <p>Tick this box if your meter</p>
            <p>has a &times;10 display</p>
          </div>
        </div>
      </div>

    </div>

    <!-- start reading -->
    <div class="block">
      <div class="block-head bold">
        7. Start meter reading
      </div>
      <div class="item">
        <p class="label">
          Date<br>
          <div class="number-group">
            <div class="number-input"></div><div class="number-input last-digit"></div>
          </div>
          <div class="number-group">
            <div class="number-input"></div><div class="number-input last-digit"></div>
          </div>
          <div class="number-group">
            <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
          </div>
        </p>
      </div>
      <div class="item">
        <p class="label">
          Reading<br>
          <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
        </p>
      </div>
    </div>

    <!-- end reading -->
    <div class="block">
      <div class="block-head bold">
        8. End meter reading
      </div>
      <div class="item">
        <p class="label">
          Date<br>
          <div class="number-group">
            <div class="number-input"></div><div class="number-input last-digit"></div>
          </div>
          <div class="number-group">
            <div class="number-input"></div><div class="number-input last-digit"></div>
          </div>
          <div class="number-group">
            <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
          </div>
        </p>
      </div>
      <div class="item">
        <p class="label">
          Reading<br>
          <div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input"></div><div class="number-input last-digit"></div>
        </p>
      </div>
    </div>

  </div>

</div>
{% endmacro %}

{% macro guide(personalisation, phase) %}
<div class="columns">
  <div class="column">

    <div class="text-block">

      <div class="item">
        <h2>
          Refer to this guidance when filling out the form
        </h2>
      </div>

      <div class="item">
        <h3>
          1. Who is the contact for this return?
        </h3>
        <p>
          Enter the details for the person who should be contacted if we have any queries about this return.
        </p>
      </div>

      <div class="item">
        <h3>
          2. Did you abstract water?
        </h3>
        <p>
          Even if you did not abstract any water you must still report that to us. This is known as submitting a nil return.
        </p>
      </div>

      <!-- <div class="item">
        <h3>
          3. How are you reporting your return?
        </h3>
      </div>

      <div class="item">
        <p>
          Choose meter readings or abstraction volumes
        </p>
      </div>

      <div class="item">
        <h3>
          4. Unit of measurement
        </h3>
        <p>
          Tell us which units have been used to measure your abstraction.
        </p>
      </div> -->

      <div class="item">
        <h3>
          6. Meter details
        </h3>
        <p>
          If you have used more than one meter<br>
          tell us about the current one.
        </p>
      </div>

      <!-- <div class="item">
        <p>
          If your meter is marked with a x10 use the number on the display. You do not need to add an extra ‘0’ to the reading.
        </p>
      </div> -->

      <h3>
        7. and 8. Start and end meter readings
      </h3>
      <div class="item">
        <p>
          The <span class="bold">start reading</span> is what your meter read before you began abstracting in this period.
        </p>
      </div>
    </div>

    <div class="text-block">
      <div class="item">
        <p>
          The <span class="bold">end reading</span> is taken at the end of the abstraction period. We treat all readings in between the start and end dates as if they were taken at the end of each {{phase}}.
        </p>
      </div>

      <div class="item">
        <p>
          If you used more than one meter<br>
          you need to enter volumes and not<br>
          meter readings.
        </p>
      </div>

      <div class="item">
        <p>
          A decimal point should only be used<br>
          to indicate a fraction of a whole unit.<br>
          For example, 0.5 will be taken to mean<br>
          half a gallon.
        </p>
      </div>

      <div class="item">
        <h3>
          9. Meter readings or abstraction volumes
        </h3>
      </div>

      <div class="item">
        <p>
          In every numbered line on the form,<br>
          you should enter a meter reading or the<br>
          actual quantity on the dates you abstracted<br>
          water and ‘0’ when you did not.
        </p>
      </div>

    </div> <!-- end text block -->

  </div>

  <div class="column">

    <div class="item buffed">

      <div class="item">
        <h3>
          11. Reporting without a meter
        </h3>
        <p>
          Complete this section if you are not<br>
          required to use a water meter to measure your abstracted quantities.
        </p>
      </div>
      <div class="item">
        <h3>
          13. Declaration
        </h3>
        <p>
          You must sign the declaration before sending your return to us, even if it is<br>
          a nil return.
        </p>
      </div>

    </div>

  </div>
</div>
{% endmacro %}
