{% extends "../head-signedin.html" %}

<!-- page title -->
{% block page_title %}
  Licence return for  {{ pData.LicenceNumber }} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% from "custom_inc/waterdata.html" import permits %}
  {% for pNumber, pData in permits %}
  {% if pNumber==chosenPermitID %}

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../../partials/nav-ex-returns.html" %}

  <div class="grid-row medium-space">
    <div class="column-two-thirds">

      <!-- page heading -->
      {% if pData.LicenceName %}
        <h2 class="sub-head">
          Abstraction return for  {{ pData.LicenceSerialNo }}
        </h2>
        <h1 class="heading-large spaceless">
          {{ pData.LicenceName }}
        </h1>
      {% else %}
        <h2 class="sub-head">
          Abstraction record
        </h2>
        <h1 class="heading-large spaceless">
          Licence number {{pData.LicenceSerialNo}}
        </h1>
      {% endif %}
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <div class="form-group">
        <fieldset>
          <legend>
            <h2 class="heading-medium">
              What units does your meter use?
            </h2>
          </legend>

          <div class="multiple-choice">
            <input id="radio-inline-1" type="radio" name="radio-inline-1" value="">
            <label for="radio-inline-1">Cubic metres</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-inline-3" type="radio" name="radio-inline-3" value="">
            <label for="radio-inline-3">Litres</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-inline-4" type="radio" name="radio-inline-4" value="">
            <label for="radio-inline-4">Megalitres</label>
          </div>
          <div class="multiple-choice">
            <input id="radio-inline-2" type="radio" name="radio-inline-2" value="">
            <label for="radio-inline-2">Gallons</label>
          </div>
        </fieldset>
      </div>

    </div>
  </div>

  <a href="returns-form-meter?wid={{ query.wid }}" class="button">
    Continue
  </a>



  {% endif %}
  {% endfor %}

</main>
{% endblock %}
