 {% extends "../../view.html" %}

{% block page_title %}
  Gauging station for {{pData.LicenceSerialNo}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% from "custom_inc/waterdata.html" import permits %}
  {% for pNumber, pData in permits %}
  {% if pNumber==chosenPermitID %}

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../../partials/nav-view.html" %}

  <div class="big-space"></div>

  <!-- back -->
  <div class="medium-space">
    <a href="#" class="link-back" onclick="history.go(-1)">Licence number {{pData.LicenceSerialNo}}</a>
  </div>

  <div class="big-space">
    <!-- page heading -->
      <div class="medium-space">

        <!-- page title -->
        <h1 class="heading-large clustered">
          <span class="heading-secondary">
            At National Grid Reference {{ pData.GaugingStationGridReference }}
          </span>
           Data from {{ pData.GaugingStationName }}
        </h1>

        <div class="clustered">Source of supply: {{ pData.Source}}</div>

        <!-- Grid reference <a href="">{{ pData.GaugingStationGridReference }}</a> -->
        <!-- At National Grid Reference {{ pData.GaugingStationGridReference }} -->

      </div>

      <!-- graph here -->
      <div class="grid-row medium-space" id="special">
        <div class="column-one-third flexy extra-flex small-space">

          <a href="river-flow-graph" class="river-flow-graph">
            River Flow for seven days
          </a>

        </div>
      <!-- </div> -->

      {% if pData.GaugingStationData %}

        <!-- data here -->
        <!-- <div class="grid-row medium-space" id="special"> -->
          <div class="column-two-thirds flexy extra-flex small-space">
            <div class="inner-flex flex-static">
              <span class="bold-xxlarge">
                {% if pData.LicenceHasFlow %}
                  {{ pData.GaugingStationFlowValue }}
                {% else %}
                  {{ pData.GaugingStationLevelValue }}
                {% endif %}
              </span>
            </div>

            <div class="inner-flex">
              {% if pData.LicenceHasFlow %}
                <label class="bold-small">Flow rate</span><br>
                <select class="form-control unit-dropper" id="select-box" name="select-box">
                  <option>m³/s</option>
                  <option>gal.³/s</option>
                  <option>buckets/s</option>
                </select>
              {% else %}
                <label class="bold-small">Level reading</span><br>
                <select class="form-control unit-dropper" id="select-box" name="select-box">
                  <option>cm</option>
                  <option selected>m</option>
                  <option>ft</option>
                </select>
              {% endif %}
            </div>
          </div>

          <div class="column-two-thirds">
            <!-- recorded at -->
            <span class="data-item medium-space">Recorded at <span class="bold-small">{{ pData.GaugingStationRecordedTime }} on {{ pData.GaugingStationRecordedDate }}</span></span>
          </div>

          <div class="column-two-thirds">
            {% if pData.LicenceHasFlow %}
              <a href="">See level data at this gauging station</a>
            {% else %}
              <a href="">See flow data at this gauging station</a>
            {% endif %}
          </div>

        </div>

      {% else %}
        <!-- NO DATA -->
        <div class="data">
          <span class="data-item bold-xxlarge">Sorry, there is no data available</span>
          <span class="data-item">
            Please contact your <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening" target="_blank">local Environment Agency office</a> (link opens in a new tab) for the latest information.
          </span>
        </div>
      {% endif %}

  </div>

  <!-- legal -->
  <div class="grid-row big-space">
    <div class="column-two-thirds">
      <div class="notice">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          This data is for reference only. You should continue to use your current monitoring methods to make abstraction decisions.
        </strong>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="small-space">
        <span class="bold-medium">Details of the hands off flow conditions</span>
      </h2>
    </div>
  </div>

  <div class="small-space">
    <h3 class="lede">Cessation condition</h3>
  </div>

  <div class="panel panel-border-wide">
    <div class="data-row-group">

      <div class="data-row data-row--section">
        <div class="data-row__param" id="label-0-1-purpose">
       Purpose
        </div>
        <div class="data-row__value" aria-labelledby="label-0-1-purpose">
          Make-Up Or Top Up Water
        </div>
      </div>

      <div class="data-row">
        <div class="data-row__param" id="label-0-1-param1">
          Gauging station
        </div>
        <div class="data-row__value" aria-labelledby="label-0-1-param1">
          At National Grid Reference {{ pData.GaugingStationGridReference}}<br>
          {{pData.GaugingStationName}}
        </div>
      </div>

      <div class="data-row">
        <div class="data-row__param" id="label-0-1-param2">
        Threshold level
        </div>
        <div class="data-row__value" aria-labelledby="label-0-1-param2">
         {{ pData.HOFlimit }}
        </div>
      </div>

      <div class="data-row">
        <div class="data-row__param" id="label-0-1-info">
        Other information
        </div>
        <div class="data-row__value" aria-labelledby="label-0-1-info">
          No abstraction shall take place from the Denton New Cut when the water level in the Cut as measured at {{ pData.GaugingStationName }} ({{ pData.GaugingStationGridReference }}) is at or below {{ pData.HOFlimit }}.
        </div>
      </div>

    </div>
  </div>

  <div class="medium-space">
    <a href="conditions?wid={{query.wid}}">
      View all conditions information held for this licence
    </a>
  </div>

</main>

{% endif %}
{% endfor %}

{% endblock %}
