{% include "includes/phase_banner_alpha.html" %}
{% extends "layout.html" %}
{% block page_title %}
  Water abstraction licence
{% endblock %}
{% block content %}
<main id="content" role="main">
  <div class="column-full">
    <div class="phase-banner-alpha">
      <p>
      <strong class="phase-tag">ALPHA</strong>
    <span>This is an Alpha prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
    </div>
    <nav>
    <div class="breadcrumbs">
        <ol role="breadcrumbs">
          <li><a href="#">Your Services</a></li>
          <li><a href="#">Abstraction Licences</a></li>
          <li><a href="#">Licences no 123456</a></li>
        </ol>
      </div>
</nav>
  <h1 class="heading-large">
    Your water abstraction licence
    </h1>
  <h2 class="heading-medium">
    Check your licence term of use
  </h2>
      Licence no. 123456
    </p>
    <details class="closeOnOpen">
    					<summary><span class="summary">Source of supply</span></summary>
                              <p></p>River Avon<p></p>
      </details>
        <details class="closeOnOpen">
        					<summary><span class="summary">Point of abstraction</span></summary>
                                  <p></p>West point pump<p></p>
          </details>
            <details class="closeOnOpen">
            					<summary><span class="summary">Purpose of abstraction</span></summary>
                                      <p></p>Irrigation<p></p>
              </details>
                <details class="closeOnOpen">
                					<summary><span class="summary">Means of abstraction</span></summary>
                                          <p></p>Pump<p></p>
                  </details>
                    <details class="closeOnOpen">
                    					<summary><span class="summary">Means of measurement</span></summary>
                                              <p></p>Meter<p></p>
                      </details>
                        <details class="closeOnOpen">
                        					<summary><span class="summary">Map</span></summary>
                                                  <p></p>Pending map<p></p>
                          </details>
                            <details class="closeOnOpen">
                            					<summary><span class="summary">Notes</span></summary>
                                                      <p></p>Pending notes<p></p>
                              </details>
    </div>
      <div class="column-one-half"><a href="/online_licence"><p></p>< Back to previous</a></div>

  </main>
{% endblock %}
