{% extends "../view.html" %}

<!-- page title -->
{% block page_title %}
  Send a notification - GOV.UK
{% endblock %}

<script src="/public/v6/javascripts/underscore.min.js"></script>
<script src="/public/v6/javascripts/jquery-1.11.3.js"></script>
<script src="/public/v6/javascripts/license_results.js"></script>

{% block content %}
<main id="content" role="main">

  <!-- internal beta banner block -->
  {% include "../partials/feedback-banner.html" %}

  <!-- navigation block -->
  {% include "../partials/nav-admin-manage.html" %}

  <!-- <a href="#" class="link-back medium-space" onclick="history.go(-1)">Back</a> -->

  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1  class="heading-large">
        Send a hands off flow notification
      </h1>
    </div>
  </div>

  <!-- the form to find an audience -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <!-- form -->
      <form class="medium-space">

        <div class="form-group">
          <label for="licence_no">
            <fieldset class="small-space">
              <span class="form-label">Enter the licence number(s) you want to send a notification about</span>
              <span class="form-hint">You can separate licence numbers using spaces, commas, or by entering them on different lines.</span>
            </fieldset>
          </label>
          <textarea class="form-control form-control-3-4" name="licence_no" id="licence_no" rows="5" value="{{data.licence_no}}" required ></textarea>
        </div>

        <!-- input field here -->
        <div>
          <a href="hof-select-licences" id="submitButton" class="button button" type="submit">Continue</a>
        </div>

      </form>

    </div>
  </div>

</main>

{% endblock %}
