{% extends "../view.html" %}

<!-- page title -->
{% block page_title %}
  Review licence data - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- internal beta banner block -->
  {% include "../partials/feedback-banner.html" %}

  <!-- navigation block -->
  {% include "../partials/nav-admin-view.html" %}

  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1  class="heading-large">
        View licences
      </h1>
    </div>
  </div>

  <div class="grid-row medium-space">
    <div class="column-two-thirds">

      <label class="form-label form-label" for="licenceSearch">Search for a licence</label>
      <span class="form-hint">Search by registered email address or licence number</span>

      <div class="flexy">
        <input type="text" class="form-control form-control--block column-two-thirds" />
        <div class="column-one-third search-button">
          <a href="licences-internal-list" class="button">Search</a>
        </div>
      </div>
    </div>
  </div>

  <!-- flextable function -->
  <div class="grid-row medium-space">
    <div class="column-full">


      <div class="table" id="licences-as-tasks">                                <!-- table starts -->

        <div class="table-row table-head">                                      <!-- tablehead starts -->

          <div class="table-cell bold-small column-40" id="ar-number-column">
            <a href="#" aria-label="Sort by licence number">
              Licence number
            </a>
          </div>
          <div class="table-cell bold-small column-40" id="ar-name-column">
            <a href="#" aria-label="Sort by licence number">
              Licence name
            </a>
          </div>
          <div class="table-cell bold-small column-20" id="ar-end-date-column">
            <a href="#" aria-label="Sort by end date">
              Last edit
              <span class="sort-icon"> &#x25be;</span>
            </a>
          </div>                                                                <!-- tablehead ends -->
        </div>
        <div class="table-row medium-space">                                    <!-- a data row starts -->
          <div class="table-cell">
            <a href="/v19/admin/ar-task?wid=3">
              <h2 class="faux-link">
                018/54/13/04
              </h2>
            </a>
          </div>
          <div class="table-cell">
            <label class="context">
              Last editor
            </label>
            J Mipps
          </div>
          <div class="table-cell">
            <label class="context">
              Last edited
            </label>
            2 July 2018
          </div>
        </div>                                                                  <!-- a data row ends -->

        <div class="table-row medium-space">                                    <!-- a data row starts -->
          <div class="table-cell">
            <h2 class="faux-link">
              <a href="/v19/admin/ar-admin-task?wid=3">
                012/14/22/06
              </a>
            <h2>
          </div>
          <div class="table-cell">
            <label class="context">
              Last editor
            </label>
            Celeste Fishood
          </div>
          <div class="table-cell">
            <label class="context">
              Last edited
            </label>
            1 July 2018
          </div>
        </div>                                                                  <!-- a data row ends -->

        <div class="table-row medium-space">                                    <!-- a data row starts -->
          <div class="table-cell">
            <h2 class="faux-link">
              <a href="/v19/admin/online-licence?wid=1">
                011/21/01/76
              </a>
            <h2>
          </div>
          <div class="table-cell">
            <label class="context">
              Last editor
            </label>
            Ben Jucks
          </div>
          <div class="table-cell">
            <label class="context">
              Last edited
            </label>
            12 July 2018
          </div>
        </div>                                                                  <!-- a data row ends -->

        <div class="table-row medium-space">                                    <!-- a data row starts -->
          <div class="table-cell">
            <h2 class="faux-link">
              <a href="/v19/admin/online-licence?wid=2">
                016/001/11/22
              </a>
            <h2>
          </div>
          <div class="table-cell">
            <label class="context">
              Last editor
            </label>
            J Mipps
          </div>
          <div class="table-cell">
            <label class="context">
              Last edited
            </label>
            16 June 2018
          </div>
        </div>                                                                  <!-- a data row ends -->

        <div class="table-row medium-space">                                    <!-- a data row starts -->
          <div class="table-cell">
            <h2 class="faux-link">
              <a href="/v19/admin/online-licence?wid=3">
                12/21/11/001r01
              </a>
            <h2>
          </div>
          <div class="table-cell">
            <label class="context">
              Last editor
            </label>
            <!-- no editor -->
          </div>
          <div class="table-cell">
            <label class="context">
              Last edited
            </label>
          </div>
        </div>                                                                  <!-- a data row ends -->

        <div class="table-row medium-space">                                    <!-- a data row starts -->
          <div class="table-cell">
            <h2 class="faux-link">
              <a href="/v19/admin/online-licence?wid=4">
                100/001/03/14
              </a>
            <h2>
          </div>
          <div class="table-cell">
            <label class="context">
              Last editor
            </label>
            J Mipps
          </div>
          <div class="table-cell">
            <label class="context">
              Last edited
            </label>
            31 May 2018
          </div>
        </div>                                                                  <!-- a data row ends -->

      </div>                                                                    <!-- table ends -->

    </div>
  </div>

  <script src="/public/v6/javascripts/underscore.min.js"></script>
  <script src="/public/v6/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/v6/javascripts/license_results.js"></script>

  <script>
    $(function() {

      var ctrlKey = false;

      $(window).keydown(function(ev){
        if(ev.ctrlKey || ev.keyCode === 224 || ev.keyCode === 17 || ev.keyCode === 91 || ev.keyCode === 93) {
          ctrlKey = true;
        }
      });

      $(window).keyup(function(){
        ctrlKey = false;
      });

      $('a').parents('.table-row').addClass('clickable');

      // Click on licence list clicks inner link
      $('.table-row').on('click', function (ev) {
        var href = $(this).find('a:first').attr('href');
        console.log(ctrlKey);
        ctrlKey ? window.open.blur(href) : window.location.href = href;
        window.focus();
        // window.location.href = $(this).find('a:first').attr('href');
        $(this).addClass('active');
        ev.preventDefault();
      });
    });
  </script>

</main>

{% endblock %}
