{% include "includes/phase_banner_alpha.html" %}
{% extends "layout.html" %}
{% block page_title %}
  Water abstraction licence
{% endblock %}
{% block content %}
<main id="content" role="main">
        <div class="phase-banner-alpha">
            <p>
            <strong class="phase-tag">ALPHA</strong>
          <span>This is an Alpha prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
          </p>
          </div>
    <nav>
      <div class="breadcrumbs">
        <ol role="breadcrumbs">
          <li><a href="#">Your Services</a></li>
          <li><a href="#">Abstraction Licences</a></li>
          <li><a href="#">Licences no 123456</a></li>
        </ol>
      </div>
</nav>
  <h1 class="heading-large">
    Your water abstraction licence
    </h1>

  <h2 class="heading-medium">
    Check your licence details are up to date
  </h2>
<p>
    Licence no. 123456
  </p>
  <table class="check-your-answers">
    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Primary contact details
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>
        <tbody>
            <tr>
              <td>
                Jenny Bloggs
            </td>
            <td>
              Joe Blogs<br>
              4 Fake Street<br>
              Bristol, BS4 8LD<br>
              Contact: Gill Blogs<br>
              Tel: 01234 567 890<br>
              Email: joe&gill@gillblogs.com
            </td>
    </tr>
  </tbody>

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Licence holder details
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Joe Bloggs
        </td>
        <td>
          Joe Blogs<br>
          4 Fake Street<br>
          Bristol, BS4 8LD<br>
          Contact: Gill Blogs<br>
          Tel: 01234 567 890<br>
          Email: joe&gill@gillblogs.com
        </td>
        <td class="change-answer">

          </a>
        </td>
      </tr>
      </tbody>
      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Abstraction return contact details
            </h2>
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          Joe and Gill's City Farm
        </td>
        <td>
          Joe Bloggs<br>
          4 Fake Street<br>
          Bristol, BS4 8LD<br>
          Contact: Gill Blogs<br>
          Tel: 01234 567 890<br>
          Email: joe&gill@gillblogs.com
        </td>
        <td class="change-answer">

          </a>
        </td>
      </tr>
      </tbody>
      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Billing contact details
            </h2>
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          Joe and Gill's City Farm
        </td>
        <td>
          Joe Blogs<br>
          4 Fake Street<br>
          Bristol, BS4 8LD<br>
          Contact: Gill Blogs<br>
          Tel: 01234 567 890<br>
          Email: joe&gill@gillblogs.com
        </td>
        <td class="change-answer">

        </td>
      </tr>
      </tbody>
  </table>
</div>
  <div class='grid-row'>
    <div class='column-full'><a href="/v2/a/int/online_licence">  <p></p>< Back to previous</a></div>


</main>

{% endblock %}
