{% extends "../account.html" %}

{% block page_title %}
  Your password has been changed - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back" onclick="history.go(-1)">Back</a>
      <p></p>
      <div class="panel panel-border-wide" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
        <h2 class="heading-medium">
          Your password has been reset
        </h2>
        <a href="/v12_2/online_licence/licences_list/licences">Return to your licences.</a>
      </div>

    </div>
  </div>

</main>

{% endblock %}
