{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="resend_password" class="link-back" onclick="history.go(-1)">Back</a>



      <h1 class="form-title heading-large">
        Check your email
      </h1>




      <p>We’ve sent you a new link and instructions to reset your password.</p>

      <details class="closeOnOpen">
                <summary><span class="summary">Still haven’t received anything?</span></summary>

                <p>Please email <a href="mailto:water_abstractiondigital@environment-agency.gov.uk">water_abstractiondigital@environment-agency.gov.uk</a>.</p>


</details>






    </div>
  </div>
</main>

{% endblock %}
