{% extends "v9/layoutv9.html" %}

{% set title = "Ask for another email" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="check_email" class="link-back" onclick="history.go(-1)">Back</a>

        <form action="resent_email" method="get" class="form" id="password_reset" data-parsley-validate="" data-parsley-errors-messages-disabled>

          <div class="error-summary hidden" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
                  That email address isn’t valid
                </h2>

                <ul class="error-summary-list">
                  <li><a href="#user-id">Re-enter your email address</a></li>
                </ul>

              </div>

              <h1 class="heading-large">
                Ask for another email
              </h1>




              <p class="lede">The email might take a few minutes to reach you. If it didn’t arrive in your inbox please check your spam folder. If it’s not there you can ask us to send another email below.</p>



            <div class="form-group">
              <label for="user-id">

                  <fieldset>
                    <span class="form-label-bold">Email address</span>
                    <span class="error-message hidden">Please enter a valid email address</span>
                  </fieldset>

              </label>

              <input type="email" class="form-control" id="user-id" required=""/>
            </div>


              <input type="submit" value="Continue" class="button button-start" role="button"/>


      </form>



    </div>
  </div>
</main>

{% endblock %}
