{% extends "../head-signedin.html" %}
{% block content %}

<main id="content" role="main">

  {% from "custom_inc/waterdata.html" import permits %}
  {% for pNumber, pData in permits %}
  {% if pNumber==chosenPermitID %}

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <!-- back button -->
  <a href="#" class="link-back" onclick="history.go(-1)">Back</a>

  <!-- page title -->
  <h1  class="heading-large">How much water you can abstract for each purpose with licence number {{ pData.LicenceSerialNo }}</h1>

  <!-- tabs -->
  <nav class="tabs">
    <ul>
      <li><a href="/v23/amounts/points?wid={{ query.wid }}">Amounts by point</a></li>
      <li><span class="active">Amounts by purpose</span></li>
      <li><a href="/v23/amounts/conditions?wid={{ query.wid }}">Conditional amounts</a></li>
    </ul>
  </nav>

  <p></p>

  <div class="grid-row">
    <div class="column-full">

      <h2 class="heading-medium">{{ pData.Purpose1 }}</h2>

      <div class="small-space">

        <div class="datatablepp first-datapp">
          <label>                                                               Abstraction amount
          </label>
          <div class="licenceAnswerv12">                                        {{ pData.Purpose1Amount1 }}
          </div>
        </div>

        <div class="datatablepp">
          <label>                                                               Abstraction amount
          </label>
          <div class="licenceAnswerv12">                                        {{ pData.Purpose1Amount2 }}
          </div>
        </div>

        <div class="datatablepp">
          <label>                                                               Abstraction amount
          </label>
          <div class="licenceAnswerv12">                                        {{ pData.Purpose1Amount3 }}
          </div>
        </div>

      </div>

      {% if pData.Point2 %}

      <h2 class="heading-medium">{{ pData.Purpose2 }}</h2>

        <div class="datatablepp first-datapp">
          <label>                                                               Abstraction amount
          </label>
          <div class="licenceAnswerv12">                                        {{ pData.Purpose2Amount1 }}
          </div>
        </div>

        <div class="datatablepp">
          <label>                                                               Abstraction amount
          </label>
          <div class="licenceAnswerv12">                                        {{ pData.Purpose2Amount2 }}
          </div>
        </div>

        <div class="datatablepp">
          <label>                                                               Abstraction amount
          </label>
          <div class="licenceAnswerv12">                                        {{ pData.Purpose2Amount3 }}
          </div>
        </div>
      </div>
      {% endif %}

      {% if pData.Point3 %}
      <h2 class="heading-medium">{{ pData.Purpose3 }}</h2>

      <div class="small-space">

        <div class="datatablepp first-datapp">
          <label>                                                               Abstraction amount
          </label>
          <div class="licenceAnswerv12">                                        {{ pData.Purpose3Amount1 }}
          </div>
        </div>

        <div class="datatablepp">
          <label>                                                               Abstraction amount
          </label>
          <div class="licenceAnswerv12">                                        {{ pData.Purpose3Amount2 }}
          </div>
        </div>

        <div class="datatablepp">
          <label>                                                               Abstraction amount
          </label>
          <div class="licenceAnswerv12">                                        {{ pData.Purpose3Amount3 }}
          </div>
        </div>

      </div>
      {% endif %}

    </div>
  </div>

  {% endif %}
  {% endfor %}

</main>

{% endblock %}
