{% extends "v12_2/online_licence/content_inc/licences_views.html" %}

{% block emailfield %}

{% block search %}

{% block geoff_instruct %}

{% block manage_licences_link %}

{% block manage_licence_permissions %}
{% block share_licences %}
{% block page_heading_in_tabs %}
{% block no_licences_new_user %}
{% block no_licences_new_user_tab %}
{% block manage_licences_wendy %}
{% block add_licences_wendy %}
{% block no_results_header %}
{% block wendy_licenc_list_header %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}

{% endblock %}
{% endblock %}
{% endblock %}
