{% extends "layout.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
      <h1 class="heading-large">
          Service unavailable
        </h1>

        <p>There’s a technical problem with the water resources licensing service and it’s currently unavailable.</p>

             <p>Sorry about this. We’ll restore the service as quickly as possible.</p>

             <p>If you need assistance, call the Environment Agency helpline 03708 506 506.</p>  </main>


{% endblock %}
