{% extends "../ex/head-signedin.html" %}

<!-- page title -->
{% block page_title %}
  Give access to view your licences - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../partials/nav-ex-manage.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        Give access to your licences
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full medium-space">

      <div class="form-group">
        <label class="form-label" for="full-name-f1">
          Enter their email address and we will send them a link to create an account.
        </label>
        <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
      </div>

      <div class="form-group">

        <form data-routing="1">

          <fieldset class="medium-space">

            <legend>
              <h1 class="heading-medium">
                Are there any abstraction amounts to report?
              </h1>
            </legend>

            <div class="multiple-choice">
              <input id="access-view-only" type="radio" name="radio-inline-group" value="access" checked="checked">
              <label for="access-view-only">View licences only</label>
            </div>
            <div class="multiple-choice">
              <input id="access-view-all" type="radio" name="radio-inline-group" value="access">
              <label for="access-view-all">View licences and returns</label>
            </div>
            <div class="multiple-choice">
              <input id="access-manage" type="radio" name="radio-inline-group" value="access">
              <label for="access-manage">View licences and manage returns</label>
            </div>

          </fieldset>

          <!-- <button type="submit" class="button">Give access</button> -->
          <a href="access" class="button">Give access</a>
        </form>
      </div>

  </div>

  <script src="/public/v6/javascripts/underscore.min.js"></script>
  <script src="/public/v6/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/v6/javascripts/license_results.js"></script>

</main>
{% endblock %}
