{% extends "./../head-signedin.html" %}

<!-- page title -->
{% block page_title %}
  Send a notification - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- internal beta banner block -->
  {% include "./../../partials/feedback-banner.html" %}

  <!-- navigation block -->
  {% include "./../../partials/nav-br-view.html" %}

  <a href="#" class="link-back medium-space" onclick="history.go(-1)">Back</a>

  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large tight">
        Send a return reminder
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="medium-space">
        <p>
          You’re about to send the following notification to the licence holder.
        </p>
      </div>


      <div class="medium-space notification-preview">

        <div>
          <p class="lede">
            Our reference: SAMPLE
          </p>

          <p>
            Date: 31 November 2018
          </p>

          <p>
            Water Resources Act 1991
          </p>

          <p>
            Dear licence holder,
          </p>

          {% if pData.LicenceName %}

            <p>
              You have a return due for the {{ pData.LicenceName }} licence.
            </p>

          {% else %}

            <p>
              You have a return due for licence number {{pData.LicenceSerialNo}}.
            </p>

          {% endif %}

          <p>
            <span class="bold-small">
              Why you are receiving this notification
            </span><br>
            You are responsible for providing a record of your abstraction for this licence.
          </p>

          <p>
            <span class="bold-small">
              What happens next
            </span><br>
            Please provide records of abstraction for this licence as soon as possible.<br>
            <a href="./../../ex/returns/returns.html" class="bold">View your abstraction returns</a>
          </p>

          <p>
            <span class="bold-small">
              How to contact us
            </span><br>
            If you have any questions about this notification, please contact us here:<br>
            <br>
            Email<br>
            <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a><br>
            <br>
            Telephone<br>
            03708 506 506<br>
            <br>
            Telephone from outside the UK (Monday to Friday, 8am to 6pm GMT)<br>
            +44 (0) 114 282 5312
          </p>

          <p>
            Yours faithfully Mariela Bidbod,<br>
            <span class="bold-small">
              Returns advisor at the Environment Agency
            </span>
          </p>

        </div>

      </div>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-third">

      <div>
        <a href="hof-sent" id="submitButton" class="button button" type="submit">Send notification</a>
      </div>

    </div>
  </div>

</main>
{% endblock %}
