{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Manage your water abstraction or impoundment licence online prototype<h1>
      <h2 class="heading-medium"><a href="/versions/v24">Current test version</a></h2>
      <p></p>

      <h2 class="heading-medium">Protoype of the standard water resource view my permit journey</h2>
      <p><a href="/changelog">Prototype change log</a></li></p>

      <h2 class="heading-medium">Versions</h2>

      <ul class="list list-bullet">
        <li>
          <a href="/versions/v24">
            Version 24 pages
          </a>
        </li>
        <li>
          <a href="/versions/v23">
            Version 23 pages
          </a>
        </li>
        <li>
          <a href="/versions/v22">
            Version 22 pages
          </a>
        </li>
        <li>
          <a href="/versions/v21">
            Version 21 pages
          </a>
        </li>
        <li>
          <a href="/versions/v20">
            Version 20 pages
          </a>
        </li>
        <li>
          <a href="/versions/v19">
            Version 19 pages
          </a>
        </li>
        <li>
          <a href="/versions/v18">
            Version 18 pages
          </a>
        </li>
        <li>
          <a href="/versions/v17">
            Version 17 pages
          </a>
        </li>
        <li>
          <a href="/versions/v16">
            Version 16 pages
          </a>
        </li>
        <li>
          <a href="/versions/v15">
            Version 15 pages
          </a>
        </li>
        <li>
          <a href="/versions/v14">
            Version 14 pages
          </a>
        </li>
        <li>
          <a href="/versions/v13">
            Version 13 pages
          </a>
        </li>
        <li>
          <a href="/versions/v12">
            Version 12 pages
          </a>
        </li>
        <li>
          <a href="/versions/v11">
            Version 11 pages
          </a>
        </li>
        <li>
          <a href="/versions/v10">
            Version 10 pages
          </a>
        </li>
        <li>
          <a href="/versions/v9">
            Version 9 pages
          </a>
        </li>
        <li>
          <a href="/versions/v8">
            Version 8 pages
          </a>
        </li>
        <li>
          <a href="/versions/v7">
            Version 7 pages
          </a>
        </li>

        <li>
          <a href="/versions/v6">
            Version 6 pages
          </a>
        </li>

        <li>
          <a href="/versions/v5">
            Version 5 pages
          </a>
        </li>


        <li>
          <a href="/versions/v4">
            Version 4 pages
          </a>
        </li>

        <li>
          <a href="/versions/v3">
            Version 3 pages
          </a>
        </li>
        <li>
          <a href="/versions/v2">
            Version 2 pages
          </a>
        </li>
        <li>
          <a href="/versions/v1">
            Version 1 pages
          </a>
        </li>
        <li>
          <a href="/versions/v0">
            Version 0 pages
          </a>
        </li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}
