 {% extends "../../view.html" %}

{% block page_title %}
  Gauging station for {{ pData.LicenceSerialNo }} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% from "custom_inc/waterdata.html" import permits %}
  {% for pNumber, pData in permits %}
  {% if pNumber==chosenPermitID %}

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../../partials/nav-view.html" %}

  <div class="big-space"></div>

  <!-- back -->
  <div class="medium-space">
    <a href="#" class="link-back" onclick="history.go(-1)">Licence number {{pData.LicenceSerialNo}}</a>
  </div>

  <div class="big-space">
    <!-- page heading -->
      <div class="medium-space">

        <!-- page title -->
        <h1 class="heading-large clustered">
          <span class="heading-secondary">
            At National Grid Reference {{ pData.GaugingStationGridReference }}
          </span>
           Data from {{ pData.GaugingStationName }}
        </h1>

        <div class="clustered">Source of supply: {{ pData.Source}}</div>

        <!-- Grid reference <a href="">{{ pData.GaugingStationGridReference }}</a> -->
        <!-- At National Grid Reference {{ pData.GaugingStationGridReference }} -->

      </div>

      <div class="data">
        <span class="data-item bold-xxlarge">{{ pData.GaugingStationValue }}</span>
        <span class="data-item">Recorded at <span class="bold-small">{{ pData.GaugingStationRecordedTime }} on {{ pData.GaugingStationRecordedDate }}</span></span>
      </div>

  </div>

  <details>

  <summary><span class="summary">When will this reading be updated?</span></summary>
    <div class="panel panel-border-narrow">
      <p>
        Readings from this gauging station are updated each day at {{ pData.GaugingStationRecordedTime }}
      </p>
    </div>
  </details>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="small-space">
        <span class="bold-medium">Details of the hands off flow condition related to this gauging station</span>
      </h2>
    </div>
  </div>

  <div class="small-space">
    <h3 class="lede">Cessation condition</h3>
  </div>

  <div class="panel panel-border-wide">
    <div class="data-row-group">

      <div class="data-row data-row--section">
        <div class="data-row__param" id="label-0-1-purpose">
       Purpose
        </div>
        <div class="data-row__value" aria-labelledby="label-0-1-purpose">
          Make-Up Or Top Up Water
        </div>
      </div>

      <div class="data-row">
        <div class="data-row__param" id="label-0-1-param1">
          Gauging station
        </div>
        <div class="data-row__value" aria-labelledby="label-0-1-param1">
          At National Grid Reference {{ pData.GaugingStationGridReference}}<br>
          {{pData.GaugingStationName}}
        </div>
      </div>

      <div class="data-row">
        <div class="data-row__param" id="label-0-1-param2">
        Threshold level
        </div>
        <div class="data-row__value" aria-labelledby="label-0-1-param2">
        0.73m Ordnance Datum Newlyn (the sea level benchmark)
        </div>
      </div>

      <div class="data-row">
        <div class="data-row__param" id="label-0-1-info">
        Other information
        </div>
        <div class="data-row__value" aria-labelledby="label-0-1-info">
          No abstraction shall take place from the Denton New Cut when the water level in the Cut as measured at {{ pData.GaugingStationName }} ({{ pData.GaugingStationGridReference }}) is at or below 0.73m Ordnance Datum Newlyn (the sea level benchmark).
        </div>
      </div>

    </div>
  </div>

  <div class="medium-space">
    <a href="conditions?wid={{query.wid}}">
      View all conditions information held for this licence
    </a>
  </div>

  <div class="grid-row big-space">
    <div class="column-two-thirds">
      <div class="notice">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          This data is for reference only. You should continue to use your current monitoring methods to make abstraction decisions.
        </strong>
      </div>
    </div>
  </div>

</main>

{% endif %}
{% endfor %}

{% endblock %}
