{% extends "../../view.html" %}

{% block page_title %}
  Gauging station for {{ pData.LicenceSerialNo }} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% from "custom_inc/waterdata.html" import permits %}
  {% for pNumber, pData in permits %}
  {% if pNumber==chosenPermitID %}

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../../partials/nav-view.html" %}

  <div class="big-space"></div>

  <!-- back -->
  <div class="medium-space">
    <a href="#" class="link-back" onclick="history.go(-1)">Licence number {{pData.LicenceSerialNo}}</a>
  </div>

  <div class="medium-space">
    <!-- page heading -->
    {% if pData.LicenceName %}
      <!-- page title -->
      <h1 class="heading-large medium-space">
        <span class="heading-secondary">
          {{ pData.GaugingStationType }} for {{ pData.LicenceName }}
        </span>
         {{ pData.GaugingStationMeasures }} at {{ pData.GaugingStationName }}
      </h1>
      <div class="data">
        <span class="data-item bold-xxlarge">{{ pData.GaugingStationValue }}</span>
        <span class="data-item">Recorded <span class="bold-small">{{ pData.GaugingStationRecorded }}</span></span>
      </div>

      <a href="">Grid reference {{ pData.GaugingStationGridReference }}</a>

    {% else %}

      <h1 class="heading-large medium-space">
        <span class="heading-secondary">
          Gauging station for licence number {{ pData.LicenceSerialNo }}
        </span>
         {{ pData.GaugingStationMeasures }} at {{ pData.GaugingStationName }}
      </h1>
      <div class="data">
        <span class="data-item bold-xxlarge">{{ pData.GaugingStationValue }}</span>
        <span class="data-item">Recorded <span class="bold-small">{{ pData.GaugingStationRecorded }}</span></span>
      </div>

      <!-- Grid reference <a href="">{{ pData.GaugingStationGridReference }}</a> -->
      <a href="">Grid reference {{ pData.GaugingStationGridReference }}</a>

    {% endif %}

  </div>

  <!-- <p>
    Latest recorded level <span class="bold-small">0.13m</span> at <span class="bold-small">5:00am Friday 4 May 2018</span>.
  </p> -->

</main>

{% endif %}
{% endfor %}

{% endblock %}
