{% extends "../../view.html" %}

{% block page_title %}
  Your password has been changed - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../../partials/nav_head.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-medium">
        Your password has been changed
      </h1>

      <a href="/v17/pages/licences">Return to your licences</a>
    </div>

  </div>

</main>

{% endblock %}
