<!-- new GDS navigation pattern -->
<div class="content-width big-space">
  <nav id="nav" class="menu">

    <div class="navbar">

      <ul class="navbar__list-items menu-left">
        <li class="navlink active">
          <a href="/v24/eo/licences">View licences</a>
        </li>
        <li class="navlink">
          <a href="/v24/eo/returns/returns-list">View returns</a>
        </li>
        <li class="navlink">
          <a href="/v24/eo/manage">Reports and notifications</a>
        </li>
      </ul>

    </div>
  </nav>
</div>
