{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>


  <a href="#" class="link-back" onclick="history.go(-1)">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">


      {% if data.noneselected == "1" %}
        <!-- only show this error if incorrectLicenceNo param passed through from route-->
              <div id='incorrectLicenceNo' class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
                  You must select one or more licences
                </h2>
              </div>
      {% endif %}

            <h1 class="heading-large">
              Are these all of your water abstraction or impoundment licences?
            </h1>

            <form method="post" action="/v11/online_licence/registrations/4_give_email">
              <fieldset>
{% block john_licence_list_text %}
                <legend>
                  <span class="body-text">Select all the licence serial numbers that apply:</span>
                </legend><p></p>
{% endblock %}
                <legend>
                  <span class="body-text">Remove any licence serial numbers that do not apply:</span>
                </legend><p></p>

{% block john_licence_list %}
                <div class="multiple-choice">
                  <input  id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
                  <label for="waste-type-1">03/28/60/0001</label>
                </div>
                <div class="multiple-choice">
                  <input  id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
                  <label for="waste-type-2">03/28/60/0002</label>
                </div>
                <div class="multiple-choice">
                  <input  id="waste-type-3" name="waste-types" type="checkbox" value="waste-farm-agricultural">
                  <label for="waste-type-3">03/28/60/0003</label>
                </div>
                <div class="multiple-choice">
                  <input  id="waste-type-4" name="waste-types" type="checkbox" value="waste-farm-agricultural">
                  <label for="waste-type-4">03/28/60/0004</label>
                </div>
                <div class="multiple-choice">
                  <input  id="waste-type-5" name="waste-types" type="checkbox" value="waste-farm-agricultural">
                  <label for="waste-type-5">03/28/60/0005</label>
                </div>
                <div class="multiple-choice">
                  <input  id="waste-type-6" name="waste-types" type="checkbox" value="waste-farm-agricultural">
                  <label for="waste-type-6">03/28/60/0006</label>
                </div>
{% endblock %}
{% block wendy_licence_list %}
<div class="license-results" id="results">

  <div class="license-results-header">
    <div class="license-results-header__column">
      <a href="#" aria-label="Sort by licence serial number">Licence number<span class="sort-icon"> &#x25be;</span></a>
    </div>
    <div class="license-results-header__column"></div>
  </div>

<div class="license-result">
  <h2 class="heading-medium license-result__column">03/28/60/0002</h2>
  <div class="license-result__column license-result__column--view" aria-hidden="true">Remove</div>
</div>
<div class="license-result">
  <h2 class="heading-medium license-result__column">03/28/60/0003</h2>
  <div class="license-result__column license-result__column--view" aria-hidden="true">Remove</div>
</div>
<div class="license-result">
  <h2 class="heading-medium license-result__column">03/28/60/0004</h2>
  <div class="license-result__column license-result__column--view" aria-hidden="true">Remove</div>
</div>
<div class="license-result">
  <h2 class="heading-medium license-result__column">03/28/60/0005</h2>
  <div class="license-result__column license-result__column--view" aria-hidden="true">Remove</div>
</div>

    </div>
<p></p>
{% endblock %}

              </fieldset>
</br>
          <input type="submit" value="Continue" class="button" role="button"/></form>
      </div>
    </div>
  </br>
  <a href="2-2_no_licences">These aren't my licences, or some are missing</a>

</main>

{% endblock %}
