{% extends "../head-signedin.html" %}

<!-- page title -->
{% block page_title %}
  Licence return for  {{ pData.LicenceNumber }} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../../partials/nav-ex-returns.html" %}

  <div class="grid-row medium-space">
    <div class="column-two-thirds">

      <!-- page heading -->
      {% if pData.LicenceName %}
        <h2 class="sub-head">
          Abstraction record for {{ pData.LicenceSerialNo }}
        </h2>
        <h1 class="heading-large spaceless">
          {{ pData.LicenceName }}
        </h1>
      {% else %}
        <h2 class="sub-head">
          Abstraction record
        </h2>
        <h1 class="heading-large spaceless">
          Licence number {{pData.LicenceSerialNo}}
        </h1>
      {% endif %}
    </div>
  </div>

  <!-- meta data block -->
  {% include "../../partials/return-external-meta.html" %}

  <div class="grid-row small-space">
    <div class="column-two-thirds">
      <p>
        <a href="../online-licence?wid={{ query.wid }}">View this licence</a>
      </p>
    </div>
  </div>

  <div class="grid-row small-space">
    <div class="column-two-thirds">

      <form data-routing="1">

        <fieldset class="medium-space">

          <legend>
            <h3 class="heading-medium">
              Readings from more than one meter
            </h3>
          </legend>

          <p>
            You must report your return in abstraction volumes instead of meter readings. Alternatively, you can complete a paper form.
          </p>

          <div class="multiple-choice">
            <input id="volumes-route" type="radio" name="route-multiple-meters" value="returns-route-unit?wid={{ query.wid }}">
            <label for="volumes-route">Report abstraction volumes</label>
          </div>

          <div class="multiple-choice">
            <input id="paper-route" type="radio" name="route-multiple-meters" value="post-preview?wid={{ query.wid }}">
            <label for="paper-route">Request a paper form</label>
          </div>

        </fieldset>

        <button type="submit" class="button">Continue</button>
      </form>

    </div>
  </div>

</main>

<script src="/public/v6/javascripts/jquery-1.11.3.js"></script>

<script>
  $(function() {
    $('form[data-routing]').on('submit', function(ev) {
      // FInd selected radio button
      const url = $(this).find('input:checked').val();

      if(url) {
        ev.preventDefault();
        window.location.href = url;
        return false;
      }
    });
  })
</script>

{% endblock %}
