{% extends "v18/head.html" %}

{% block page_title %}
  Your licences - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <div class="big-space"></div>

  <!-- main -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Thanks
      </h1>

      <div class="small-space">

        <p lede="heading-medium">
          The code you used was good.
        </p>

        <p class="medium-space">
          If you have more than one security code you can <a href="use-code">keep adding them to link more of your returns</a>.
        </p>

      </div>

      <!-- continue button -->
      <a href="add-licences" class="button medium-space">
        Add your licences
      </a>

    </div>
  </div>
</main>

{% endblock %}
