{% extends "../head.html" %}

{% set title = "Log of notices sent" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

    <main role="main" id="content" lang="en">

      <div class="phase-banner-alpha">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
        </p>
      </div>
      <nav>
      <div class="breadcrumbs">
          <ol role="breadcrumbs">
            <li><a href="#">Your services</a></li>
            <li><a href="/v12_2/licences">Abstraction licences</a></li>
            <li><a href="/v12_2/online_licence?wid={{ pNumber }}">Licence serial number: {{ pData.LicenceSerialNo }}</a></li>

            <a href="/v12_2/pages/signin" class="sign-out2">Sign out</a>
            <a href="/v12_2/change_password/new_password.html" class="change-password">Change password</a>
</ol>
</nav>
</div>
<a href="#" class="link-back" onclick="history.go(-1)">Back</a>
            <div id="wrapper" class="direction-ltr">

      <div class="full-page-width-wrapper">
      </div>


</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="page-header">
      <h1 class="heading-large">{{ pData.LicenceName }} water abstraction licence</h1>

    </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
      <div class="js-hidden" data-module="accordion-with-descriptions">
        <div class="subsection-wrapper">
            <div class="subsection js-subsection">
              <div class="subsection__header">
                <h2 class="subsection__title" id="sourceofsupply">Source of supply</h2>
              </div>
              <div class="subsection__content js-subsection-content" id="subsection_content_0">
                  {{ pData.SourceofSupply }}
              </div>
            </div>
            <div class="subsection js-subsection">
              <div class="subsection__header">
                <h2 class="subsection__title" id="pointofabstraction">Point of abstraction</h2>
              </div>
              <div class="subsection__content js-subsection-content" id="subsection_content_1">
                <p>{{ pData.Pointofabstraction }}</p>
                <a href="/v12_2/pages/map_of_abstraction_point?wid={{ pNumber }}">View map</a>

              </div>
            </div>
            <div class="subsection js-subsection">
              <div class="subsection__header">
                <h2 class="subsection__title" id="purposeofabstraction">Purpose of abstraction</h2>
              </div>
              <div class="subsection__content js-subsection-content" id="subsection_content_2">

                      {{ pData.Purposeofabstraction }}
              </div>
            </div>
            <div class="subsection js-subsection">
              <div class="subsection__header">
                <h2 class="subsection__title" id="meansofabstraction">Means of abstraction</h2>
              </div>
              <div class="subsection__content js-subsection-content" id="subsection_content_3">
                {{ pData.Meansofabstraction }}
              </div>
            </div>
            <div class="subsection js-subsection">
              <div class="subsection__header">
                <h2 class="subsection__title" id="meansofmeasurement">Means of measurement</h2>
              </div>
              <div class="subsection__content js-subsection-content" id="subsection_content_3">
                {{ pData.Meansofmeasurement| replace( ".", ".</p><p>") | safe }}
              </div>
            </div>
            <div class="subsection js-subsection">
              <div class="subsection__header">
                <h2 class="subsection__title" id="maximumquantities">Maximum quantities before conditions</h2>
              </div>
                <div class="subsection__content js-subsection-content" id="subsection_content_3">




              {{ pData.MaximumQuantityofwatertobeabstracted | replace( "per hour", "per hour</br>") | replace( "per day", "per day</br>") | replace( "per year", "per year<p></p>") | replace( "Note", "<p></p>Note") | replace( "Per Hour", "per hour</br>") | replace( "Per Day", "per day</br>") | replace( "Per Year", "per year<p></p>") |safe }}




              {{ pData.MaximumQuantityofwatertobeabstracted2 | replace( "per hour", "per hour</br>") | replace( "per day", "per day</br>") | replace( "per year", "per year<p></p>") | replace( "Note", "<p></p>Note") | replace( "Per Hour", "per hour</br>") | replace( "Per Day", "per day</br>") | replace( "Per Year", "per year<p></p>") |safe }}
                  </div>
            </div>


            <div class="subsection js-subsection">
              <div class="subsection__header">
                <h2 class="subsection__title" id="abstractionconditions">Abstraction conditions</h2>
              </div>
              <div class="subsection__content js-subsection-content" id="subsection_content_3">
              {{ pData.handsOffFlowDescfull | replace( ". ", ".<p></p>") | replace("CESSATION CONDITION", "<strong>Cessation condition</strong></br>") | safe }}
<p></p>
</p>{{ pData.Augmentationandcompensationconditions | replace( ". ", ".<p></p>") | replace("Augmentationandcompensationconditions", "<strong>Augmentation and compensation conditions</strong></br>") | safe }}
<p></p>
</p>{{ pData.timeLimitingabstractionstart | replace( ". ", ".<p></p>") | replace("Time limiting abstraction start", "<strong>Time limiting - abstraction start</strong></br>") | safe }}
<p></p>
</p>{{ pData.timeLimitingconditions | replace( ". ", ".<p></p>") | replace( ":", ":<p></p>") | replace("Time limiting conditions", "<strong>Time limiting - conditions</strong></br>")  | replace( "per hour", "per hour</br>") | replace( "per day", "per day</br>") | replace( "per year", "per year<p></p>") | replace( "Note", "<p></p>Note") | replace( "Per Hour", "per hour</br>") | replace( "Per Day", "per day</br>") | replace( "Per Year", "per year<p></p>") |safe }}
<p></p>


                <strong>Eel screening condition</strong></br>{{ pData.EelScreening | replace(".", ".<p></p>") | safe }}

                <strong>Fish passage condition</strong></br>{{ pData.FishPassage | replace(".", ".<p></p>") | safe }}

              </div>
            </div>

            <div class="subsection js-subsection">
              <div class="subsection__header">
                <h2 class="subsection__title" id="records">Records</h2>
              </div>
              <div class="subsection__content js-subsection-content" id="subsection_content_3">
                {{ pData.records| replace( ".", ".</p><p>" ) | safe }}
                  </div>
            </div>

        </div>
      </div>
  </div>
</div>
</div></br>




    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-c4f303154d2a238bdda4d5cf1ebd8d4487822e4cbc3e4c83e743da869443ce72.js"></script>
    <script src="https://assets.publishing.service.gov.uk/static/header-footer-only-e2a4a7b36f2d4193fe2cfd83a558c259a5795f378a995c058fe62db49d7d54e8.js"></script>
      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-cb0decd18b4b0abbece3cfc180d9adc8e11dfa693cf34c2ff1ffcda86e725301.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-2ae28d3d9c6bbb7e07dc14eb51113d5fd2d920dcb2c9eb34e73aef62bc73899d.js"></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/service-manual-frontend/application-fa751ac52dc0f490ce602b0e9be8ef77560ed543cc20c3b5339fc30f560df47b.js"></script>
</body>

</main>
{% endblock %}
