{% extends "../admin.html" %}

{% block page_title %}
  Mobile optimised tables - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <div class="big-space"></div>

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">
        Mobile optimised tables
      </h1>

      <!-- table with four columns -->
      <div class="table">                                             <!-- the whole table -->

        <div class="table-row table-head">                                      <!-- the table head -->
          <div class="table-cell bold-small" id="column1of4">
            Column A
          </div>
          <div class="table-cell bold-small" id="column2of4">
            Column B
          </div>
          <div class="table-cell bold-small" id="column3of4">
            Column C
          </div>
          <div class="table-cell bold-small" id="column4of4">
            Column D
          </div>
        </div>


        <div class="table-row">                                                 <!-- data group -->
          <div class="data-block-title">
            <h2 class="heading-medium">
              This chunk of data
            </h2>
          </div>
        </div>

        <div class="table-row medium-space">                                    <!-- a data row starts -->
          <div class="table-cell pink">
            <label class="context">
              Column A
            </label>
            Cyan
          </div>
          <div class="table-cell">
            <label class="context">
              Column B
            </label>
            Magenta
          </div>
          <div class="table-cell pink">
            <label class="context">
              Column C
            </label>
            Yellow
          </div>
          <div class="table-cell">
            <label class="context">
              Column D
            </label>
            Black
          </div>
        </div>                                                                  <!-- a data row ends -->

        <div class="table-row medium-space">                                    <!-- a data row starts -->
          <div class="table-cell">
            <label class="context">
              Column A
            </label>
            Cyan
          </div>
          <div class="table-cell pink">
            <label class="context">
              Column B
            </label>
            Magenta
          </div>
          <div class="table-cell">
            <label class="context">
              Column C
            </label>
            Yellow
          </div>
          <div class="table-cell pink">
            <label class="context">
              Column D
            </label>
            Black
          </div>
        </div>                                                                  <!-- a data row ends -->
        <div class="table-row medium-space">                                    <!-- a data row starts -->
          <div class="table-cell pink">
            <label class="context">
              Column A
            </label>
            Cyan
          </div>
          <div class="table-cell">
            <label class="context">
              Column B
            </label>
            Magenta
          </div>
          <div class="table-cell pink">
            <label class="context">
              Column C
            </label>
            Yellow
          </div>
          <div class="table-cell">
            <label class="context">
              Column D
            </label>
            Black
          </div>
        </div>                                                                  <!-- a data row ends -->

      </div>

      <!-- table with five columns -->
      <div class="table">                                                       <!-- the whole table -->

        <div class="table-row table-head">                                      <!-- the table head -->
          <div class="table-cell bold-small" id="column1of5">
            Column A
          </div>
          <div class="table-cell bold-small" id="column2of5">
            Column B
          </div>
          <div class="table-cell bold-small" id="column3of5">
            Column C
          </div>
          <div class="table-cell bold-small" id="column4of5">
            Column D
          </div>
          <div class="table-cell bold-small" id="column5of5">
            Column E
          </div>
        </div>


        <div class="table-row">                                                 <!-- data group -->
          <div class="data-block-title">
            <h2 class="heading-medium">
              Another chunk of data
            </h2>
          </div>
        </div>

        <div class="table-row medium-space">                                    <!-- a data row starts -->
          <div class="table-cell pink">
            <label class="context">
              Column A
            </label>
            Wood
          </div>
          <div class="table-cell">
            <label class="context">
              Column B
            </label>
            Fire
          </div>
          <div class="table-cell pink">
            <label class="context">
              Column C
            </label>
            Earth
          </div>
          <div class="table-cell">
            <label class="context">
              Column D
            </label>
            Metal
          </div>
          <div class="table-cell">
            <label class="context">
              Column E
            </label>
            Water
          </div>
        </div>                                                                  <!-- a data row ends -->


      </div>




    </div>
  </div>

</main>
{% endblock %}
