{% extends "../head.html" %}
{% block content %}
<main id="content" role="main">

  <!-- beta banner -->
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>

  <!-- breadcrumbs -->
  <div class="big-space">

  </div>

  <!-- back -->
  <a href="#" class="link-back" onclick="history.go(-1)">Back</a>

  <!-- main -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Some of your licences will not be shown yet
      </h1>

      <p>
        Water Resource Licensing is a new service and we are on the road to adding wider support for all licence types. At this time we only support abstraction licences.
      </p>

      <h2 class="heading-medium">
        Some of your licences could not be added at this time:
      </h2>

      <ul class="list list-bullet text">
        <li>
          TH/039/0943/024
        </li>
        <li>
          TH/039/0943/025
        </li>
        <li>
          TH/039/0943/026
        </li>
      </ul>

      <p>
        If you think you might have input any of the licence numbers incorrectly you could go back and try to resolve this.
      </p>

      <div class="medium-space">
        <a href="#" onclick="history.go(-1)">Go back and try adding your licences again</a>
      </div>

      <!-- continue button -->
      <a href="licences_added">
        <input onclick="" type="submit" value="Continue" class="button" role="button"/>
      </a>

      </form>
      <p></p>

    </div>
  </div>
</main>

{% endblock %}
