{% extends "../../head.html" %}

<!-- page title -->
{% block page_title %}
  Request to manage licences - GOV.UK ~
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner -->
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>

  <!-- navigation block -->
  {% include "../../partials/nav_access.html" %}

  <!-- breadcrumbs -->
  <div class="big-space">
    <nav id="navigate">
      <!-- breadcrumbs -->
      <div class="breadcrumbs" id="breadcrumbs">
        <ol role="breadcrumbs">
          <li><a href="/v16/pages/manage">Manage your licences</a></li>
          <li><a href="/v16/pages/invites/request.html">Request to manage licences</a></li>
        </ol>
      </div>
    </nav>
  </div>

  <!-- back -->
  <a href="#" class="link-back" onclick="history.go(-1)">Back</a>

  <!-- main -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">* Which licences would you like to manage? *</h1>
      <p>
        * Tell us which licences you want to manage for <span class="bold">john.waters@gmail.com</span>. *
      </p>

      <!-- form -->
      <form class="medium-space">

        <div class="form-group">
          <label for="emails">
            <fieldset class="small-space">
              <span class="form-label-bold">Request to manage these licences ~</span>
              <span class="form-hint">Add one or many licences here. You can separate your licence numbers using spaces, commas, or by entering them on different lines.</span>
            </fieldset>
          </label>
          <textarea class="form-control form-control-3-4" name="licence_no" id="licence_no" rows="4" required ></textarea>
        </div>

        <a href="confirmation" class="button">Continue</a>

      </form>

    </div>
  </div>
</main>

{% endblock %}
