{% extends "../../head.html" %}
{% block content %}
<main id="content" role="main">

  <!-- beta banner -->
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>

  <!-- breadcrumbs -->
  <div class="big-space">

  </div>

  <!-- back -->
  <a href="#" class="link-back" onclick="history.go(-1)">Back</a>

  <!-- main -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Licences added
      </h1>

      <p>
        7 licences were added to your account and access for these has been shared with <span class="bold strong">geoff@waterboss.co.uk</span>.
      </p>

      <div class="medium-space">
        <a href="../licences">View my licences</a>
      </div>

    </div>
  </div>
</main>

{% endblock %}
