{% extends "../../head.html" %}

<!-- page title -->
{% block page_title %}
  Request to manage licences - GOV.UK ~
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner -->
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>

  <!-- navigation block -->
  {% include "../../partials/nav_access.html" %}

  <!-- breadcrumbs -->
  <div class="big-space">
    <nav id="navigate">
      <!-- breadcrumbs -->
      <div class="breadcrumbs" id="breadcrumbs">
        <ol role="breadcrumbs">
          <li><a href="/v16/pages/manage">Manage your licences</a></li>
          <li><a href="">Access more licences</a></li>
        </ol>
      </div>
    </nav>
  </div>

  <!-- back -->
  <a href="#" class="link-back" onclick="history.go(-1)">Back</a>

  <!-- main -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Request to manage licences ~</h1>
      <p>
        When you send a request we will send a letter to the licence holder. The licence holder can then give you a code to authorise you to manage their licences. ~
      </p>

      <!-- form -->
      <form class="medium-space">

        <div class="form-group">
          <label for="emails">
            <fieldset class="small-space">
              <span class="form-label-bold">Invite a licence holder ~</span>
              <span class="form-hint">Add the licence holders contact email address ~</span>
            </fieldset>
          </label>
          <textarea class="form-control form-control-3-4" name="licence_holder" rows="1" required ></textarea>
        </div>

        <!-- continue button -->
        <a href="licences">
          <input onclick="" value="Continue" class="button" role="button" type="submit">
        </a>

      </form>

    </div>
  </div>
</main>

{% endblock %}
