{% extends "../head-signedin.html" %}

{% block page_title %}
  Find a return - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- navigation block -->
  {% include "../../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../../partials/nav-wirs-manage.html" %}

  <div class="big-space"></div>

  <!-- page title -->
  <h1  class="heading-large medium-space">
    Find a return
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds medium-space">

      <div class="form-group">

        <fieldset>
          <div class="form-group">
            <label class="form-label" for="august-amount">Find the return using a return code</label>
            <span class="form-hint">Sometimes known as a Format ID</span>
            <input class="form-control amount-input"id="return-code" name="return-code" type="text" value="">
          </div>

        </fieldset>

        <!-- <input onclick="$('#incorrectLogin').hide()" type="submit" value="Continue" class="button" role="button"/> -->
        <a href="return-status?wid=32" class="button">Continue</a>

      </div>

    </div>
  </div>

</main>

{% endblock %}
