<!-- add more licences -->
<div class="big-space">
  <details>
    <summary><span class="summary">View more of your licences</span></summary>
    <div class="panel panel-border-narrow">
      <p>
        You can request to view any water abstraction licences you hold using this service.
      </p>
      <p>
        <a href="/v17/pages/add_licence/licence_number">
          Request to view more licences
        </a>
      </p>
      <p>
        <a href="/v17/pages/add_licence/auth_code_access">
          Enter a security code you've received
        </a>
      </p>
      <!-- <input class="button medium-space" type="submit" value="Add licences" aria-disabled="true"> -->
    </div>
  </details>
</div>
