<!-- new GDS navigation pattern -->
<div class="content-width small-space">
  <nav id="nav" class="menu">

    <div class="navbar">

      <ul class="navbar__list-items menu-left">
        <li class="navlink">
          <a href="/v17/pages/licences_alt">View your licences</a>
        </li>
        <li class="navlink">
          <a href="/v17/pages/manage_alt">Manage your licences</a>
        </li>
        <li class="navlink active">
          <a href="/v17/pages/account_alt">Manage your account</a>
        </li>
      </ul>

    </div>
  </nav>
</div>
