<!-- more simple version of search -->
<!-- licence search component -->
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="form-group form-group--horizontal">
      <label class="form-label form-label--bold" for="emailAddress">Search for a licence</label>
      <span class="form-hint">Search by name, email address or keyword</span>

      <div class="flexy">
        <input type="text" class="form-control form-control--block column-two-thirds" />
        <div class="column-one-third">
          <input id="searchButton" class="button button button-license-search" type="submit" value="Search">
        </div>
      </div>

    </div>
  </div>
</div>

<!-- licence search component -->
<!-- <div class="grid-row">

  <div class="column-two-fifths">
    <div class="form-group form-group--horizontal">
      <label class="form-label form-label--bold" for="emailAddress">Search for a licence holder’s account</label>
      <span class="form-hint">Enter their registered email address</span>
      <input type="text" class="form-control form-control--block" name="emailAddress" id="emailAddress" />
    </div>
  </div>

  <div class="column-two-fifths">
    <div class="form-group form-group--horizontal">
      <label class="form-label form-label--bold" for="licenseNumber">Search your licences</label>
      <span class="form-hint">Enter a licence number or name</span>
      <input type="text" class="form-control form-control--block" name="licenseNumber" id="licenseNumber" />
    </div>
  </div>

  <div class="column-one-fifth">
    <input id="searchButton" class="button button button-license-search" type="submit" value="Search">
  </div>
</div> -->
