{% include "includes/phase_banner_alpha.html" %}
{% extends "layout.html" %}
{% block page_title %}
  Water abstraction licence
{% endblock %}
{% block content %}
<main id="content" role="main">
        <div class="phase-banner-alpha">
            <p>
            <strong class="phase-tag">ALPHA</strong>
          <span>This is an Alpha prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
          </p>
          </div>
                          <p><a href="/v3/a/ext/signin" class="sign-out">Sign out</a></p></div>
    <nav>
      <div class="breadcrumbs">
        <ol role="breadcrumbs">
          <li><a href="#">Your services</a></li>
          <li><a href="/v3/a/ext/licences">Abstraction licences</a></li>
          <li><a href="/v3/a/ext/online_licence">Licence number: 123456</a></li>
        </ol>
      </div>
</nav>
  <h1 class="heading-large">
    Your water abstraction licence
    </h1>

  <h2 class="heading-medium">
    Check your licence details are up to date
  </h2>
<p>
    Licence number: 123456
  </p>
  <table class="check-your-answers">
    <thead>
      <tr>
        <th colspan="2">

        </th>
        <th>
        </th>
      </tr>
    </thead>
        <tbody>
            <tr>
              <td>
                <h3 class="heading-small">
                  Primary contact details
                </h3>
            </td>
            <td>
              <p></p>
              Joe Blogs<br>
              4 Fake Street<br>
              Bristol, BS4 8LD<br>
              Contact: Gill Blogs<br>
              Tel: 01234 567 890<br>
              Email: joe&gill@gillblogs.com
            </td>
            <td class="change-answer">

              </a>
            </td>
    </tr>
  </tbody>
    <tbody>
      <tr>
        <td>
          <h3 class="heading-small">
            Licence holder details
          </h3>
        </td>
        <td><p></p>
          Joe Blogs<br>
          4 Fake Street<br>
          Bristol, BS4 8LD<br>
          Contact: Gill Blogs<br>
          Tel: 01234 567 890<br>
          Email: joe&gill@gillblogs.com
        </td>
        <td class="change-answer">

          </a>
        </td>
      </tr>
      </tbody>

      <tbody>
      <tr>
        <td>
          <h3 class="heading-small">
            Abstraction return contact details
          </h3>
        </td>
        <td><p></p>
          Joe Bloggs<br>
          4 Fake Street<br>
          Bristol, BS4 8LD<br>
          Contact: Gill Blogs<br>
          Tel: 01234 567 890<br>
          Email: joe&gill@gillblogs.com
        </td>
        <td class="change-answer">

          </a>
        </td>
      </tr>
      </tbody>

      <tbody>
      <tr>
        <td>
          <h3 class="heading-small">
            Billing contact details
          </h3>
        </td>
        <td><p></p>
          Joe Blogs<br>
          4 Fake Street<br>
          Bristol, BS4 8LD<br>
          Contact: Gill Blogs<br>
          Tel: 01234 567 890<br>
          Email: joe&gill@gillblogs.com
        </td>
        <td class="change-answer">

        </td>
      </tr>
      </tbody>
  </table>
</div>
  <div class='grid-row'>
    <div class='column-full'><a href="/v3/a/ext/online_licence">  <p></p>< Back to previous</a></div></div>


</main>

{% endblock %}
