{% include "includes/phase_banner_alpha.html" %}
{% extends "layout.html" %}
{% block page_title %}
  Water abstraction licence
{% endblock %}
{% block content %}
<main id="content" role="main">
    <div class="phase-banner-alpha">
  <p>
  <strong class="phase-tag">ALPHA</strong>
<span>This is an Alpha prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
</p>
  </div>
                <p><a href="/v3/a/ext/signin" class="sign-out">Sign out</a></p></div>
<nav>
<div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="#">Your services</a></li>
      <li><a href="/v3/a/ext/licences">Abstraction licences</a></li>
      <li><a href="/v3/a/ext/online_licence">Licence number: 123456</a></li>
    </ol>
  </div>
</nav>

      <figure>
        <img src="/public/images/map.png" alt="Map">
      </figure>
<a href="/v2/a/ext/online_licence/terms"><p></p>< Back to previous</a>
  </main>
{% endblock %}
