{% extends "../head-signedin.html" %}

<!-- page title -->
{% block page_title %}
  Licence return for  {{ pData.LicenceNumber }} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../../partials/nav-ex-returns.html" %}

  <div class="grid-row medium-space">
    <div class="column-two-thirds">

      <!-- page heading -->
      {% if pData.LicenceName %}
        <h2 class="sub-head">
          Abstraction record for {{ pData.LicenceSerialNo }}
        </h2>
        <h1 class="heading-large spaceless">
          {{ pData.LicenceName }}
        </h1>
      {% else %}
        <h2 class="sub-head">
          Abstraction record
        </h2>
        <h1 class="heading-large spaceless">
          Licence number {{pData.LicenceSerialNo}}
        </h1>
      {% endif %}
    </div>
  </div>

  <!-- meta data block -->
  {% include "../../partials/return-external-meta.html" %}

  <div class="grid-row small-space">
    <div class="column-two-thirds">
      <p>
        <a href="../online-licence?wid={{ query.wid }}">View this licence</a>
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <div class="form-group">

        <form data-routing="1">

          <fieldset class="medium-space">

            <legend>
              <h1 class="heading-medium">
                What is your estimate based on?
              </h1>
            </legend>

            <div class="multiple-choice" data-target="estimated-flow-rate">
              <input id="radio-flow-rate" type="radio" name="radio-contact-group" value="returns-route-unit?wid={{ query.wid }}">
              <label for="radio-flow-rate">Flow rate</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="estimated-flow-rate">
              <label class="form-label" for="contact-email">Equipment flow rate</label>
              <input class="form-control" name="contact-email" type="text" id="contact-email">
            </div>

            <div class="multiple-choice" data-target="estimate-herd-number">
              <input id="radio-herd-number" type="radio" name="radio-contact-group" value="returns-route-unit?wid={{ query.wid }}">
              <label for="radio-herd-number">Herd numbers</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="estimate-herd-number">
              <label class="form-label" for="herd-number">What is your herd size</label>
              <input class="form-control" name="herd-number" type="text" id="herd-number">
            </div>

          </fieldset>

          <button type="submit" class="button">Submit</button>
        </form>
      </div>

    </div>
  </div>

</main>

<script src="/public/v6/javascripts/jquery-1.11.3.js"></script>

<script>
  $(function() {
    $('form[data-routing]').on('submit', function(ev) {
      // FInd selected radio button
      const url = $(this).find('input:checked').val();

      if(url) {
        ev.preventDefault();
        window.location.href = url;
        return false;
      }
    });
  })
</script>

{% endblock %}
