<!-- new GDS navigation pattern -->
<div class="content-width big-space">
  <nav id="nav" class="menu">

    <div class="navbar">

      <ul class="navbar__list-items menu-left">
        <li class="navlink">
          <a href="/v21/br/licences">View licences</a>
        </li>
        <li class="navlink active">
          <a href="/v21/br/returns/returns-overview">View return cycles</a>
        </li>
        <li class="navlink">
          <a href="/v21/br/returns/send-paper-forms">Send paper forms</a>
        </li>
      </ul>

    </div>
  </nav>
</div>
