<div class="small-space">
  <dl>
    <dt class="meta-label">
      Site description
    </dt>
    <dd class="meta-description">
      Great Ouse at Bedford College (Heat pump - cooling only)
    </dd>
    <dt class="meta-label">
      Purpose
    </dt>
    <dd class="meta-description">
      {{ pData.Purpose1 }}
    </dd>
    <dt class="meta-label">
      Return period
    </dt>
    <dd class="meta-description">
      April 2018 to March 2019
    </dd>
    <dt class="meta-label">
      Abstraction period
    </dt>
    <dd class="meta-description">
      01 April to 31 September
    </dd>
  </dl>
</div>
