<!-- new GDS navigation pattern -->
<div class="content-width small-space">
  <nav id="nav" class="menu">

    <div class="navbar">

      <ul class="navbar__list-items menu-left">
        <li class="navlink">
          <a href="/v20/ar/licences">View licences</a>
        </li>
        <!-- <li class="navlink">
          <a href="/v20/ar/returns/returns-region">Returns</a>
        </li> -->
        <!-- <li class="navlink">
          <a href="/v20/ar/manage">Reports and notifications</a>
        </li> -->
      </ul>

    </div>
  </nav>
</div>
