<!-- new GDS navigation pattern -->
<div class="content-width big-space">
  <nav id="nav" class="menu">

    <div class="navbar">

      <ul class="navbar__list-items menu-left">
        <li class="navlink active">
          <a href="/v20/ex/licences">Your licences</a>
        </li>
        <li class="navlink">
          <a href="/v20/ex/returns/returns-list">Returns</a>
        </li>
        <li class="navlink">
          <a href="/v20/ex/manage">Add licences or give access</a>
        </li>
      </ul>

    </div>
  </nav>
</div>
