{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
Abstraction conditions
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>
  {% from "custom_inc/waterdatav3.html" import permits %}

  {% for pNumber, pData in permits %}
  {% if pNumber==chosenPermitID %}

  <nav>
    <div class="breadcrumbs">
      <ol role="breadcrumbs">
        <li><a href="#">Your services</a></li>
        <li><a href="/v12_2/online_licence/licences_list/licences">Abstraction licences</a></li>
        <li><a href="/v12_2/pages/online_licence?wid={{ pNumber }}">Licence serial number: {{ pData.LicenceSerialNo }}</a></li>
        <a href="/v12_2/pages/signin" class="sign-out2">Sign out</a>
        <a href="/v12_2/change_password/new_password.html" class="change-password">Change password</a>
      </ol>
    </div>
  </nav>

  <a href="#" class="link-back" onclick="history.go(-1)">Back</a>

  <div class="grid-row"> <!-- warning -->
    <div class="column-two-thirds">

      <h1 class="heading-large">Conditions held for [licence name or number]</h1>
      <div class="notice">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">We may not be able to show a full list of your conditions, because we don’t hold all of your licence information on our system yet. You must refer to the paper copy of your licence to view and comply with all of your conditions.</strong>
        <p></p>
      </div>
      <p></p>
    </div>
  </div>

  <!-- condition type purpose to purpose -->
  <div class="grid-row">
    <div class="column-full">

      <h2 class="heading-medium">Aggregate condition purpose to purpose within a licence</h2>

      <div class="datatable datahead">
        <label>                                       Abstraction point
        </label>
        <div class="licenceAnswerv7 bold-small">      REDNAL SJ36972873
        </div>
      </div>

      <div class="datatable first-data">
        <label>                                       Aggregate quantity
        </label>
        <div class="licenceAnswerv7">                 400m/h
        </div>
      </div>

      <div class="datatable">
        <label>                                       Aggregate quantity
        </label>
        <div class="licenceAnswerv7">                 6,000m/d
        </div>
      </div>

      <div class="datatable">
        <label>                                       Aggregate quantity
        </label>
        <div class="licenceAnswerv7">                 1,825,000m/a
        </div>
      </div>

    </div>
  </div>


  <div class="grid-row">
    <div class="column-full">

      <div class="datatable">
        <label>                                       Abstraction point
        </label>
        <div class="licenceAnswerv7 bold-small">      KINSHALL, SJ35053248
        </div>
      </div>

      <div class="datatable first-data">
        <label>                                       Aggregate quantity
        </label>
        <div class="licenceAnswerv7">                 400m/h
        </div>
      </div>

      <div class="datatable">
        <label>                                       Aggregate quantity
        </label>
        <div class="licenceAnswerv7">                 6,000m/d
        </div>
      </div>

      <div class="datatable">
        <label>                                       Aggregate quantity
        </label>
        <div class="licenceAnswerv7">                 1,825,000m/a
        </div>
      </div>

    </div>
  </div>




  {% endif %}
  {% endfor %}

</main>

<a href="/v12_2/conditions/no_con?wid=1">No abstraction conditions</a>
{% endblock %}
