{% extends "../head-signedin.html" %}

{% block page_title %}
  Your password has been changed - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../../partials/nav-br-head.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-large">
          Your password has been changed
        </h1>
      </div>

    </div>
  </div>

  <a href="/v21/wirs/licences">Return to your licences</a>

</main>

{% endblock %}
