{% extends "v16/head.html" %}

{% block page_title %}
  Choose an option to view your licences - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- Page title and contact -->
  <div class="grid-row">

    <div class="column-two-thirds">
      <div class="page-header">
        <!-- <p class="page-header__context">Design</p> -->
        <h1 class="page-header__title">
          Manage your water abstraction or impoundment licences online
        </h1>
        <div class="lede">
          Use this service to view and share your licence information.
        </div>
      </div>
    </div>
  </div>

    <!-- Metadata-->
    <div class="grid-row">
      <div class="column-two-thirds">

        <div class="metadata">
          <dl>
            <dt>
              Published by:
            </dt>
            <dd>
              The Environment Agency
            </dd>
            <dt>
              Last updated:
            </dt>
            <dd>
              about 1 month ago
            </dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="grid-row" data-module="highlight-active-section-heading">
      <div class="column-third">

        <!--  Page contents -->
        <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
          <h2 class="page-contents__title">Page contents:</h2>
          <ul class="page-contents__list">
            <li><a href="#view-your-licence-online">View your licence online</a></li>
            <li><a href="#create-an-online-account-to-view-your-licence">Create an online account to view your licence(s)</a></li>
            <li><a href="#abstraction-charges">Abstraction charges</a></li>
            <li><a href="#measuring-and-recording-your-abstraction">Measuring and recording your abstraction</a></li>
            <li><a href="#reporting-how-much-water-you-ve-abstracted">Reporting how much water you’ve abstracted</a></li>
            <li><a href="#submitting-water-abstraction-returns">Submitting water abstraction returns</a></li>
          </ul>
        </div>

      </div>

      <div class="column-two-thirds">
        <div class="govspeak-wrapper">

          <div class="govuk-govspeak ">

            <h2 id="view-your-licence-online">View your licence online</h2>
            <p>You can now view basic information about your water abstraction or impoundment licence(s) online. Use this service to:</p>

            <ul>
              <li>view information about each of the water abstraction or impoundment licences you hold</li>
              <li>check your licence start and end dates</li>
              <li>check your points and periods of abstraction</li>
              <li>give other people access to view your licence information</li>
            </ul>

            <p>More of your licence information will be added soon.</p>

            <a href="/v16/pages/signin">Sign in to view your licence</a>

            <h2 id="create-an-online-account-to-view-your-licence">Create an online account to view your licence(s)</h2>

            <p>You need to create an online account and confirm your identity to access your licence information. We’ll need to send you a security code by post to complete this process. This should take around 5 working days.</p>

            <p>You’ll be able to view all of your water abstraction or impoundment licences using this account.</p>

            <h3 class="heading-medium">Before you start</h3>

            <p>You'll need:</p>
            <ul>
              <li>your licence number(s)</li>
              <li>your postcode (from the address you registered as the licence holder)</li>
              <li>your email address</li>
            </ul>


  <h2 id="abstraction-charges">Abstraction charges</h3>

  <p>The Environment Agency charges abstraction licence holders to fund the costs they incur in ensuring water resources are managed effectively while protecting the environment. This includes ensuring the rights of existing licence holders to abstract water are protected when granting new or varied licences.</p>

  <p>An annual subsistence charge, which comprises the Standard Unit Charge (SUC) and the Environmental Improvement Unit Charge (EIUC), is usually payable by everyone who holds a full licence to abstract water.</p>

  <p>Annual subsistence charges are not payable for temporary licences, transfer licences or for licences to impound water. Other limited exceptions to the annual subsistence charge can be found in the <a href="#">abstraction charges scheme April 2015 to March 2016</a></p>

  <p>To estimate your annual bill, use our <a href="#">abstraction charge calculator</a>.

  <h2 id="measuring-and-recording-your-abstraction">Measuring and recording your abstraction</h2>

  <p>Most licences require you to accurately measure and report the quantity of water you abstract. <a href="#">Metering requirements</a> will form part of your discussions with the Environment Agency during the determination of your application.</p>

  <p>Measuring and recording the amount of water you abstract will allow you to take action to keep within the limits allowed in your licence. If you think you need to abstract more than your maximum quantity, you must contact the Environment Agency early. There is no guarantee that the Environment Agency will be able to increase the maximum quantity your licence allows you to abstract.</p>

  <p>Most abstractors must provide the Environment Agency with accurate records of how much water is taken in order to enable them to:</p>

  <ul>
    <li>ensure society’s need for water is balanced with that needed to maintain a healthy aquatic environment</li>
    <li>allocate spare resources to other abstractors</li>
    <li>charge some abstractors based on how much water they take</li>
    <li>check compliance with licence conditions</li>
    <li>provide information on water usage</li>
      </ul>

  <h2 id="reporting-how-much-water-you-ve-abstracted">Reporting how much water you’ve abstracted</h2>

  <p>Your abstraction licence will tell you how often you need to record the amount of water you abstract. Most licences will also ask you to submit a record of your actual abstraction (known as ‘returns’) to the Environment Agency.</p>
  <p>Even if you haven’t taken any water, you must submit a ‘nil’ return if your licence states that you must report your water use.</p>
  <p>If you do not submit your record of actual abstraction when required to do so, the Environment Agency may take enforcement action. If you spray irrigate and hold a two part tariff billing agreement your charges are partially calculated on the amount of water abstracted. To gain the full financial benefits of this agreement it is important that you submit your return, even if you haven’t abstracted any water.</p>

  <h2 id="submitting-water-abstraction-returns">Submitting water abstraction returns</h2>

  <p>You can submit your water abstraction returns using forms supplied by the Environment Agency or use their online reporting system called Generic Operator Returns (GOR).</p>
  <a href="#">Submit water abstraction returns</a>


  </div>

      </div>

      <div class="change-history" data-module="toggle">
        <div class="change-history__latest-change">
          <dl>
            <dt>Published by:</dt>
              <dd>
              The Environment Agency</dd>
            <dt>Last update:</dt>
            <dd>
              <time datetime="2017-11-08T13:33:52+00:00" class="timestamp"> 27 November 2017</time>
  <p class="change-history__summary">
    Guidance first published
  </p>

            </dd>
          </dl>
        </div>
      </div>

    </div>
  </div>
      </main>



    </div>



      <script src="https://assets.publishing.service.gov.uk/static/govuk-template-c4f303154d2a238bdda4d5cf1ebd8d4487822e4cbc3e4c83e743da869443ce72.js" crossorigin="anonymous" integrity="sha256-xPMDFU0qI4vdpNXPHr2NRIeCLky8PkyD50PahpRDznI="></script>

        <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-cb0decd18b4b0abbece3cfc180d9adc8e11dfa693cf34c2ff1ffcda86e725301.js" crossorigin="anonymous" integrity="sha256-yw3s0YtLCrvs48/BgNmtyOEd+mk880wv8f/NqG5yUwE="></script>
  <script src="https://assets.publishing.service.gov.uk/static/header-footer-only-8ebb2100d4f59fb7e4eedb9c61672156ca92be731dc4a1ea6e9a7a218904e534.js" crossorigin="anonymous" integrity="sha256-jrshANT1n7fk7tucYWchVsqSvnMdxKHqbpp6IYkE5TQ="></script>
  <script src="https://assets.publishing.service.gov.uk/static/surveys-8bfddec9d8aa8530dbad519c47440577d01ae78b506a9f2025a01f4f9ee807c4.js" crossorigin="anonymous" integrity="sha256-i/3eydiqhTDbrVGcR0QFd9Aa54tQap8gJaAfT57oB8Q="></script>



      <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
    <script src="https://assets.publishing.service.gov.uk/service-manual-frontend/application-4316f9d34667897560276221c7e712da80ae88cc0e8c91502b559066abf7e1b6.js"></script>



</main>

{% endblock %}
