{% extends "govuk_template.html" %}

{% block head %}
  <link href="/public/stylesheets/application_additions.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block proposition_header %}

  <div class="header-proposition">
    <div class="content">
      <nav id="proposition-menu">
        <a href="/" id="proposition-name">Manage your water abstraction or impoundment licence</a>
      </nav>
    </div>
  </div>

{% endblock %}

{% block content %}
  <p>No content available</p>
{% endblock %}

{% block footer_support_links %}
  {% if useAutoStoreData %}
    <ul>
      <li>
        <a href="/prototype-admin/clear-data">Clear data</a>
      </li>
    </ul>
  {% endif %}
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
