{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class='column-two-thirds'>

      <h1 class="heading-xlarge">
        Manage your water abstraction or impoundment licence online prototype: Beta
      </h1>

      <h2 class="heading-medium">Prototype versions 12.1, 12.2 and 12.3</h2>

      <details class="closeOnOpen">
        <summary><span class="summary">Carried over from previous version</span></summary>
        <h3 class="heading-small">Licence pages (as John)</h3>
        <ul class="list list-bullet">
          <li><a href="/v12/pages/signin">Sign in</a></li>
          <li><a href="/v12/online_licence/licences_list/licences">Abstraction licences</a></li>
          <li><a href="/v12/pages/online_licence?wid=1">Licence</a></li>
          <li><a href="/v12/pages/terms?wid=1">Licence terms</a></li>
          <li><a href="/v12_2/pages/contact_details?wid=1">Contact details</a></li>
    		</ul>

        <h4 class="heading-small">User change password</h4>
    		<ul class="list list-bullet">
          <li><a href="/v12/change_password/new_password">Change password</a></li>
          <li><a href="/v12/change_password/new_password_confirm?">Password changed</a></li>
        </ul>

        <h4 class="heading-small">User reset password</h4>
        <ul class="list list-bullet">
          <li><a href="/v12/reset_password/password_reset">Password reset</a></li>
          <li><a href="/v12/reset_password/check_email?">Check your email</a></li>
          <li><a href="/v12/reset_password/resend_password">Ask for another email</a></li>
          <li><a href="/v12/reset_password/resent_password">Check your email, or contact us</a></li>
        </ul>

        <h4 class="heading-small">Licences list page</h4>
        <ul class="list list-bullet">
          <li><a href="/v12/online_licence/licences_list/personas/licence_holder_john">Licences list landing page for John</a></li>
          <li><a href="/v12/online_licence/licences_list/personas/licence_holder_wendy">Licences list landing page for Wendy</a></li>
          <li><a href="/v12/online_licence/licences_list/personas/licence_holder_geoff">Licences list landing page for Geoff</a></li>
        </ul>

        <h4 class="heading-small">User feedback</h4>
        <ul class="list list-bullet">
          <li><a href="/v12/pages/feedback">User feedback page (smart survey iframe)</a></li>
        </ul>

        <h4 class="heading-small">Registration process - Wendy</h4>
        <ul class="list list-bullet">
          <li><a href="/v12/online_licence/new_wendy_reg/guidance">Registration guidance</a></li>
          <li><a href="/v12/online_licence/new_wendy_reg/give_email">Tell us your email</a></li>
          <li><a href="/v12/online_licence/new_wendy_reg/check_email">Check your email</a></li>
          <li><a href="/v12/online_licence/new_wendy_reg/resend_email">Resend email</a></li>
          <li><a href="/v12/online_licence/new_wendy_reg/resent_email">Check your email again</a></li>
          <li><a href="/v12/online_licence/new_wendy_reg/create_password">Create a password for your account</a></li>
          <li><a href="/v12/online_licence/new_wendy_reg/licence_number">Tell us your licence numbers</a></li>
          <li><a href="/v12/online_licence/new_wendy_reg/select_licences">Confirm these are your licences</a></li>
          <li><a href="/v12/online_licence/new_wendy_reg/choose_address">Where should we send your code?</a></li>
          <li><a href="/v12/online_licence/new_wendy_reg/post_confirm">Code requested</a></li>
          <li><a href="/v12/online_licence/new_wendy_reg/auth_code">Tell us your security code</a></li>
          <li><a href="/v12/online_licence/licences_list/personas/licence_holder_wendy">Licences list page</a></li>
        </ul>
      </details>

      <h2 class="heading-small">Abstraction conditions</h2>
        <ul class="list list-bullet">
          <li><a href="/v12_3/conditions/no_con?wid=7">No abstraction conditions</a></li>
          <li><a href="/v12_3/conditions/1_con?wid=7">One abstraction condition</a></li>
          <li><a href="/v12_3/conditions/3_con?wid=7">Three abstraction conditions</a></li>
          <!-- <li><a href="/v12_2/conditions/1_con?wid=1">Abstraction conditions page</a></li>
          <li><a href="/v12_2/conditions/no_con?wid=1">No abstraction conditions page</a></li> -->
        </ul>

      <h2 class="heading-small">Mid sprint designs</h2>
      
      <details class="closeOnOpen">
        <summary><span class="summary">12.2</span></summary>
        <h4 class="heading-small">What's your mobile phone number?</h4>
        <p>Request at registration</p>
        <ul class="list list-bullet">
          <li><a href="/v12_2/online_licence/new_wendy_reg/auth_code">End of registration - confirmation code</a></li>
          <li><a href="/v12_2/online_licence/new_wendy_reg/mobile_number">What's your mobile phone number?</a></li>
          <li><a href="/v12_2/online_licence/new_wendy_reg/check_mobile_number">Check your mobile phone number</a></li>
          <li><a href="/v12_2/online_licence/licences_list/personas/licence_holder_wendy">Licence list</a></li>
        </ul>

        <h4 class="heading-small">Change your mobile phone number</h4>
        <p>Managing your phone number from within your account</p>
        <ul class="list list-bullet">
          <li><a href="/v12_2/online_licence/licences_list/personas/licence_holder_wendy">Licences list</a></li>
          <li><a href="/v12_2/pages/your_account">Your account</a></li>
        </ul>
      </details>

      <h2 class="heading-small">Early sprint designs</h2>

      <details class="closeOnOpen">
        <summary><span class="summary">12.1</span></summary>
        <h4 class="heading-small">Ask for contact details on login</h4>
        <ul class="list list-bullet">
          <li><a href="/v12/contact_details/signin">Sign in</a></li>
          <li><a href="/v12/contact_details/why">Why we need your contact details</a></li>
          <li><a href="/v12/contact_details/confirm">Your contact details have been saved</a></li>
        </ul>

        <h4 class="heading-small">Abstraction conditions</h4>
        <ul class="list list-bullet">
          <li><a href="/v12/conditions/cessation?wid=7">Abstraction condition pages</a></li>
        </ul>
      </details>

    </div>
  </div>
</main>

{% endblock %}
