{% extends "layout.html" %}
{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class='column-two-thirds'>

      <h1 class="heading-xlarge">
        Manage your water abstraction or impoundment licence online prototype: Beta
      </h1>

      <h2 class="heading-medium">Prototype version 15</h2>

      <h3 class="heading-small">Add licence</h3>

      <ul class="list list-bullet">
        <li><a href="/v15/add_licence/licence_number?wid=1">Add licences</a></li>
      </ul>

      <h3 class="heading-small">Internal / colleague view of licences</h3>

      <ul class="list list-bullet">
        <li><a href="/v15/pages/licences-internal?wid=1">Licences (internal view)</a></li>
      </ul>

      <h3 class="heading-small">Abstraction licences</h3>

      <ul class="list list-bullet">
        <li><a href="/v15/pages/start?wid=1">Start page</a></li>
        <li><a href="/v15/pages/register/give_email?wid=1">Create account</a></li>
        <li><a href="/v15/pages/signin?wid=1">Sign in</a></li>
        <li><a href="/v15/pages/licences?wid=1">Licences</a></li>
        <li><a href="/v15/pages/online_licence?wid=1">Licence 1</a></li>
        <li><a href="/v15/pages/online_licence?wid=2">Licence 2</a></li>
        <li><a href="/v15/pages/online_licence?wid=3">Licence 3</a></li>
        <li><a href="/v15/pages/online_licence?wid=4">Licence 4</a></li>
        <li><a href="/v15/pages/online_licence?wid=5">Licence 5</a></li>
      </ul>
      
      <h3 class="heading-small">Impoundment licence</h3>

      <ul class="list list-bullet">
        <li><a href="/v15/pages/online_licence_impoundment?wid=6">An impoundment licence - WORK IN PROGRESS</a></li>
      </ul>

      <details class="closeOnOpen">
        <summary><span class="summary">Carried over from previous version</span></summary>

        <h3 class="heading-small">Severn licences</h3>

        <ul class="list list-bullet">
          <li><a href="/v14/pages/licences?wid=1">Licences</a></li>
          <li><a href="/v14/pages/online_licence-a?wid=1">Severn licence A</a></li>
          <li><a href="/v14/pages/online_licence-b?wid=2">Severn licence B</a></li>
          <li><a href="/v14/pages/online_licence-c?wid=3">Severn licence C</a></li>
          <li><a href="/v14/pages/online_licence-d?wid=3">Severn licence D</a></li>
          <li><a href="/v14/pages/online_licence-e?wid=3">Random licence E</a></li>
          <li><a href="/v14/pages/expiring-licences?wid=3">Expiring licences</a></li>
        </ul>

        <h3 class="heading-small">Add licences</h3>
        <ul class="list list-bullet">
          <li><a href="/v14/pages/manage?wid=2">Request access</a></li>
          <li><a href="/v14/pages/add_licence/licence_number?wid=3">Add licence numbers</a></li>
          <li><a href="/v14/pages/add_licence/select_licences?wid=3">Which licences?</a></li>
          <li><a href="/v14/pages/add_licence/choose_address?wid=3">Choose address</a></li>
          <li><a href="/v14/pages/add_licence/post_confirm?wid=3">We sent you a letter</a></li>
          <li><a href="/v14/pages/manage-auth">Code is sent</a></li>
        </ul>

        <h3 class="heading-small">Share access</h3>
        <ul class="list list-bullet">
          <li><a href="/v14/pages/access">Share licence access</a></li>

        </ul>

          <h3 class="heading-small">Licence summary & details</h3>
          <ul class="list list-bullet">
            <li><a href="/v13/pages/online_licence-a?wid=1">Simple licence</a></li>
            <li><a href="/v13/pages/online_licence-b?wid=2">Complex licence</a></li>

          </ul>
          <ul class="list list-bullet">
            <li><a href="/v13/pages/point/points-a?wid=1">2 abstraction points</a></li>
            <li><a href="/v13/pages/point/points-b?wid=1">7 abstraction points</a></li>
            <li><a href="/v13/pages/purpose/purposes-b?wid=1">4 abstraction purposes</a></li>
            <li><a href="/v13/pages/conditions/1_condition?wid=1">1 abstraction condition</a></li>
            <li><a href="/v13/pages/conditions/no_conditions?wid=1">No abstraction conditions on file</a></li>
            <li><a href="/v13/pages/amounts/point-a?wid=1">Amounts by point</a></li>
            <li><a href="/v13/pages/amounts/purpose-a?wid=1">Amounts by purpose</a></li>
            <li><a href="/v13/pages/amounts/condition-a?wid=1">Amounts by condition</a></li>
          </ul>

          <h3 class="heading-small">Time-limited conditions</h3>
          <ul class="list list-bullet">
            <li><a href="/v13/pages/licences?wid=7">Renewal notice</a></li>
            <li><a href="/v13/pages/online_licence?wid=7">Time-limited licence condtions</a></li>
            <li><a href="/v13/pages/variation_summary?wid=7">Summary of temporary conditions</a></li>
          </ul>

          <h3 class="heading-small">Add licences</h3>
          <ul class="list list-bullet">
            <li><a href="/v13/pages/water_abstraction?wid=7">Manage your licences</a></li>
            <li><a href="/v13/pages/licences_alt?wid=7">Manage your licences, another way</a></li>
            <li><a href="/v13/pages/add_licence/licence_number?wid=7">Add abstraction licences</a></li>
            <li><a href="/v13/pages/add_licence/select_licences?wid=7">Picking licences to add</a></li>
            <li><a href="/v13/pages/add_licence/choose_address?wid=7">Choose address to send the code</a></li>
            <li><a href="/v13/pages/add_licence/post_confirm?wid=7">Where to send your letter</a></li>
            <li><a href="/v13/pages/add_licence/auth_code?wid=7">Use a security code</a></li>
            <li><a href="/v13/pages/manage_licences?wid=7">Access to licences</a></li>
            <li><a href="/v13/pages/licences?wid=7">Your licences</a></li>
          </ul>


          <h3 class="heading-small">Licence pages (as John)</h3>
          <ul class="list list-bullet">
            <li>
              <a href="/v12/pages/signin">
                Sign in
              </a>
            </li>

            <li>
              <a href="/v12/online_licence/licences_list/licences">
                Abstraction licences
              </a>
            </li>

            <li>
              <a href="/v12/pages/online_licence?wid=1">
                Licence
              </a>
            </li>

            <li>
              <a href="/v12/pages/terms?wid=1">
                Licence terms
              </a>
  			    </li>

            <li>
    					<a href="/v12_2/pages/contact_details?wid=1">
    						Contact details
    					</a>
    				</li>
  		    </ul>

          <h4 class="heading-small">User change password</h4>
      		<ul class="list list-bullet">
            <li><a href="/v12/change_password/new_password">Change password</a></li>
            <li><a href="/v12/change_password/new_password_confirm?">Password changed</a></li>
          </ul>

          <h4 class="heading-small">User reset password</h4>
      		<ul class="list list-bullet">
            <li>
              <a href="/v12/reset_password/password_reset">
                Password reset
              </a>
            </li>

            <li>
              <a href="/v12/reset_password/check_email?">
                Check your email
              </a>
            </li>
            <li>
              <a href="/v12/reset_password/resend_password">
                Ask for another email
              </a>
            </li>
            <li>
              <a href="/v12/reset_password/resent_password">
                Check your email, or contact us
              </a>
            </li>
          </ul>

          <h4 class="heading-small">Licences list page</h4>
          <ul class="list list-bullet">
            <li>
              <a href="/v12/online_licence/licences_list/personas/licence_holder_john">
                Licences list landing page for John
              </a>
            </li>

            <li>
              <a href="/v12/online_licence/licences_list/personas/licence_holder_wendy">
                Licences list landing page for Wendy
              </a>
            </li>

            <li>
              <a href="/v12/online_licence/licences_list/personas/licence_holder_geoff">
                Licences list landing page for Geoff
              </a>
            </li>
          </ul>

          <h4 class="heading-small">User feedback</h4>
          <ul class="list list-bullet">
            <li><a href="/v12/pages/feedback">User feedback page (smart survey iframe)</a></li>
          </ul>

          <h4 class="heading-small">Registration process - Wendy</h4>
          <ul class="list list-bullet">
            <li><a href="/v12/online_licence/new_wendy_reg/guidance">Registration guidance</a></li>
            <li><a href="/v12/online_licence/new_wendy_reg/give_email">Tell us your email</a></li>
            <li><a href="/v12/online_licence/new_wendy_reg/check_email">Check your email</a></li>
            <li><a href="/v12/online_licence/new_wendy_reg/resend_email">Resend email</a></li>
            <li><a href="/v12/online_licence/new_wendy_reg/resent_email">Check your email again</a></li>
            <li><a href="/v12/online_licence/new_wendy_reg/create_password">Create a password for your account</a></li>
            <li><a href="/v12/online_licence/new_wendy_reg/licence_number">Tell us your licence numbers</a></li>
            <li><a href="/v12/online_licence/new_wendy_reg/select_licences">Confirm these are your licences</a></li>
            <li><a href="/v12/online_licence/new_wendy_reg/choose_address">Where should we send your code?</a></li>
            <li><a href="/v12/online_licence/new_wendy_reg/post_confirm">Code requested</a></li>
            <li><a href="/v12/online_licence/new_wendy_reg/auth_code">Tell us your security code</a></li>
            <li><a href="/v12/online_licence/licences_list/personas/licence_holder_wendy">Licences list page</a></li>
          </ul>

        </details>

      </div>
    </div>
  </main>

  {% endblock %}
