{% extends "../head.html" %}

{% block page_title %}
    Confirm your email address - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <div class="big-space"></div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="form-title heading-large">
        Confirm your email address
      </h1>

      <p>We have sent you a new link and instructions to reset your password.</p>

      <details class="closeOnOpen">
        <summary><span class="summary">Still haven’t received anything?</span></summary>

          <p>Please call our helpline on <a href="tel:03708506506">03708 506 506</a>.</p>

          <p>You can also call:</p>

          <ul class="list list-bullet">
            <li>from outside of the UK, <a href="tel:01142825312">+44 (0) 114 282 5312</a></li>
            <li>our minicom service for the hard of hearing, 03702 422 54</li>
          </ul>
      </details>

    </div>
  </div>
</main>

{% endblock %}
