{% extends "../head.html" %}

{% block page_title %}
  Your water abstraction or impoundment licences - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../partials/nav-view.html" %}

  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1  class="heading-large">
        Your licences
      </h1>
    </div>
  </div>

  <!-- add more licences -->
  <div class="big-space">
    <details>
      <summary><span class="summary">Want to add more licences?</span></summary>
      <div class="panel panel-border-narrow">
        <p>
          You can add licences you manage to your account.
        </p>
        <p>
          <a href="/v17/pages/add_licence/licence_number">
            Add licences you own
          </a>
        </p>
        <p>
          <a href="/v17/pages/add_licence/auth_code_access">
            Use a code to add licences
          </a>
        </p>
        <!-- <input class="button medium-space" type="submit" value="Add licences" aria-disabled="true"> -->
      </div>
    </details>
  </div>

  <!-- licence list -->
  <div class="grid-row">
    <div class="column-full">

    <!-- Results page goes here -->
    <div class="license-results" id="results">

      <div class="license-results-header">
        <div class="license-results-header__column">
            Licence serial number
        </div>
        <div class="license-results-header__column">

        </div>
        <div class="license-results-header__column">
            Licence end date
        </div>
      </div>

      <!-- find way to pull data in here -->
      <a href="/v17/pages/online_licence?wid=5" class="license-result">
        <h2 class="heading-medium license-result__column faux-link">65/22/10/0015</h2>
        <p class="license-result__column license-result__column--description"></p>
        <div class="license-result__column" aria-hidden="true">30 May 2024</div>
      </a>

      <a href="/v17/pages/online_licence?wid=4" class="license-result">
        <h2 class="heading-medium license-result__column faux-link">65/22/10/0014</h2>
        <p class="license-result__column license-result__column--description"></p>
        <div class="license-result__column" aria-hidden="true">30 May 2024</div>
      </a>

      <a href="/v17/pages/online_licence?wid=1" class="license-result">
        <h2 class="heading-medium license-result__column faux-link">03/28/60/0032</h2>
        <p class="license-result__column license-result__column--description"></p>
        <div class="license-result__column" aria-hidden="true">30 April 2021</div>
      </a>

      <a href="/v17/pages/online_licence?wid=2" class="license-result">
        <h2 class="heading-medium license-result__column faux-link">03/28/60/0002</h2>
        <p class="license-result__column license-result__column--description"></p>
        <div class="license-result__column" aria-hidden="true">15 September 2022</div>
      </a>

      <a href="/v17/pages/online_licence?wid=3" class="license-result">
        <h2 class="heading-medium license-result__column faux-link">03/28/60/0003</h2>
        <p class="license-result__column license-result__column--description"></p>
        <div class="license-result__column" aria-hidden="true">30 September 2025</div>
      </a>

      <a href="/v17/pages/online_licence?wid=4" class="license-result">
        <h2 class="heading-medium license-result__column faux-link">01/04/12/0047</h2>
        <p class="license-result__column license-result__column--description"></p>
        <div class="license-result__column" aria-hidden="true">1 March 2027</div>
      </a>

      <a href="/v17/pages/online_licence?wid=5" class="license-result">
        <h2 class="heading-medium license-result__column faux-link">01/04/12/0047</h2>
        <p class="license-result__column license-result__column--description"></p>
        <div class="license-result__column" aria-hidden="true">1 September 2031</div>
      </a>

    </div>
  </div>
</div>
  <script src="/public/v6/javascripts/underscore.min.js"></script>
  <script src="/public/v6/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/v6/javascripts/license_results.js"></script>

</main>

{% endblock %}
