{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
      <div align="right"><a href="7-2_by_post">Next page ></a></div>
  <div class="grid-row">
    <div class="column-two-thirds">


            <h1 class="heading-large">
              Call our team to confirm your identity
            </h1>
<p>You'll need to tell us information from your licences and give us your email address.</p>

<ul class="list list-bullet">
  <li>phone - <a href="tel:03708506506">03708 506 506</a> (UK)</li>
  <li>minicom if you are deaf or hard of hearing - 03702 422 549</li>
</ul>

<p>Phone lines are open Monday to Friday, 8am to 6pm.
</br>Call charges can be found on <a href="http://www.gov.uk">GOV.UK</a></p>

<a href="7-2_by_post">Or, request your code by post</a>
    </div>
  </div>
</main>

{% endblock %}
