{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>
  <div align="right"><a href="8_complete_account">Next page ></a></div>
  <div class="grid-row">
    <div class="column-two-thirds">
<p></p>
      <div class="panel panel-border-wide">
        <p class="lede">
          Your security code has been requested. Your letter should arrive within 7 days.
        </p>
      </div>
            <h1 class="heading-large">
              Request a security code by post
            </h1>
<p>We'll send a security code and instructions to the registered licence holder's postal address.</p>

<p>The letter should arrive within 7 days</p>


<p></p>
<a href="7-1_by_phone">Or, request your code by phone and email</a>
    </div>
  </div>
</main>

{% endblock %}
