<div class="big-space">
  <details>
    <summary><span class="summary">Previous versions of this licence</span></summary>

    <div class="panel panel-border-narrow">

      <p>
        <a href="online-licence-version?wid=1">
          April 2016 - September 2016 (version 5)
        </a>
      </p>

      <p>
        <a href="online-licence-version?wid=1">
          March 2015 - April 2016 (version 4)
        </a>
      </p>

      <p>
        <a href="online-licence-version?wid=1">
          April 2014 - March 2015 (version 3)
        </a>
      </p>

      <p>
        <a href="online-licence-version?wid=1">
          April 2012 - April 2013 (version 2)
        </a>
      </p>

      <p>
        <a href="online-licence-version?wid=1">
          April 2011 - April 2012 (version 1)
        </a>
      </p>

      <p>
        <a href="online-licence-version?wid=1">
          June 2003 - April 2011 (version 0)
        </a>
      </p>


    </div>
  </details>

</div>
