{% extends "../view.html" %}

<!-- page title -->
{% block page_title %}
  Give access to view your licences - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../partials/nav-manage.html" %}

  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Give access to view your licences
      </h1>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds medium-space">
      <p class="needs-love">You can give other people access to view your licences. Tell us their email address and we’ll send them a link to create an account.</p>
      <p class="needs-love">Persons with access will be able to see your licence data. You can give them access to your returns data too.</p>
      <p>You can remove their access at any time.</p>
      <a href="give-access" class="button">Add user</a>
    </div>
  </div>

  <!-- table with four columns -->
  <div class="table medium-space">                                          <!-- a table -->

    <div class="table-row table-head">                                      <!-- the table head -->
      <div class="table-cell bold-small column-40">
        People with access
      </div>
      <div class="table-cell bold-small column-25">
        Date
      </div>
      <div class="table-cell bold-small column-15">
        Manage returns
      </div>
      <div class="table-cell bold-small column-20">
        <!-- no title -->
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->
      <div class="table-cell">
        <h3 class="sr-only">
          People with access
        </h3>
        <h4 class="context">
          site-manager@abstraction-bros.co.uk
        </h4>
        marigold.bidbod@abstraction-bros.co.uk
      </div>
      <div class="table-cell">
        <h4 class="context">
          Date
        </h4>
        12 March 2015
      </div>
      <div class="table-cell checkbox-cell">
        <h4 class="context">
          Manage returns
        </h4>
        <div class="multiple-choice">
          <input type="checkbox">
          <label aria-label="Can do returns">
            <!-- can do returns -->
          </label>
        </div>
      </div>
      <div class="table-cell big-column-right">
        <h4 class="context">
          <!-- no title -->
        </h4>
        <a href="/v18/pages/remove_access?user_id=long_email_address@test.co.uk">
          Remove
        </a>
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->
      <div class="table-cell">
        <h3 class="sr-only">
          Row 2
        </h3>
        <h4 class="context">
          People with access
        </h4>
        office@abstraction-bros.co.uk
      </div>
      <div class="table-cell">
        <h4 class="context">
          Date
        </h4>
        28 June 2015
      </div>
      <div class="table-cell checkbox-cell">
        <h4 class="context">
          Manage returns
        </h4>
        <div class="multiple-choice">
          <input type="checkbox">
          <label aria-label="Can do returns">
            <!-- can do returns -->
          </label>
        </div>
      </div>
      <div class="table-cell big-column-right">
        <h4 class="context">
          <!-- no title -->
        </h4>
        <a href="/v18/pages/remove_access?user_id=long_email_address@test.co.uk">
          Remove
        </a>
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->
      <div class="table-cell">
        <h3 class="sr-only">
          Row 3
        </h3>
        <h4 class="context">
          People with access
        </h4>
        office@abstraction-bros.co.uk
      </div>
      <div class="table-cell">
        <h4 class="context">
          Date
        </h4>
        1 May 2014
      </div>
      <div class="table-cell  checkbox-cell">
        <h4 class="context">
          Manage returns
        </h4>
        <div class="multiple-choice">
          <input type="checkbox">
          <label aria-label="Can do returns">
            <!-- can do returns -->
          </label>
        </div>
      </div>
      <div class="table-cell big-column-right">
        <h4 class="context">
          <!-- no title -->
        </h4>
        <a href="/v18/pages/remove_access?user_id=long_email_address@test.co.uk">
          Remove
        </a>
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->
      <div class="table-cell">
        <h3 class="sr-only">
          Row 3
        </h3>
        <h4 class="context">
          People with access
        </h4>
        admin@abstraction-bros.co.uk
      </div>
      <div class="table-cell">
        <h4 class="context">
          Date
        </h4>
        4 July 2016
      </div>
      <div class="table-cell  checkbox-cell">
        <h4 class="context">
          Manage returns
        </h4>
        <div class="multiple-choice">
          <input type="checkbox">
          <label aria-label="Can do returns">
            <!-- can do returns -->
          </label>
        </div>
      </div>
      <div class="table-cell big-column-right">
        <h4 class="context">
          <!-- no title -->
        </h4>
        <a href="/v18/pages/remove_access?user_id=long_email_address@test.co.uk">
          Remove
        </a>
      </div>
    </div>

  </div>

  <!-- <input class="button medium-space" type="submit" value="Save" aria-disabled="true"> -->

  <script src="/public/javascripts/underscore.min.js"></script>
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/javascripts/license_results.js"></script>

</main>
{% endblock %}
