{% extends "../head.html" %}

{% block page_title %}
  Choose how we contact you - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <div class="big-space"></div>

  <!-- back -->
  <div class="small-space">
    <a href="#" class="link-back" onclick="history.go(-1)">Back</a>
  </div>

  <form data-branching>

    <div class="form-group grid-row small-space">

      <fieldset class="column-two-thirds medium-space">

        <div class="medium-space">
          <h1 class="heading-large">
            How would you prefer us to contact you about your licence?
          </h1>
        </div>

        <p>
          We will use this method to send you notifications if possible. We are in the process of updating our IT systems, so you may still receive communication by other methods too.
        </p>

        <div class="medium-space">

          <div class="multiple-choice">
            <input id="radio-1" type="radio" name="radio-group" value="licences-contact-letter">
            <label for="radio-1">
              Sunnybrooke Farm, Jammingford<br>
              Birmingham,<br>
              B37 6RY<br>
            </label>
          </div>

          <div class="multiple-choice">
            <input id="radio-2" type="radio" name="radio-group" value="licences-contact-letter">
            <label for="radio-2">
              Habingdon Lodge<br>
              Oxford,<br>
              OX22 8AH<br>
            </label>
          </div>

        </div>

      </fieldset>

      <div class="column-two-thirds">
        <input onclick="" value="Use this postal address" class="button" role="button" type="submit">
      </div>

    </div>
  </form>

  <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous">
  </script>

  <script>
    $(function() {
      $('form[data-branching]').on('submit', function(ev) {
        var path = $(this).find('input:checked').val();
        window.location.href = path;
        ev.preventDefault();
        return false;
      });
    });
  </script>

</main>

{% endblock %}
