{% extends "../view.html" %}

<!-- page title -->
{% block page_title %}
  Give access to view your licences - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../partials/nav-manage.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large clustered">
        Give access to view your licences
      </h1>

      <p class="lede">Enter the person’s email address and we’ll send them a link to create an account. This will give them access to view your licences.</p>
      <p class="lede">You can remove their access at any time.</p>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-full medium-space">

      <div class="form-group">
        <label class="form-label" for="full-name-f1">Give licences access to</label>
        <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
      </div>

      <div class="multiple-choice">
        <input type="checkbox">
        <label aria-label="Can do returns">
          This person can manage my abstraction records
        </label>
      </div>
    </div>
    <div class="column-full">
      <a class="button" href="access" role="button">Add user</a>
    </div>
  </div>

  <script src="/public/javascripts/underscore.min.js"></script>
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/javascripts/license_results.js"></script>

</main>
{% endblock %}
