{% extends "../head.html" %}

{% block page_title %}
  You are signed out - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- navigation block -->
  {% include "../partials/beta-banner.html" %}

  <div class="big-space"></div>

  <div class="grid-row big-space">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge clustered">
        You are signed out
      </h1>

      <p>You can <a href="licences">sign back in here</a><br></p>
    </div>
  </div>

  (feedback form goes here)

</main>
{% endblock %}
