{% extends "../../view.html" %}

<!-- page title -->
{% block page_title %}
  Licence return for  {{ pData.LicenceNumber }} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% from "custom_inc/waterdata.html" import permits %}
  {% for pNumber, pData in permits %}
  {% if pNumber==chosenPermitID %}

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../../partials/nav-admin-manage.html" %}

  <div class="grid-row medium-space">
    <div class="column-two-thirds">

      <!-- page heading -->
      {% if pData.LicenceName %}
        <h2 class="sub-head">
          <a href="returns">Abstraction record for {{ pData.LicenceSerialNo }}</a>
        </h2>
        <h1 class="heading-large spaceless">
          {{ pData.LicenceName }}
        </h1>
        <h2 class="heading-small spaceless">
          For the purpose of {{ pData.Purpose1 }}
        </h2>
      {% else %}
        <h2 class="sub-head">
          <a href="returns">Abstraction record</a>
        </h2>
        <h1 class="heading-large spaceless">
          Licence number {{pData.LicenceSerialNo}}
        </h1>
        <h2 class="heading-small spaceless">
          For the purpose of {{ pData.Purpose1 }}
        </h2>
      {% endif %}
    </div>
  </div>

  <div class="grid-row small-space">
    <div class="column-two-thirds">
      <p>
        <a href="../online-licence?wid={{ query.wid }}">View the associated licence for this return</a>
      </p>
    </div>
  </div>

  <legend>
    <h2 class="heading-medium">
      Abstraction amounts in litres
    </h2>
  </legend>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="form-group">
        <label class="form-label" for="april-amount">April</label>
        <input class="form-control amount-input" id="april-amount" name="april-amount" type="text" value="">litres
      </div>
      <div class="form-group">
        <label class="form-label" for="last-name-2">May</label>
        <input class="form-control amount-input" id="may-amount" name="may-amount" type="text" value="">litres
      </div>
      <div class="form-group">
        <label class="form-label" for="last-name-2">June</label>
        <input class="form-control amount-input" id="june-amount" name="june-amount" type="text" value="">litres
      </div>
      <div class="form-group">
        <label class="form-label" for="first-name-2">July</label>
        <input class="form-control amount-input" id="july-amount" name="july-amount" type="text" value="">litres
      </div>
      <div class="form-group">
        <label class="form-label" for="last-name-2">August</label>
        <input class="form-control amount-input" id="august-amount" name="august-amount" type="text" value="">litres
      </div>
      <div class="form-group">
        <label class="form-label" for="last-name-2">September</label>
        <input class="form-control amount-input" id="september-amount" name="september-amount" type="text" value="">litres
      </div>
    </div>
  </div>

  <a href="return-submitted?wid={{ query.wid }}" class="button">
    Submit return
  </a>



  {% endif %}
  {% endfor %}

</main>
{% endblock %}
