{% extends "../ex/head-signedin.html" %}

<!-- page title -->
{% block page_title %}
  Give access to view your licences - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../partials/nav-ex-manage.html" %}

  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Give access to your licences
      </h1>

    </div>
  </div>

  <div class="grid-row medium-space">
    <div class="column-two-thirds">
      <p>You can let others view your licence information. You can also allow them to complete your returns on your behalf.</p>

      <div class="notice medium-space">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          You will still be legally responsible for your returns
        </strong>
      </div>

      <p>You will be able to remove their access at any time.</p>

      <a href="give-access">Give access</a>
    </div>
  </div>

  <!-- table with four columns -->
  <div class="table small-space">                                          <!-- a table -->

    <div class="table-row table-head">                                      <!-- the table head -->
      <div class="table-cell bold-small column-50">
        People with access
      </div>
      <div class="table-cell bold-small column-20">
        Date
      </div>
      <div class="table-cell bold-small column-20">
        Manage returns
      </div>
      <div class="table-cell bold-small column-10">
        <!-- no title -->
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->
      <div class="table-cell">
        <h3 class="sr-only">
          People with access
        </h3>
        <h4 class="context">
          site-manager@abstraction-bros.co.uk
        </h4>
        marigold.bidbod@abstraction-bros.co.uk
      </div>
      <div class="table-cell">
        <h4 class="context">
          Date
        </h4>
        12 March 2015
      </div>
      <div class="table-cell checkbox-cell">
        <h4 class="context">
          Manage returns
        </h4>
        <div class="multiple-choice">
          <input type="checkbox">
          <label aria-label="Can do returns">
            <!-- can do returns -->
          </label>
        </div>
      </div>
      <div class="table-cell big-column-right">
        <h4 class="context">
          <!-- no title -->
        </h4>
        <a href="/v20/ex/access-remove-confirm?user_id=long_email_address@test.co.uk">
          Remove
        </a>
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->
      <div class="table-cell">
        <h3 class="sr-only">
          Row 2
        </h3>
        <h4 class="context">
          People with access
        </h4>
        office@abstraction-bros.co.uk
      </div>
      <div class="table-cell">
        <h4 class="context">
          Date
        </h4>
        28 June 2015
      </div>
      <div class="table-cell checkbox-cell">
        <h4 class="context">
          Manage returns
        </h4>
        <div class="multiple-choice">
          <input type="checkbox">
          <label aria-label="Can do returns">
            <!-- can do returns -->
          </label>
        </div>
      </div>
      <div class="table-cell big-column-right">
        <h4 class="context">
          <!-- no title -->
        </h4>
        <a href="/v20/ex/access-remove-confirm?user_id=long_email_address@test.co.uk">
          Remove
        </a>
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->
      <div class="table-cell">
        <h3 class="sr-only">
          Row 3
        </h3>
        <h4 class="context">
          People with access
        </h4>
        office@abstraction-bros.co.uk
      </div>
      <div class="table-cell">
        <h4 class="context">
          Date
        </h4>
        1 May 2014
      </div>
      <div class="table-cell  checkbox-cell">
        <h4 class="context">
          Manage returns
        </h4>
        <div class="multiple-choice">
          <input type="checkbox">
          <label aria-label="Can do returns">
            <!-- can do returns -->
          </label>
        </div>
      </div>
      <div class="table-cell big-column-right">
        <h4 class="context">
          <!-- no title -->
        </h4>
        <a href="/v20/ex/access-remove-confirm?user_id=long_email_address@test.co.uk">
          Remove
        </a>
      </div>
    </div>

    <div class="table-row medium-space">                                    <!-- a data row starts -->

      <div class="table-cell">
        <h3 class="sr-only">
          Row 3
        </h3>
        <h4 class="context">
          People with access
        </h4>
        admin@abstraction-bros.co.uk
      </div>

      <div class="table-cell">
        <h4 class="context">
          Date
        </h4>
        4 July 2016
      </div>

      <div class="table-cell  checkbox-cell">
        <h4 class="context">
          Manage returns
        </h4>
        <div class="multiple-choice">
          <input type="checkbox">
          <label aria-label="Can do returns">
            <!-- can do returns -->
          </label>
        </div>
      </div>

      <div class="table-cell big-column-right">
        <h4 class="context">
          <!-- no title -->
        </h4>
        <a href="/v20/ex/access-remove-confirm?user_id=long_email_address@test.co.uk">
          Remove
        </a>
      </div>

    </div>

  </div>

  <button class="button" type="submit" disabled="disabled" aria-disabled="true">Update access</button>

  <!-- <input class="button medium-space" type="submit" value="Save" aria-disabled="true"> -->

  <script src="/public/v6/javascripts/underscore.min.js"></script>
  <script src="/public/v6/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/v6/javascripts/license_results.js"></script>

</main>
{% endblock %}
