{% extends "../../layout.html" %}
{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>

  {% from "custom_inc/conditions.html" import permits %}
  {% for pNumber, pData in permits %}
  {% if pNumber==chosenPermitID %}

  <nav id="navigate">
    <!-- breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
      <ol role="breadcrumbs">
        <li><a href="/v15/pages/licences">Your licences</a></li>
        <li><a href="/v15/pages/online_licence-b?wid={{ pNumber }}">Licence number: {{ pData.LicenceSerialNo }}</a></li>
          <!-- {{ pData.LicenceSerialNo }}</a></li> -->
      </ol>
    </div>

    <!-- manage controls -->
    <div class="manage" id="manage">
      <div class="right">
        <a href="/v12_2/change_password/new_password.html" class="change-password">Change&nbsp;password</a>
        <a href="/v12_2/pages/signin" class="sign-out">Sign&nbsp;out</a>
      </div>
    </div>
  </nav>

  <!-- back -->
  <a href="#" class="link-back" onclick="history.go(-1)">Back</a>

  <!-- page title -->
  <h1  class="heading-large">Abstraction purposes for licence number {{ pData.LicenceSerialNo }}</h1>
    <!--<br>Starts 1 July 2006 and ends 1 July 2018
    -->

  <div class="grid-row">
    <div class="column-full">

      <h2 class="heading-medium">Public water supply</h2>

      <div class="datatablepp first-datapp">
        <label>                                                                 Abstraction period
        </label>
        <div class="licenceAnswerv12">                                          May to September
        </div>
      </div>

      <div class="datatablepp">
        <label>                                                                 Abstraction amount
        </label>
        <div class="licenceAnswerv12">                                          300m/h
        </div>
      </div>

      <div class="datatablepp">
        <label>                                                                 Abstraction amount
        </label>
        <div class="licenceAnswerv12">                                          5,000m/d
        </div>
      </div>

      <div class="datatablepp">
        <label>                                                                 Abstraction amount
        </label>
        <div class="licenceAnswerv12">                                          60,000m/a
        </div>
      </div>

      <br>

      <h2 class="heading-medium">Site activity</h2>

      <div class="datatablepp first-datapp">
        <label>                                                                 Abstraction period
        </label>
        <div class="licenceAnswerv12">                                          May to September
        </div>
      </div>

      <div class="datatablepp">
        <label>                                                                 Abstraction amount
        </label>
        <div class="licenceAnswerv12">                                          300m/h
        </div>
      </div>

      <div class="datatablepp">
        <label>                                                                 Abstraction amount
        </label>
        <div class="licenceAnswerv12">                                          5,000m/d
        </div>
      </div>

      <div class="datatablepp">
        <label>                                                                 Abstraction amount
        </label>
        <div class="licenceAnswerv12">                                          60,000m/a
        </div>
      </div>

      <br>

      <h2 class="heading-medium">Industry and evaporative cooling</h2>

      <div class="datatablepp first-datapp">
        <label>                                                                 Abstraction period
        </label>
        <div class="licenceAnswerv12">                                          August to September
        </div>
      </div>

      <div class="datatablepp">
        <label>                                                                 Abstraction amount
        </label>
        <div class="licenceAnswerv12">                                          300m/h
        </div>
      </div>

      <div class="datatablepp">
        <label>                                                                 Abstraction amount
        </label>
        <div class="licenceAnswerv12">                                          5,000m/d
        </div>
      </div>

      <div class="datatablepp">
        <label>                                                                 Abstraction amount
        </label>
        <div class="licenceAnswerv12">                                          60,000m/a
        </div>
      </div>

      <br>

      <h2 class="heading-medium">Aquaculture</h2>

      <div class="datatablepp first-datapp">
        <label>                                                                 Abstraction period
        </label>
        <div class="licenceAnswerv12">                                          April to July
        </div>
      </div>

      <div class="datatablepp">
        <label>                                                                 Abstraction amount
        </label>
        <div class="licenceAnswerv12">                                          300m/h
        </div>
      </div>

      <div class="datatablepp">
        <label>                                                                 Abstraction amount
        </label>
        <div class="licenceAnswerv12">                                          5,000m/d
        </div>
      </div>

      <div class="datatablepp">
        <label>                                                                 Abstraction amount
        </label>
        <div class="licenceAnswerv12">                                          60,000m/a
        </div>
      </div>

    </div>
  </div>

  {% endif %}
  {% endfor %}

</main>

{% endblock %}
