{% extends "v18/head.html" %}

{% block page_title %}
  Licences added to your account - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <div class="big-space"></div>

  <!-- main -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Licences added to your account
      </h1>

      <div class="small-space">

        <h2 class="heading-medium">
          We found 7 licences
        </h2>

        <p>
          If you continue these licences will be added to your account once we have verified your identity.
        </p>

        <h2 class="heading-medium">
          We were not able to match these licence numbers:
        </h2>

        <ul class="list list-bullet text">
          <li>
            01/12/14/0062
          </li>
          <li>
            01/14/11/0001/r01
          </li>
          <li>
            11/28/00/0014
          </li>
        </ul>

        <h3 class="heading-medium">
          Next steps
        </h3>

        <ul class="list list-bullet">
          <li>check the unmatched licence numbers and <a href="#" onclick="history.go(-1)">try adding them again</a>, along with the licences we did match</li>
          <li>continue with only the matched licences (you can add more licences later)</li>
          <li>contact us about the licences we could not match</li>
        </ul>

        <p><a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a></p>

        <p>Telephone: <a href="tel:+03708506506">03708 506 506</a></p>

        <p>Telephone from outside the UK: <a href="tel:+441142825312">+44 (0) 114 282 5312</a></p>

        <p>Minicom (for the hard of hearing): <a href="tel:+441142825312">+44 (0) 114 282 5312</a></p>

        <p>Lines are open Monday to Friday, 8am to 6pm (GMT).</p>

      </div>

      <!-- continue button -->
      <a href="../returns/returns-list" class="button medium-space">
        View returns
      </a>

    </div>
  </div>
</main>

{% endblock %}
