{% extends "../head.html" %}

<!-- page title -->
{% block page_title %}
  ~ Your online account - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>

  <!-- navigation block -->
  {% include "../partials/nav_head.html" %}

  <div class="big-space">
    <nav id="navigate">
      <!-- breadcrumbs -->
      <div class="breadcrumbs" id="breadcrumbs">
        <ol role="breadcrumbs">
          <li><a href="">Change password</a></li>
        </ol>
      </div>
    </nav>
  </div>

  <!-- page title -->
  <h1 class="heading-large big-space">~ Change your password</h1>

  <!-- create account -->
  <div class="grid-row">
    <div class="column-two-thirds">
      <!-- <h2 class="heading-medium small-space">Change your password</h2> -->
      <p>You can change your account password here</p>
      <a class="button medium-space" href="/v17/pages/change_password/change_password.html" role="button">Change your account password</a>
    </div>
  </div>

  <script src="/public/javascripts/underscore.min.js"></script>
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/javascripts/license_results.js"></script>

</main>
{% endblock %}
