{% extends "../view.html" %}

{% block page_title %}
  Choose how we contact you - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../partials/nav-head.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="form-group">
        <fieldset>

          <legend>
            <h1 class="heading-medium">
              Choose how we contact you
            </h1>
          </legend>

          <p>
            Please tell us how you would like to receive notifications about changes to your abstraction conditions.
          </p>

          <div class="multiple-choice" data-target="contact-by-email">
            <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes" checked="checked">
            <label for="example-contact-by-email">Email</label>
          </div>
          <div class="panel panel-border-narrow medium-space" id="contact-by-email">
            <label class="form-label" for="contact-email">Email address</label>
            <p class="bold-small">
              office@abstractioneers.com
              <!-- <input class="form-control" name="contact-email" type="text" id="contact-email"> -->
            </p>
            <a href="contact-preferences-alt">Choose another email address</a>
          </div>

          <!-- <div class="multiple-choice" data-target="contact-by-phone">
            <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
            <label for="example-contact-by-phone">Phone</label>
          </div>
          <div class="panel panel-border-narrow js-hidden medium-space" id="contact-by-phone">
            <label class="form-label" for="contact-phone">Phone number</label>
            <p>
              <input class="form-control" name="contact-phone" type="text" id="contact-phone">
            </p>
            <input class="button" type="submit" value="Use this" disabled="disabled" aria-disabled="true">
          </div> -->

          <div class="multiple-choice" data-target="contact-by-text">
            <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
            <label for="example-contact-by-text">Letter</label>
          </div>

          <div class="panel panel-border-narrow js-hidden medium-space" id="contact-by-text">
            <label class="form-label" for="contact-text-message">Contact address</label>
            <p>
              <!-- <input class="form-control" name="contact-text-message" type="text" id="contact-text-message"> -->
              <textarea class="form-control form-control-3-4" name="licence_no" id="licence_no" rows="5" value="{{data.licence_no}}" required >
Sunnybrooke Farm, Jammingford
Birmingham,
B37 6RY
              </textarea>
            </p>
            <input class="button" type="submit" value="Use this" disabled="disabled" aria-disabled="true">
          </div>

        </fieldset>
      </div>

    </div>
  </div>
</main>

{% endblock %}
