{% extends "../view.html" %}

<!-- page title -->
{% block page_title %}
  Licence number {{ pData.LicenceNumber }} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% from "custom_inc/waterdata.html" import permits %}
  {% for pNumber, pData in permits %}
  {% if pNumber==chosenPermitID %}

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../partials/nav-view.html" %}

  <!-- page title -->
  {% if pData.LicenceName %}
    <h1 class="heading-large">{{ pData.LicenceName }}</h1>
  {% else %}
    <h1 class="heading-large">Licence number {{ pData.LicenceSerialNo }}</h1>
  {% endif %}

  <div class="datatable datahead">
    <label>Licence name</label>
    <div class="dataText">

      {% if pData.LicenceName %}
        {{ pData.LicenceName }}</br>
        <a href="/v17/pages/online_licence_rename?wid={{ query.wid }}">Rename this licence</a>
      {% else %}
        <!-- <span>No name chosen</span></br>  -->
        <a href="/v17/pages/online_licence_rename?wid={{ query.wid }}">Name this licence</a>
      {% endif %}

    </div>
  </div>

  <!-- Licence holder -->
  <div class="datatable">
    <label>Licence holder</label>
    <div class="dataText">
      {{ pData.HolderFirstName }} {{ pData.HolderSurname }}</br>
      <a href="/v17/pages/contact_details?wid={{ pNumber }}">View licence contact details</a>
    </div>
  </div>


  <div class="datatable">
    <label>Start date</label>
    <div class="dataText">
      {{ pData.EffectiveDateStart }}
    </div>
  </div>

  <div class="datatable">
    <label>End date</label>
    <div class="dataText">
      {{ pData.EffectiveDateEnd }}
    </div>
  </div>

  <div class="datatable">
    <label>Source of supply</label>
    <div class="dataText">{{ pData.Source}}</div>
  </div>

  <div class="medium-space"></div>

  <h2 class="heading-medium">
    {{ pData.Purpose1 }}
  </h2>

  <div class="datatable">
    <label>Period of abstraction</label>
    <div class="dataText">{{ pData.PeriodofAbstraction }}</div>
  </div>

  <div class="datatable">

    {% if pData.Point2 %}

      <label>Points of abstraction</label>
      <div class="dataText">

        {{ pData.Point1 }}<br>
        {{ pData.Point2 }}<br>

        {% if pData.Point3 %}
          {{ pData.Point3 }}<br>
        {% endif %}

        {% if pData.Point4 %}
          {{ pData.Point4 }}<br>
        {% endif %}

        {% if pData.Point5 %}
          {{ pData.Point5 }}<br>
        {% endif %}
        <a href="/v17/pages/points/points?wid={{ query.wid }}">View details of abstraction points for this purpose</a>

      </div>

      {% else %}

      <label>Point of abstraction</label>
        <div class="dataText">

        {{ pData.Point1 }}<br>
        <a href="/v17/pages/points/points?wid={{ query.wid }}">View details of abstraction point for this purpose</a>

      {% endif %}

    </div>

    <div class="datatable">
      <label>Abstraction conditions</label>
      <div class="dataText">
        {{ pData.Condition1 }}</br>

        {% if pData.Condition2 %}
          {{ pData.Condition2 }}</br>
        {% endif %}

        {% if pData.Condition3 %}
          {{ pData.Condition3 }}</br>
        {% endif %}

        {% if pData.Condition4 %}
          {{ pData.Condition4 }}</br>
        {% endif %}

        {% if pData.Condition5 %}
          {{ pData.Condition5 }}</br>
        {% endif %}

        <a href="/v17/pages/conditions/conditions?wid={{ query.wid }}">View details of abstraction conditions for this purpose</a>

    </div>
  </div>

  <div class="datatable">
    <label>Abstraction amounts</label>
    <div class="dataText">

      {{ pData.Amount1 }}</br>

      {% if pData.Amount2 %}
        {{ pData.Amount2 }}</br>
      {% endif %}

      {% if pData.Amount3 %}
        {{ pData.Amount3 }}</br>
      {% endif %}

      {% if pData.Amount4 %}
        {{ pData.Amount4 }}</br>
      {% endif %}

      {% if pData.Amount5 %}
        {{ pData.Amount5 }}</br>
      {% endif %}

  </div>

  <h2 class="heading-medium">
    {{ pData.Purpose2 }}
  </h2>

  <div class="datatable">
    <label>Period of abstraction</label>
    <div class="dataText">{{ pData.PeriodofAbstraction }}</div>
  </div>

  <div class="datatable">

    {% if pData.Point2 %}

      <label>Points of abstraction</label>
      <div class="dataText">

        {{ pData.Point1 }}<br>
        {{ pData.Point2 }}<br>

        {% if pData.Point3 %}
          {{ pData.Point3 }}<br>
        {% endif %}

        {% if pData.Point4 %}
          {{ pData.Point4 }}<br>
        {% endif %}

        {% if pData.Point5 %}
          {{ pData.Point5 }}<br>
        {% endif %}
        <a href="/v17/pages/points/points?wid={{ query.wid }}">View details of abstraction points for this purpose</a>

      </div>

      {% else %}

      <label>Point of abstraction</label>
        <div class="dataText">

        {{ pData.Point1 }}<br>
        <a href="/v17/pages/points/points?wid={{ query.wid }}">View details of abstraction point for this purpose</a>

      {% endif %}

    </div>

    <div class="datatable">
      <label>Abstraction conditions</label>
      <div class="dataText">
        {{ pData.Condition1 }}</br>

        {% if pData.Condition2 %}
          {{ pData.Condition2 }}</br>
        {% endif %}

        {% if pData.Condition3 %}
          {{ pData.Condition3 }}</br>
        {% endif %}

        {% if pData.Condition4 %}
          {{ pData.Condition4 }}</br>
        {% endif %}

        {% if pData.Condition5 %}
          {{ pData.Condition5 }}</br>
        {% endif %}

        <a href="/v17/pages/conditions/conditions?wid={{ query.wid }}">View details of abstraction conditions for this purpose</a>

    </div>
  </div>

  <div class="datatable big-space">
    <label>Abstraction amounts</label>
    <div class="dataText">

      {{ pData.Amount1 }}</br>

      {% if pData.Amount2 %}
        {{ pData.Amount2 }}</br>
      {% endif %}

      {% if pData.Amount3 %}
        {{ pData.Amount3 }}</br>
      {% endif %}

      {% if pData.Amount4 %}
        {{ pData.Amount4 }}</br>
      {% endif %}

      {% if pData.Amount5 %}
        {{ pData.Amount5 }}</br>
      {% endif %}
    </div>
  </div>

    <!-- bad data block -->
    {% include "../partials/bad-data.html" %}

{% endif %}
{% endfor %}

</main>
{% endblock %}
