{% extends "../head.html" %}

{% block page_title %}
  This test service is now closed - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <!-- <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div> -->

  <!-- page title -->

  <div class="big-space"></div>

  <h1  class="heading-large">
    This test service is now closed
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p>
        You won’t be able to access your licence information online today. The live version of the manage your water abstraction or impoundment licence service will be available on the Environment Agency’s website from tomorrow, 27 March 2018.
      </p>

      <div class="panel panel-border-wide">
        <p>
          We’ll email you a new link to the service as soon as it’s live.
        </p>
      </div>

      <p>
        Thank you for your help in testing our service.
      </p>

    </div>
  </div>

</main>

{% endblock %}
