{% extends "../head.html" %}

{% block page_title %}
    Check your email - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <p></p><br>

      <a class="link-back" onclick="history.go(-1)">Back</a>

      <h1 class="form-title heading-large">
        Check your email
      </h1>

      <p class="lede">
        We’ve sent you an email with instructions about what to do next.
      </p>

      <a href="resend-email">
        Haven’t received anything?
      </a>

    </div>
  </div>

</main>

{% endblock %}
