{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


        <h1 class="form-title heading-large">
          Check your email
        </h1>




        <p>We have sent a password reset link to your email. Check your inbox to reset your password.</p>

        <a href="/v9/resend_password">Not received anything?</a>



    </div>
  </div>
</main>

{% endblock %}
