{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


        <h1 class="form-title heading-large">
          Reset your password
        </h1>




        <p>Give us your email address so we can send password reset instructions to your email.</p>

  <form action="/docs/tutorials-and-examples" method="post" class="form">

        <div class="form-group">
          <label class="form-label-bold" for="user-id">Email address</label>
          <input type="text" class="form-control" id="user-id">
        </div>

        <a class="button button-start" href="/v9/check_email" role="button">Reset password</a>


</form>
    </div>
  </div>
</main>

{% endblock %}
