{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


        <h1 class="form-title heading-large">
          Reset your password
        </h1>




        <p>Give us your email address so we can send password reset instructions to your email.</p>

  <form action="/v9/check_email" method="get" class="form" id="password_reset" data-parsley-validate="" data-parsley-errors-messages-disabled>

        <div class="form-group">
          <label for="user-id">
            <span class="form-label-bold">Email address</span>
            <span class="error-message hidden">Error message about personal details goes here</span>
          </label>
          <input type="email" class="form-control" id="user-id" required=""/>
        </div>

        <input type="submit" value="Reset password" class="button button-start" role="button"/>


</form>
    </div>
  </div>
</main>

{% endblock %}
