{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

        <form action="/v9/resent_password" method="get" class="form" id="password_reset" data-parsley-validate="" data-parsley-errors-messages-disabled>

          <div class="error-summary hidden" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
                  Please enter a valid email address
                </h2>

                <p>
                  Optional description of the errors and how to correct them
                </p>

                <ul class="error-summary-list">
                  <li><a href="#user-id">Please enter a valid email address</a></li>
                </ul>

              </div>

              <h1 class="heading-large">
                Check your junk mail
              </h1>




              <p class="lede">If the email is not in your inbox, check your junk mail. If you've not recieved anything after five minutes, then request another email.</p>



            <div class="form-group">
              <label for="user-id">

                  <fieldset>
                    <span class="form-label-bold">Email address</span>
                    <span class="error-message hidden">Please enter a valid email address</span>
                  </fieldset>

              </label>

              <input type="email" class="form-control" id="user-id" required=""/>
            </div>


              <input type="submit" value="Reset password" class="button button-start" role="button"/>


      </form>



    </div>
  </div>
</main>

{% endblock %}
