{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


        <h1 class="form-title heading-large">
          Check your junk mail
        </h1>


        <p>If the email is not in your inbox, check your junk mail. If you've not recieved anything after five minutes, then request another email.</p>

        <form action="/docs/tutorials-and-examples" method="post" class="form">

              <div class="form-group">
                <label class="form-label-bold" for="user-id">Email address</label>
                <input type="text" class="form-control" id="user-id">
              </div>

              <a class="button button-start" href="/v9/resent_password" role="button">Reset password</a>


      </form>



    </div>
  </div>
</main>

{% endblock %}
