{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">



      <h1 class="form-title heading-large">
        Check your email
      </h1>




      <p>We’ve sent you a new link and instructions to reset your password.</p>

      <details class="closeOnOpen">
                <summary><span class="summary">Still haven’t received anything?</span></summary>

                <p>Please call our helpline on 03708 506 506.</p>

                <p>You can also call:</p>

                <ul class="list list-bullet">
                  <li>from outside of the UK, +44 (0) 114 282 5312</li>
                  <li>our minicom service for the hard of hearing, 03702 422 54</li>
                </ul>  

</details>






    </div>
  </div>
</main>

{% endblock %}
