{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">



      <h1 class="form-title heading-large">
        Check your email
      </h1>




      <p>We have sent another password reset link to your email. Check your inbox to reset your password.</p>

      <details class="closeOnOpen">
                <summary><span class="summary">Still not received anything?</span></summary>

              Please phone the Water abstraction team on 0800 0000 0000.
</details>






    </div>
  </div>
</main>

{% endblock %}
