{% extends "../admin.html" %}

<!-- page title -->
{% block page_title %}
  Review licence data - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../partials/nav-admin-view.html" %}

  <!-- page title -->
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1  class="heading-large">
        Review licence data
      </h1>
    </div>
  </div>

  <!-- search function -->
  {% include "../partials/admin-search.html" %}

  <!-- flextable function -->
  <div class="grid-row medium-space">
    <div class="column-full">


      <div class="table" id="licences-as-tasks">                                <!-- table starts -->

        <div class="table-row table-head">                                      <!-- tablehead starts -->

          <div class="table-cell bold-small">
            <a href="#" aria-label="Sort by licence number">
              Licence number
            </a>
          </div>
          <div class="table-cell bold-small" id="ar-name-column">
            <a href="#" aria-label="Sort by licence number">
              Last editor
            </a>
          </div>
          <!-- <div class="table-cell bold-small">
            Contact information
          </div> -->
          <div class="table-cell bold-small">
            <a href="#" aria-label="Sort by licence number">
              Last edit
            </a>
          </div>
          <div class="table-cell bold-small" id="ar-status-column">
            <a href="#" aria-label="Sort by licence number">
              Status
              <span class="sort-icon"> &#x25be;</span>
            </a>
          </div>
        </div>                                                                  <!-- tablehead ends -->

        <div class="table-row medium-space">                                    <!-- a data row starts -->
          <div class="table-cell">
            <a href="/v17/admin/ar-task?wid=3">
              <h2 class="faux-link">
                018/54/13/04
              </h2>
            </a>
          </div>
          <div class="table-cell">
            <label class="context">
              Last editor
            </label>
            J Mipps
          </div>
          <div class="table-cell">
            <label class="context">
              Last edited
            </label>
            2 July 2018
          </div>
          <div class="table-cell status-column center">
            <strong class="task-completed open-task hang-left">
              In progress
            </strong>
          </div>
        </div>                                                                  <!-- a data row ends -->

        <div class="table-row medium-space">                                    <!-- a data row starts -->
          <div class="table-cell">
            <h2 class="faux-link">
              <a href="/v17/admin/ar-admin-task?wid=3">
                012/14/22/06
              </a>
            <h2>
          </div>
          <div class="table-cell">
            <label class="context">
              Last editor
            </label>
            Celeste Fishood
          </div>
          <!-- <div class="table-cell">
            jombodge.twick@massive-water.com
          </div> -->
          <div class="table-cell">
            <label class="context">
              Last edited
            </label>
            1 July 2018
          </div>
          <div class="table-cell status-column center">
            <strong class="task-completed not-completed hang-left">
              For NALD approval
            </strong>
          </div>
        </div>                                                                  <!-- a data row ends -->

        <div class="table-row medium-space">                                    <!-- a data row starts -->
          <div class="table-cell">
            <h2 class="faux-link">
              011/21/01/76
            <h2>
          </div>
          <div class="table-cell">
            <label class="context">
              Last editor
            </label>
            Ben Jucks
          </div>
          <!-- <div class="table-cell">
            jombodge.twick@massive-water.com
          </div> -->
          <div class="table-cell">
            <label class="context">
              Last edited
            </label>
            12 July 2018
          </div>
          <div class="table-cell status-column center">
            <strong class="task-completed not-completed hang-left">
              For NALD approval
            </strong>
          </div>
        </div>                                                                  <!-- a data row ends -->

        <div class="table-row medium-space">                                    <!-- a data row starts -->
          <div class="table-cell">
            <h2 class="faux-link">
              016/001/11/22
            <h2>
          </div>
          <div class="table-cell">
            <label class="context">
              Last editor
            </label>
            J Mipps
          </div>
          <!-- <div class="table-cell">
            jombodge.twick@massive-water.com
          </div> -->
          <div class="table-cell">
            <label class="context">
              Last edited
            </label>
            16 June 2018
          </div>
          <div class="table-cell status-column center">
            <strong class="task-completed not-completed hang-left">
              For NALD approval
            </strong>
          </div>
        </div>                                                                  <!-- a data row ends -->

        <div class="table-row medium-space">                                    <!-- a data row starts -->
          <div class="table-cell">
            <h2 class="faux-link">
              12/21/11/001r01
            <h2>
          </div>
          <div class="table-cell">
            <label class="context">
              Last editor
            </label>
            <!-- no editor -->
          </div>
          <div class="table-cell">
            <label class="context">
              Last edited
            </label>

          </div>
          <div class="table-cell status-column center">

          </div>
        </div>                                                                  <!-- a data row ends -->

        <div class="table-row medium-space">                                    <!-- a data row starts -->
          <div class="table-cell">
            <h2 class="faux-link">
              100/001/03/14
            <h2>
          </div>
          <div class="table-cell">
            <label class="context">
              Last editor
            </label>
            J Mipps
          </div>
          <div class="table-cell">
            <label class="context">
              Last edited
            </label>
            31 May 2018
          </div>
          <div class="table-cell status-column center">
            <!-- <strong class="task-completed hang-left">
              Completed
            </strong> -->
          </div>
        </div>                                                                  <!-- a data row ends -->

      </div>                                                                    <!-- table ends -->

    </div>
  </div>

  <script src="/public/v6/javascripts/underscore.min.js"></script>
  <script src="/public/v6/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/v6/javascripts/license_results.js"></script>

</main>

{% endblock %}
