{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
{{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>
  {% from "custom_inc/waterdatav3.html" import permits %}

  {% for pNumber, pData in permits %}
  {% if pNumber==chosenPermitID %}

  <!-- breadcrumbs -->
  <nav>
    <div class="breadcrumbs">
      <ol role="breadcrumbs">
        <li><a href="/v12_2/online_licence/licences_list/licences">Your licences</a></li>
        <li><a href="/v12_2/pages/online_licence?wid={{ pNumber }}">Licence number: {{ pData.LicenceSerialNo }}</a></li>

        <a href="/v12_2/pages/signin" class="sign-out2">Sign out</a>
        <a href="/v12_2/change_password/new_password.html" class="change-password">Change password</a>
      </ol>
    </div>
  </nav>


  <!-- back -->
  <a href="#" class="link-back" onclick="history.go(-1)">Back</a>
  <!-- page title -->
  <h1  class="heading-large">Licence number {{ pData.LicenceSerialNo }}</h1>
  <p>Starts 1 July 2006 and ends 1 July 2018</p>
  <p></p>
  <p></p>

  <div class="datatable datahead">
    <label>Licence name </label>
    <div class="licenceAnswerv7">
      <span>No name chosen</span></br> <a href="/v12_2/online_licence/rename/online_licence_rename?wid=1">Name this licence</a>
    </div>
  </div>

  <div class="datatable">
    <label>Licence holder</label>
    <div class="licenceAnswerv7">
      {{ pData.FirstName }} {{ pData.Surname }}</br>
      <a href="/v12_2/pages/contact_details?wid={{ pNumber }}">Licence contact details</a></div>
    </div>
    <div class="datatable">
      <div class="sourceofsupplyqv7">Source of supply</div>
      <div class="licenceAnswerv7">Inland water lake known as Featherall Lake at SJ3185632865, surrounding water sources</div>
    </div>
    <div class="datatable">
      <div class="sourceofsupplyqv7">Period of abstraction</div> <div class="licenceAnswerv7">June to Sept</div>
    </div>

    <div class="datatable">
      <label>Purposes of abstraction
      </label>
      <div class="licenceAnswerv7">
        <details>
          <summary><span class="summary">This licence has 4 purposes of abstraction</span></summary>
          <div>
            <p></p>
            <p class="inset-content">
              Public water supply<br>
              Site activity<br>
              Industry and evaporative cooling<br>
              Aquaculture<br>
            </p>
          </div>
          <a href="" class="inset-content">View details of each purpose</a>
        </details>
      </div>
    </div>
    <div class="datatable">
      <label>Points of abstraction</label>
      <div class="licenceAnswerv7">
        <details>
          <summary><span class="summary">This licence has 5 points of abstraction</span></summary>
          <div>
            <p></p>
            <p class="inset-content">
              Colliters Brook, grid reference SE 1234 5678<br>
              Drain at Littleport, grid reference SE 1234 5647<br>
              Drain at South Copse, grid reference SE 1234 5644<br>
              Appledown Brook, grid reference SE 1234 5621<br>
              Borehole at Frippington, grid reference SE 1234 5715<br>
            </p>
          </div>
          <a href="points-b?wid=7" class="inset-content">View details of each point</a>
        </details>
      </div>
    </div>

    <div class="datatable">
      <div class="sourceofsupplyqv7">Abstraction conditions</div>
      <div  class="licenceAnswerv7">
      <details>
        <summary><span class="summary">This licence has 3 abstraction conditions</span></summary>
        <div>
          <p></p>
          <p class="inset-content">
            Chemical cessation condition<br>
            Rates condition<br>
            Eel screening condition
          </p>
        </div>
        <a href="/v13/pages/conditions/3_conditions?wid=1" class="inset-content">View abstraction condition details</a><br>
      </details>
      </div>
    </div>

    </div>

    <div class="datatable">
      <label>Abstraction amounts</label>
      <div class="licenceAnswerv7">
        900m/hour<br>
        2,500m/day<br>
        1,250,000m/annum<br>
        <a href="/v13/pages/points_purposes/tabbed_points?wid=1">View amount by point or purpose</a>
      </div>
    </div>

{% endif %}
{% endfor %}

</main>
{% endblock %}
