{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
{{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>
  {% from "custom_inc/waterdatav3.html" import permits %}

  {% for pNumber, pData in permits %}
  {% if pNumber==chosenPermitID %}

  <nav>
    <div class="breadcrumbs">
      <ol role="breadcrumbs">
        <li><a href="#">Your services</a></li>
        <li><a href="/v12_2/online_licence/licences_list/licences">Abstraction licences</a></li>
        <li><a href="/v12_2/pages/online_licence?wid={{ pNumber }}">Licence serial number: {{ pData.LicenceSerialNo }}</a></li>
        <!-- <a href="/v12_2/pages/signin" class="sign-out2">Sign out</a>
        <a href="/v12_2/change_password/new_password.html" class="change-password">Change password</a> -->

      </ol>
    </nav>
  </div>
  <a href="#" class="link-back" onclick="history.go(-1)">Back</a>

  <!-- <h1 class="heading-medium">Licence serial number <span style="margin-left:0.9em;">{{ pData.LicenceSerialNo }}</span></h1> -->
  <h1 class="heading-large">Summary of temporary conditions</h1>

  <p><strong class="bold-medium">Time–limited conditions for  {{ pData.LicenceSerialNo }}</strong><br>
  Valid 1 July 2006 to 1 July 2018</p>
  <p></p>

  <div class="grid-row"> <!-- warning -->
    <div class="column-two-thirds">

      <h2 class="lede">The changed licence terms include&#58;</h2>

      <table>
        <tbody>
          <tr>
            <td>
              <strong class="bold-small">Abstraction purpose</strong><br>
            Maintaining flow through a decorative water feature
            </td>
          </tr>
          <tr>
            <td>
              <strong class="bold-small">Means of abstraction</strong><br>
              A borehole not exceeding 15 metres in depth and 250 millilitres in
            </td>
          </tr>
        </tbody>
      </table>

      <p></p>

      <!-- <p><a href="/v13/pages/variation_summary?wid=1">See full terms of my licence</a></p> -->
      <p><a href="">See full terms of my licence</a></p>

    </div>
  </div>

{% endif %}

{% endfor %}





</main>

{% endblock %}
