{% extends "../admin.html" %}

{% block page_title %}
  Update your contact information - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- internal beta banner block -->
  {% include "../partials/feedback-banner.html" %}

  <!-- navigation block -->
  {% include "../partials/nav-admin-head.html" %}

  <div class="big-space"></div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Update your contact information
      </h1>

      <p>
        This is the information that will be available to your public contacts.
      </p>

      <form method="POST" action="/admin/notifications/1/data">
        <input type="hidden">

          <div class="form-group ">
            <label class="form-label" for="contact_name">
              <span class="form-label-bold">Your name</span>
            </label>
            <input class="form-control" id="contact_name" type="text" name="contact_name" value="Tim Teace">
          </div>

          <div class="form-group ">
            <label class="form-label" for="contact_role">
              <span class="form-label-bold">Job title</span>
            </label>
            <input class="form-control" id="contact_role" type="text" name="contact_role" value="Environment Agency Officer">
          </div>

          <div class="form-group ">
            <label class="form-label" for="contact_email">
              <span class="form-label-bold">Contact email</span>
            </label>
            <input class="form-control" id="contact_email" type="text" name="contact_email" value="tim.teace@environment-agency.gov.uk">
          </div>

          <div class="form-group ">
            <label class="form-label" for="contact_phone">
              <span class="form-label-bold">Contact phone number</span>
            </label>
            <input class="form-control" id="contact_phone" type="text" name="contact_phone" value="+44 7654 123 123">
          </div>

          <div class="form-group ">
            <label class="form-label" for="sender_address">
              <span class="form-label-bold">Contact postal address</span>
            </label>
            <textarea maxlength="8000" class="form-control form-control-3-4" name="sender_address" id="sender_address" rows="7" value="">Rivers Team,
Environment Agency,
Northway Lane,
Riversmeet House,
Industrial Estate,
Tewkesbury GL20 8JG
            </textarea>
          </div>

        <button type="submit" class="button">Update your contact information</button>

      </form>

    </div>
  </div>

</main>

{% endblock %}
