{% extends "v9/layoutv9.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back" onclick="history.go(-1)">Back</a>


        <h1 class="heading-large">
          Access removed
        </h1>




        <p class="lede">long_email_address@test.co.uk can no longer view your licences. They won’t be notified about this change.</p>

        <a href="/v12_2/online_licence/licence_access/manage_licences_views_wendy">Give someone access to view your licences</a>



    </div>
  </div>
</main>

{% endblock %}
