{% extends "layout.html" %}

{% set title = "Water test" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">


      {% from "custom_inc/water_permits.html" import permits %}



        {% for pNumber, pData in permits %}
          {% if pNumber==chosenPermitID %}

              <h2 class="heading-large">
                {{ pData.title }}
                <span class="font-medium" style="white-space: nowrap;">Ref: {{ pNumber }}</span>
              </h2>

							<p>Licence Serial No:{{ pData.LicenceSerialNo }}</p>

							<p>Licence holder: {{ pData.FirstName }} {{ pData.Surname }}</p>

							<p>{{ pData.Addressline1}}</p>
              <p>{{ pData.Addressline3}}</p>

              {% endif %}

          {% endfor %}



    </div>
  </div>

</main>

{% endblock %}
