{% extends "../head-signedin.html" %}

{% block page_title %}
  Abstraction return - process - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- navigation block -->
  {% include "../../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../../partials/nav-wirs-manage.html" %}

  <div class="big-space"></div>

  <!-- page title -->
  <h1  class="heading-large medium-space">
    Process a return
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds medium-space">

      <div class="form-group">

        <fieldset>
          <div class="form-group">
            <label class="form-label" for="return-reference">Enter a return reference</label>
            <input class="form-control return-reference" id="return-reference" name="return-reference" type="text" value="">
          </div>

        </fieldset>

        <a href="select-return?wid=32" class="button">Continue</a>

      </div>

    </div>
  </div>

</main>

{% endblock %}
