{% extends "../../head.html" %}

{% block page_title %}
  Create a password for your online account - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <div class="big-space"></div>

  <!-- <div class="small-space">
    <a href="signin" class="link-back" onclick="history.go(-1)">Back</a>
  </div> -->

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="post-confirm" method="get" class="form" id="password_reset" data-parsley-validate="" data-parsley-errors-messages-disabled>

        <h1 class="heading-large">
          Whose attention should the security code be for?
        </h1>

        <!-- input -->
        <div class="form-group">
          <label class="form-label-bold" for="fao">
            Enter a name and, or department (optional)
          </label>
          <!-- <span class="form-hint">
            <p>For example: Michelle Sopp, Account team</p>
          </span> -->
          <input type="text" class="form-control" id="fao"/>
        </div>

        <input type="submit" value="Continue" class="button" role="button"/>

      </form>

    </div>
  </div>

</main>

{% endblock %}
