{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<style>
  td{vertical-align:top;}
  table td, table th{padding:0.5em;width:50%;}
  th,th p{font-weight:bold;background-color:#EDEDED;}
  th p, td p{margin:0.2em 0;}
</style>
<main id="content" role="main">



      <h1 class="heading-xlarge">
        Prototype change log<h1>

<p>This summarises the main changes we’ve made in response to feedback.</p>


      <h2 class="heading-medium">Version 1a to 1b</h2>
      <p><a href="/v1">Version 1</a> was our first version prototype.</p> <p>1a was user tested. 1b was formed as a second iteration of version 1, in responce to user testing.</p>
      <p> The table below lists the changes between version 1a and 1b following user feedback.</p>

    </div>
      <table>

      			<tbody><tr>
      				<th>
      					<p>Summary of change in v1</p>
      				</th>
      				<th>
      					<p>Reason/source</p>
      				</th>
      			</tr>
      			<tr>
      				<td>
      					<p>Changed header to sentence case on online licence page</p>
      				</td>
      				<td>
      					<p>Grammar correction</p>
      				</td>
      			</tr>
      			<tr>
      				<td>
      					<p>Alignment change from two column table list, to left aligned single column list on online licence page</p>
      				</td>
      				<td>
      					<p>Users had trouble understanding the information on the page</p>
      				</td>
      			</tr>
      			<tr>
      				<td>
      					<p>Name and site address added on online licence page</p>
      				</td>
      				<td>
      					<p>Internal user feedback states this information is useful for site visits</p>
      				</td>
      			</tr>
      			<tr>
      				<td>
      					<p>Other contact details link moved up the page, next to associated content on online licence page</p>
      				</td>
      				<td>
      					<p>Feedback suggests links were not easy to spot in their previous positions</p>
      				</td>
      			</tr>
      			<tr>
      				<td>
      					<p>Abstraction point grid ref - title change, and data format change on online licence page</p>
      				</td>
      				<td>
      					<p>Internal users expected to see SJ or SK grid references</p>
      				</td>
      			</tr>
      			<tr>
      				<td>
      					<p>Abstraction amount label change on online licence page</p>
      				</td>
      				<td>
      					<p>Mirroring the format on the paper licence to make amounts clearer
</p>
      				</td>
      			</tr>
            <tr>
              <td>
                <p>Hands off flow restriction added to online licence page</p>
              </td>
              <td>
                <p>Internal users noted this is important information
          </p>
              </td>
            </tr>
            <tr>
              <td>
                <p>Changed header to sentence case on terms of use page</p>
              </td>
              <td>
                <p>Grammar correction
          </p>
              </td>
            </tr>
            <tr>
              <td>
                <p>Changed header to sentence case to contact details page</p>
              </td>
              <td>
                <p>Grammar correction
          </p>
              </td>
            </tr>
            <tr>
              <td>
                <p>Changed ‘Business details’ to ‘Abstraction return contact details’ on contact details page
</p>
              </td>
              <td>
                <p>Internal user feedback states that returns have a separate address, no user research has suggested that business address is required

          </p>
              </td>
            </tr>
      	</tbody></table>
  </div>

  <h2 class="heading-medium">Version 2</h2>
  <p><a href="/v2">Version 2</a> was our second version prototype.</p>
  <p> The table below lists the changes between Version 1 and 2 following user feedback.</p>

</div>
  <table>

        <tbody><tr>
          <th>
            <p>Summary of changes in v2</p>
          </th>
          <th>
            <p>Reason/source</p>
          </th>
        </tr>
        <tr>
          <td>
            <p>Updated quantity condition in line with example licence</p>
          </td>
          <td>
            <p>Continuity update</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Abstraction point grid ref changed in line with example licence
</p>
          </td>
          <td>
            <p>Continuity update</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Date effective from has been added to the licence page</p>
          </td>
          <td>
            <p>Feedback from internal user is that this can be different from the date of which the licence is obtained</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Period of abstraction to seasonal information, rather than date ranges</p>
          </td>
          <td>
            <p>Feedback from internal users is that this is the current format, as confirmed by the example licence, updated in line with example licence</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Added map pages with responsive maps, linked to from a maps list on terms of use page</p>
          </td>
          <td>
            <p>To obtain user feedback on map user needs</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Removed ‘change’ links on contact page</p>
          </td>
          <td>
            <p>These links are currently not linked up to a function, so should be removed</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Billing contact details have been added on the contact page</p>
          </td>
          <td>
            <p>Internal user feedback states that Billing is a further separate set of address and contact details</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>External user pages have been added for testing. These are to remain the same as internal user view pages for now, but may change based on user need</p>
          </td>
          <td>
            <p>Anticipating separate feedback from two sets of user groups</p>
          </td>
        </tr>
        <tr>
            <td>Instead of 'Effective from' and 'Expiry date' listed seperatly, 'Licence effective dates: 11 July 2016 - 11 July 2017'
            </td>
            <td>To save list space
            </td>
          </tr>
          <tr>
          <td>Map list changed to only include one map, the abstraction point
          </td>
          <td>As the other example maps were confusing users, as not current examples. Users will tell us if any maps are missing. In the event it is confirmed only one map is needed, we will change the show and hide to a direct link.
          </td>
        </tr>
        <tr>
        <td>Primary address changed to 'Site contact details', Licence holder details, changed to 'Registered licence holder details'
        </td>
        <td>Changed following feedback from a subject matter expert
        </td>
      </tr>
      <tr>
      <td>Contact details link on the licence page moved to next to name, and changed from 'Other contact details' to 'Contact details'
      </td>
      <td>Changed following internal user confusion and feedback
      </td>
    </tr>
    <tr>
    <td>Terms page updated with an accordion, rather than a series of show and hide links
    </td>
    <td>Bugs were being reported with the use of multiple show and hides, and this version is much more mobile friendly regarding the clickable area
    </td>
    </tbody></table>
</div>

  <div class='column-full'><a href="/">  <p></p>< Back to previous</a></div>
</main>

{% endblock %}
