{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

      <div class="grid-row">
          <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Tell us what you think about this service
      </h1>
      <details>
        <summary><span class="summary">Is your licence information wrong?</span></summary>
        <div class="panel panel-border-narrow">

If the licence information in this service is different from your paper licence, please contact us:
<p></p>
<ul class="list list-bullet">
  <li>
          email, enquiries@environment-agency.gov.uk</li>
        <li>  phone, 03708 506 506</li>
        <li>  minicom if you’re deaf or hard of hearing, 03702 422 549</li>
        </ul>
          <p></p>
          Phone lines are open Monday to Friday, 8am to 6pm. See <a href="https://www.gov.uk/call-charges">GOV.UK</a> for call charge information.
      </div>
      </details>
      </div>    </div>
<script id="ss-embed-416960">(function(d,w){var s,ss;ss=d.createElement('script');ss.type='text/javascript';ss.async=true;ss.src=('https:'==d.location.protocol?'https://':'http://')+'www.smartsurvey.co.uk/s/r/embed.aspx?i=371736&c=416960';s=d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ss, s);})(document,window);</script>
      </main>

{% endblock %}
