{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Tell us what you think about this service
      </h1>
      <p>If your licence information is incorrect, please contact us</p>
      <details>
        <summary><span class="summary">please contact us by</span></summary>
        <div class="panel panel-border-narrow">
          If your licence information is incorrect, please contact us by:
          <p></p>
          email, enquiries@environment-agency.gov.uk</br>
          phone, 03708 506 506</br>
          minicom if you’re deaf or hard of hearing, 03702 422 549</br>
          <p></p>
          Phone lines are open Monday to Friday, 8am to 6pm. See GOV.UK for call charge information.
      </div>
      </details>
<script id="ss-embed-416960">(function(d,w){var s,ss;ss=d.createElement('script');ss.type='text/javascript';ss.async=true;ss.src=('https:'==d.location.protocol?'https://':'http://')+'www.smartsurvey.co.uk/s/r/embed.aspx?i=371736&c=416960';s=d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ss, s);})(document,window);</script><div>Create your own online surveys with <a href="https://www.smartsurvey.co.uk">SmartSurvey</a>.</div>
</div></div>
</main>

{% endblock %}
