{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        View my water resource license online prototype: Alpha<h1>

    <h2 class="heading-medium"><a href="/v2">Current test version</a></h2>


<h2 class="heading-medium">Protoype of the standard water resource view my permit journey</h2>


<a href="/changelog">Prototype change log</a></li>


      <h2 class="heading-medium">Versions</h2>

			<ul class="list list-bullet">
        <li>
          <a href="/v2">
            Version 2 pages
          </a>
        </li>
        <li>
          <a href="/v1">
            Version 1 pages
          </a>
        </li>
        <li>
          <a href="/v0">
            Version 0 pages
          </a>
        </li><li>
					<a href="/experimentalpages">
						Experimental pages
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}
