{% include "includes/phase_banner_alpha.html" %}
{% extends "layout.html" %}
{% block page_title %}
  Water abstraction licence
{% endblock %}
{% block content %}
<main id="content" role="main">
    <div class="phase-banner-alpha">
      <p>
      <strong class="phase-tag">ALPHA</strong>
    <span>This is an Alpha prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
    <nav>
    <div class="breadcrumbs">
    	  <ol role="breadcrumbs">
          <li><a href="#">Your Services</a></li>
    	    <li><a href="#">Abstraction Licences</a></li>
    	  </ol>
    	</div>
</nav>
    </div>

  <h1 class="heading-large">
    Your water abstraction licence
  </h1>
    <div class="column-full">
    <p>Licence no: 123456</p>
  </div>
<div class="column-one-half">Abstraction point grid ref:</div>
  <div class="column-one-half">123456567<p></p></div>

  <div class="column-one-half">Period of abstraction:</div>
    <div class="column-one-half">01/05/1990 - 14/01/2050<p></p></div>

  <div class="column-one-half">Your abstraction allowance in cubic meters:</div>
    </div>
<div class="column-one-half">
100 hour<p></p>
11,000 day<p></p>
14,000,000 year<p></p>
</div>
</div>
  <a href="/online_licence/terms">Check your licence term of use</a></br></br>

    <a href="online_licence/contact_details">Check your licence contact details</a>


</div>
</main>

{% endblock %}
