{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        View my water resource license online prototype: Alpha<h1>

<p>Prototype of the Water Abstraction Licence online</p>


      <h2 class="heading-medium">Version 1a: Pages</h2>

			<ul class="list list-bullet">
        <li>
          <a href="/v1a/online_licence">
            Online licence page
          </a>
        </li><li>
					<a href="v1a/online_licence/terms">
						Licence terms
					</a>
				</li>
        <li>
					<a href="v1a/online_licence/contact_details">
						Contact details
					</a>
				</li>
			</ul>
      <h2 class="heading-medium">Version 1b: Pages</h2>

      <ul class="list list-bullet">
        <li>
          <a href="/v1b/online_licence">
            Online licence page
          </a>
        </li><li>
          <a href="v1b/online_licence/terms">
            Licence terms
          </a>
        </li>
        <li>
          <a href="v1b/online_licence/contact_details">
            Contact details
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
