{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
  <div class="column-full">

      <h1 class="heading-xlarge">
        View my water resource licence online prototype: Alpha<h1>

<p>Prototype for Water abstraction licence online. Alpha sprint 3.</p>

<h2 class="heading-medium">Prototype version 3</h1></div>

<div class='column-one-third'>
  <h2 class="heading-medium">External/internal users</h2>
<h3 class="heading-small">(Version a, first half of sprint)</h3>

  <ul class="list list-bullet">
    <li>
      <a href="/v3/a/ext/signin">
        Sign in
      </a>
    </li>
    <li>
      <a href="/v3/a/ext/licences">
        Abstraction licences
      </a>
    </li>
    <li>
      <a href="/v3/a/ext/online_licence">
        Licence
      </a>
    </li><li>
      <a href="/v3/a/ext/online_licence/terms">
        Licence terms
      </a>
    </li>
    <li>
      <a href="/v3/a/ext/online_licence/contact_details">
        Contact details
      </a>
    </li>
  </ul>
      </div>
    <div class='column-two-thirds'>
      <h2 class="heading-medium">Internal/external user licences from stored data</h2>
<h3 class="heading-small">(Version b, second half of sprint)</h3>
			<ul class="list list-bullet">
        <li>
          <a href="/v3/a/int/signin">
            Sign in
          </a>
        </li>
        <li>
          <a href="/v3/a/int/licences">
            Abstraction licences
          </a>
        </li>
        <li>
          <a href="/v3/a/int/online_licence?wid=1">
            Licence
          </a>
        </li>
        <li>
					<a href="/v3/a/int/online_licence/terms?wid=1">
						Licence terms
					</a>
				</li>
        <li>
					<a href="/v3/a/int/online_licence/contact_details?wid=1">
						Contact details
					</a>
				</li>
			</ul>
    </div>
  </div>
</main>

{% endblock %}
