{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
<div class='column-two-thirds'>

      <h1 class="heading-xlarge">
        View my water resource licence online prototype: Alpha<h1>

<p>Prototype for Water abstraction licence online. Alpha sprint 7.</p>




    <h2 class="heading-medium">User testing prototype version 7</h1>
      Includes data used in previous versions

    			<ul class="list list-bullet">
            <li>
              <a href="/v7b/signin">
                Sign in
              </a>
            </li>
            <li>
              <a href="/v7b/licences">
                Abstraction licences
              </a>
            </li>
            <li>
              <a href="/v7b/online_licence?wid=1">
                Licence
              </a>
            </li>
            <li>
    					<a href="/v7b/online_licence/terms?wid=1">
    						Licence terms
    					</a>
    				</li>
            <li>
    					<a href="/v7b/online_licence/contact_details?wid=1">
    						Contact details
    					</a>
    				</li>
    			</ul>
</br>
          <h2 class="heading-medium">Data testing prototype version 7</h1>
            Includes a fifth licence, for data/design review;
          </br>a high character count example of NALD licence data.


          			<ul class="list list-bullet">
                  <li>
                    <a href="/v7/signin">
                      Sign in
                    </a>
                  </li>
                  <li>
                    <a href="/v7/licences">
                      Abstraction licences
                    </a>
                  </li>
                  <li>
                    <a href="/v7/online_licence?wid=1">
                      Licence
                    </a>
                  </li>
                  <li>
          					<a href="/v7/online_licence/terms?wid=1">
          						Licence terms
          					</a>
          				</li>
                  <li>
          					<a href="/v7/online_licence/contact_details?wid=1">
          						Contact details
          					</a>
          				</li>
          			</ul>

        </div>


  </div>
</main>

{% endblock %}
