{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
<div class='column-two-thirds'>

      <h1 class="heading-xlarge">
        View my water resource licence online prototype: Alpha<h1>

<p>Prototype for Water abstraction licence online sign in.</p>




    <h2 class="heading-medium">Prototype version 9</h2>
  <h3 class="heading-small">Sign in pages</h3>
    			<ul class="list list-bullet">
            <li>
              <a href="/v9/signin">
                Sign in - incorrect username or password
              </a> <span class="form-hint">Validation against correct username and password.</span>
            </li>
            <li>
              <a href="/v9/signin2">
                Sign in - missing username or password
              </a> <span class="form-hint">Validation against a username and password being entered</span>
            </li>
          </ul>
  <h3 class="heading-small">Reset password pages</h3>
      		<ul class="list list-bullet">
            <li>
              <a href="/v9/password_reset">
                Password reset
              </a> <span class="form-hint">Validation against a valid email format being entered</span>
            </li>
            <li>
              <a href="/v9/check_email?">
                Check your email</a>
            </li>
            <li>
            <a href="/v9/resend_password">
              Ask for another email
            </a> <span class="form-hint">Validation against a valid email format being entered</span>
          </li>
          <li>
          <a href="/v9/resent_password">
            Check your email, or contact us</a>
          </li>
        </ul>
  <h3 class="heading-small">Change password pages</h3>
        <ul class="list list-bullet">
          <li>
        <a href="/v9/change_password">
          Change your password - password must have</a>  <span class="form-hint">Validation as specified, with 250 max character count</span>
      </li>
        <li>
          <a href="/v9/change_password2">
                Change your password - passwords don't match</a>  <span class="form-hint">Validation as specified, with 250 max character count</span>
        </li>
      </ul>
      <h3 class="heading-small">Licence pages</h3>
            <ul class="list list-bullet">
                  <li>
              <a href="/v9/licences">
                Abstraction licences
              </a>
            </li>
            <li>
              <a href="/v9/online_licence?wid=1">
                Licence
              </a>
            </li>
            <li>
    					<a href="/v9/online_licence/terms?wid=1">
    						Licence terms
    					</a>
    				</li>
            <li>
    					<a href="/v9/online_licence/contact_details?wid=1">
    						Contact details
    					</a>
    				</li>
    			</ul>
        </div>


  </div>
</main>

{% endblock %}
