{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        View my water resource license online prototype: Alpha<h1>

<p>Prototype of a Water Abstraction Licence online</p>


      <h2 class="heading-medium">Version 1: Pages</h2>

			<ul class="list list-bullet">
        <li>
          <a href="/online_licence">
            Online licence page
          </a>
        </li><li>
					<a href="/online_licence/terms">
						Licence terms
					</a>
				</li>
        <li>
					<a href="/online_licence/contact_details">
						Sign in
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}
