{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        View my water resource license online prototype: Alpha<h1>

<p>Protoype of the standard water resource view my permit journey</p>


      <h2 class="heading-medium">Experiemental Pages Version 1 with GTM</h2>

      <ul class="list list-bullet">
        <li>
          <a href="/GTM/startgtm">
            Start page - with GTM
          </a>
        </li><li>
          <a href="/GTM/registergtm">
            Register page - with GTM
          </a>
        </li>
        <li>
          <a href="/GTM/signingtm">
            Sign in page - with GTM
          </a>
        </li>
        <li>
          <a href="/GTM/check-your-answers-pagegtm">
            Registration detais - with GTM
          </a>
        </li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
