{% extends "../head-signedin.html" %}

{% block page_title %}
  Choose your region - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner block -->
  {% include "../../partials/beta-banner.html" %}

  <!-- navigation block -->
  {% include "../../partials/nav-eo-returns.html" %}

  <div class="big-space"></div>

    <div class="grid-row medium-space">
      <div class="column-two-thirds">

        <div class="medium-space">
          <h1 class="heading-large">
            Choose a region
          </h1>
        </div>

        <div class="multiple-choice radios">
          <input id="radio-1" type="radio" name="radio-group">
          <label for="radio-1" class="heading-medium">Anglia</label>
        </div>

        <div class="multiple-choice radios">
          <input id="radio-2" type="radio" name="radio-group">
          <label for="radio-2" class="heading-medium">Midlands</label>
        </div>

        <div class="multiple-choice radios">
          <input id="radio-3" type="radio" name="radio-group">
          <label for="radio-3" class="heading-medium">North-east</label>
        </div>

        <div class="multiple-choice radios">
          <input id="radio-4" type="radio" name="radio-group">
          <label for="radio-4" class="heading-medium">South-east</label>
        </div>

        <div class="multiple-choice radios">
          <input id="radio-5" type="radio" name="radio-group">
          <label for="radio-5" class="heading-medium">South-west</label>
        </div>

        <div class="multiple-choice radios">
          <input id="radio-6" type="radio" name="radio-group">
          <label for="radio-6" class="heading-medium">Yorkshire and North-east</label>
        </div>

        <div class="multiple-choice radios">
          <input id="radio-7" type="radio" name="radio-group">
          <label for="radio-7" class="heading-medium">All regions</label>
        </div>

      </div>
    </div>

    <a href="returns-overview" class="button">Continue</a>

  </form>

  <script
	  src="https://code.jquery.com/jquery-2.2.4.min.js"
	  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	  crossorigin="anonymous">
  </script>

  <script>
    $(function() {
      $('form[data-branching]').on('submit', function(ev) {
        var path = $(this).find('input:checked').val();
        window.location.href = path;
        ev.preventDefault();
        return false;
      });
    });
  </script>


</main>

{% endblock %}
