{% extends "v16/head.html" %}

{% block page_title %}
  We are sending you a letter - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- alpha banner -->
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>

  <!-- breadcrumbs -->
  <nav>
    <div class="breadcrumbs">
      <ol role="breadcrumbs">
        <li><a href="/v14/pages/manage">Manage licences</a></li>
        <li><a href="">Request to view licences</a></li>
          <!-- {{ pData.LicenceSerialNo }}</a></li> -->

        <a href="/v12_2/pages/signin" class="sign-out2">Sign out</a>
        <a href="/v12_2/change_password/new_password.html" class="change-password">Change password</a>
      </ol>
    </div>
  </nav>

  <!-- back -->
  <a href="#" class="link-back" onclick="history.go(-1)">Back</a>

  <!-- main -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        We are sending you a letter
      </h1>

      <p>
        Your letter containing a security code and instructions will be sent by 2nd Class mail to:
      </p>

      <p>
        111 Abbey House, Abingdon-on-Thames, Oxfordshire, RE1 1GA
      </p>

      <p>
        You should receive it within 5 working days.
      </p>

      <p class="medium-space">
        <a href="/v14/pages/licences.html">Back to licences</a><br>
      </p>

      <a href="/v14/pages/manage-auth.html">Use a security code</a>

    </div>
  </div>
</main>

{% endblock %}
