{% extends "layout.html" %}

{% set title = "Water abstraction licence" %}

{% block page_title %}
    {{title}} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">

    <div class="phase-banner-alpha">
      <p>
      <strong class="phase-tag">ALPHA</strong>
    <span>This is an Alpha prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
          	</div>

<nav>
    <div class="breadcrumbs">
    	  <ol role="breadcrumbs">
          <li><a href="#">Your services</a></li>
    	    <li><a href="#">Abstraction licences</a></li>
          <li></li>
    	  </ol>
</nav>
</div>
<a href="/v7b/signin" class="sign-out2">Sign out</a>


<h1 class="heading-large">
  Your water abstraction licences
  </h1>
  <div class="greyline" style="border-bottom: 1px solid #bfc1c3;"></div>
<a href="/v7b/online_licence?wid=1"> <div class="menubox"><div class="sourceofsupplyqv7">H2Go Power</div><div class="licenceAnswerv7">Licence number: 03/28/60/0002</div></div></a>

<a href="/v7b/online_licence?wid=2"> <div class="menubox"><div class="sourceofsupplyqv7">Bridge Farm</div><div class="licenceAnswerv7">Licence number: 03/28/60/0003</div></div></a>
</div>

  <a href="/v7b/online_licence?wid=3"> <div class="menubox"><div class="sourceofsupplyqv7">West Power</div><div class="licenceAnswerv7">Licence number: 03/28/60/0004</div></div></a>
</div>


  <a href="/v7b/online_licence?wid=4"> <div class="menubox"><div class="sourceofsupplyqv7">Valley's Water</div><div class="licenceAnswerv7">Licence number: 03/28/60/0005</div></div></a>
</div>


</div></div>

</main>
{% endblock %}
