{% extends "../../../head.html" %}
<!-- page title -->
{% block page_title %}
  Licence access was shared - GOV.UK ~
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner -->
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>

  <div class="big-space"></div>

  <!-- main -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        * Licence access was shared *
      </h1>

      <p>
        * Access to your licences was shared with <span class="bold">geoff@waterboss.co.uk</span> *
      </p>

      <p>
        * We will send you a code to give to Geoff so that they can be verified as someone who can manage your licences *
      </p>

      <p>
        * You may also continue to view and manage your licences *
      </p>

      <p>
        <a href="/v16/pages/registration/create_password">
          * View my licences *
        </a>
      </p>

    </div>
  </div>
</main>

{% endblock %}
