{% extends "../../../head.html" %}

<!-- page title -->
{% block page_title %}
  We did not share access to your licences - GOV.UK ~
{% endblock %}

{% block content %}
<main id="content" role="main">

  <!-- beta banner -->
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is an BETA prototype, details may be missing whilst we build the service. Your feedback will help us improve this service.</span>
    </p>
  </div>

  <div class="big-space"></div>

  <!-- back -->
  <a href="#" class="link-back" onclick="history.go(-1)">Back</a>

  <!-- main -->
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        * We did not share access to your licences *
      </h1>

      <p>
        * We won’t share access to your licences until you tell us we can. *
      </p>

      <p>
        * You can view your licences *
      </p>

      <p>
        <a href="/v16/pages/registration/create_password">
          * View my licences *
        </a>
      </p>

    </div>
  </div>
</main>

{% endblock %}
